Backup_2026-00-22/Planner → Auto Post copy (testy.json
{
  "updatedAt": "2026-04-22T15:41:23.245Z",
  "createdAt": "2026-04-22T15:41:05.703Z",
  "id": "JCacuhKWck2rR7Sg",
  "name": "Planner → Auto Post copy (testy",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "Po zmianie danych w googlesheetzczytuje dane i je zmienia w clickup",
        "height": 896,
        "width": 3156,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        1392
      ],
      "typeVersion": 1,
      "id": "dbb80a6d-e6a0-43c6-8ff2-0e702161b982",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconsole.log('=== DEBUG KLIENT ===');\nconsole.log('spreadsheetId:', data.spreadsheetId);\nconsole.log('sheetName:', data.sheetName);\nconsole.log('clickupListaId:', data.clickupListaId);\nconsole.log('długość ID:', (data.spreadsheetId || '').length);\n\n// Walidacja\nif (!data.spreadsheetId || data.spreadsheetId.length < 10) {\n  throw new Error(`Nieprawidłowy spreadsheetId: \"${data.spreadsheetId}\"`);\n}\n\nif (!data.sheetName) {\n  throw new Error('Brak sheetName');\n}\n\nreturn [{ json: data }];"
      },
      "id": "e9022561-6458-4465-b3e7-3eebbb0c5374",
      "name": "🔍 Debug Klient1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        1856
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 20
            }
          ]
        }
      },
      "id": "5b490eaf-d549-4c9c-b946-b11ab0285c78",
      "name": "⏰ Cron 7:2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1520,
        1856
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ONXIcPfs-YFQI7Cl28vYHjtk-0C8UmDQTN5sUL8OPHY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1"
        },
        "options": {}
      },
      "id": "64707a23-fd5c-420e-a70d-620342142f03",
      "name": "📋 Get Master Sheet4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1728,
        1856
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7ffb4576-8a89-487a-b80c-39c0446d52db",
      "name": "🔄 SplitInBatches4",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1952,
        1856
      ]
    },
    {
      "parameters": {
        "jsCode": "const client = $input.first().json;\n\nconst isActive = String(client.aktywny || '').toUpperCase().trim();\nif (isActive !== 'TRUE' && isActive !== '1' && isActive !== 'TAK') {\n  return [{ json: { __skip: true, powod: 'nieaktywny', klient: client.nazwa } }];\n}\n\nif (!client.spreadsheet_id || !client.clickup_lista_id) {\n  return [{ json: { __skip: true, powod: 'brak spreadsheet_id lub clickup_lista_id', klient: client.nazwa } }];\n}\n\nconst MONTHS_PL = [\n  'STYCZEŃ','LUTY','MARZEC','KWIECIEŃ',\n  'MAJ','CZERWIEC','LIPIEC','SIERPIEŃ',\n  'WRZESIEŃ','PAŹDZIERNIK','LISTOPAD','GRUDZIEŃ'\n];\n\nconst now = new Date();\n\n// 🔥 generujemy 2 miesiące\nconst results = [];\n\nfor (let i = 0; i < 2; i++) {\n  const futureDate = new Date(now.getFullYear(), now.getMonth() + i, 1);\n\n  const sheetName = `${MONTHS_PL[futureDate.getMonth()]} CONTENT CALENDAR`;\n\n  console.log(`✅ Klient: ${client.nazwa} → ${sheetName}`);\n\n  results.push({\n    json: {\n      __skip: false,\n      klientId: String(client.klient_id || ''),\n      klientNazwa: String(client.nazwa || ''),\n      spreadsheetId: String(client.spreadsheet_id || '').trim(),\n      clickupListaId: String(client.clickup_lista_id || '').trim(),\n      sheetName\n    }\n  });\n}\n\nreturn results.map((r, i) => {\n  console.log(`➡️ ITEM ${i}: ${r.json.sheetName}`);\n  return r;\n});"
      },
      "id": "7346f774-7475-45c9-9281-5d5574aee243",
      "name": "⚙️ Przygotuj Klienta4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        1872
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.__skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "250cc7cd-78e7-4954-b869-89ebae2378a7",
      "name": "❓ Czy Aktywny4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2400,
        1872
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/{{ encodeURIComponent($json.sheetName + '!A1:ZZ30') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c87abd8b-2778-4348-9786-40483de98279",
      "name": "📊 Get Sheet Data4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        1856
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.taskId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: $json.typPosta + ': ' + ($json.tytul || $json.opis?.slice(0, 60) || 'Brak tytułu'),\n\n  description: `**Klient:** ${$json.klientNazwa}\n**Data:** ${$json.postDateLabel}\n**Typ:** ${$json.typPosta} | ${$json.typGrafiki}\n\n---\n\n### Opis\n${$json.opis}\n\n### CTA\n${$json.cta}\n\n### Hasztagi\n${$json.hasztagi}\n\n### Grafika\n${$json.linkGrafiki}\n\n### Notatki\n${$json.notatki}\n\n### Feedback\n${$json.feedback}`,\n\n  due_date: $json.dueTimestamp || null\n  // status USUNIĘTY — ClickUp użyje domyślnego\n}) }}",
        "options": {}
      },
      "id": "0e70329d-2ef5-45f0-84f3-aedf4a36244d",
      "name": "🔄 Update ClickUp4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        1584
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Ten node działa w trybie runOnceForEachItem\n// item = aktualny task z ClickUp (item.json)\n// $itemIndex = indeks obecnego itemu (0, 1, 2, ...)\n\nconst newTask = item.json;\n\nif (!newTask.id) {\n  throw new Error(`Brak ID taska — response: ${JSON.stringify(newTask).slice(0,300)}`);\n}\n\n// Pobierz WSZYSTKIE posty ze Split Rows, sparowane po indeksie\nconst allPosts = $('Code in JavaScript2').all();\nconst postData = allPosts[$itemIndex]?.json;\n\nif (!postData) {\n  throw new Error(`Brak postData dla indexu ${$itemIndex}. Dostępnych: ${allPosts.length}`);\n}\n\nif (!postData.colLetter) {\n  throw new Error(`Brak colLetter dla ${postData.tytul || '(brak tytułu)'} — keys: ${Object.keys(postData).join(', ')}`);\n}\n\n// writeRange BEZ apostrofów\nconst writeRange = `${postData.sheetName}!${postData.colLetter}25`;\n\nconsole.log(`✅ [${$itemIndex}] Task ${newTask.id} | ${postData.typPosta}: ${postData.tytul || '(brak tytułu)'} → ${writeRange}`);\n\nreturn {\n  json: {\n    newTaskId:     newTask.id,\n    writeRange,\n    spreadsheetId: postData.spreadsheetId,\n    sheetName:     postData.sheetName,\n    klientNazwa:   postData.klientNazwa,\n    tytul:         postData.tytul,\n    typPosta:      postData.typPosta,\n    colLetter:     postData.colLetter,\n    itemIndex:     $itemIndex\n  }\n};"
      },
      "id": "c04d9e55-a478-4c67-80b7-55e57451d9f9",
      "name": "🆔 Wyciągnij Task ID1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3984,
        2096
      ]
    },
    {
      "parameters": {
        "jsCode": "const sheetResp  = $input.first().json;\nconst clientMeta = $('⚙️ Przygotuj Klienta4').first().json;\n\nconsole.log('=== PARSE START ===');\nconsole.log('Klient:', clientMeta.klientNazwa);\n\nif (sheetResp.error || !sheetResp.values) {\n  return [{\n    json: {\n      __noData: true,\n      klientNazwa: clientMeta.klientNazwa,\n      sheetName: clientMeta.sheetName\n    }\n  }];\n}\n\nconst rows = sheetResp.values;\n\nconst R = {\n  data: 4, tytul: 5, typGrafiki: 6, typPosta: 7,\n  linkGrafiki: 10, opis: 12, cta: 14, hasztagi: 16,\n  status: 18, notatki: 20, feedback: 22, taskId: 24,\n};\n\nfunction colToLetter(idx) {\n  let r = '', n = idx + 1;\n  while (n > 0) { n--; r = String.fromCharCode(65 + (n % 26)) + r; n = Math.floor(n / 26); }\n  return r;\n}\n\nfunction cell(rowIdx, colIdx) {\n  const row = rows[rowIdx];\n  if (!row || colIdx >= row.length) return '';\n  const val = row[colIdx];\n  if (val === null || val === undefined) return '';\n  return String(val).trim();\n}\n\n/* 🔥 DODANE: ROW 8 i 9 */\nfunction getOpisGrafiki(col) {\n  const v = cell(8, col);\n  return v || null;\n}\n\nfunction getOpisVideo(col) {\n  const v = cell(9, col);\n  return v || null;\n}\n\nconst MO = {\n  'stycznia':0,'lutego':1,'marca':2,'kwietnia':3,\n  'maja':4,'czerwca':5,'lipca':6,'sierpnia':7,\n  'września':8,'października':9,'listopada':10,'grudnia':11\n};\n\nfunction parseDate(str) {\n  if (!str) return null;\n  const m = String(str).toLowerCase().match(\n    /(stycznia|lutego|marca|kwietnia|maja|czerwca|lipca|sierpnia|września|października|listopada|grudnia)\\s+(\\d{1,2}),?\\s+(\\d{4})/i\n  );\n  if (m) {\n    const mon = MO[m[1].toLowerCase()];\n    if (mon !== undefined) return new Date(Number(m[3]), mon, Number(m[2]));\n  }\n  return null;\n}\n\nconst SM = {\n  'APPROVED': 'Zatwierdzone przez klienta',\n  'WAITING FOR APPROVAL': 'Wyslane do klienta',\n  'NEEDS EDITING': 'Poprawki zakonczone',\n  'DRAFT': 'Do zrobienia',\n  'IN PROGRESS': 'W realizacji',\n  'PUBLISHED': 'W realizacji'\n};\n\nconst PUSTE = new Set(['','brak','none','null','undefined','task_id','task id','-','—','#ref!']);\nconst czyMaTask = id => id.length > 0 && !PUSTE.has(id.toLowerCase());\n\nconst maxCols = Math.max(0, ...rows.map(r => r?.length || 0));\nconst posts = [];\nlet currentDate = '', currentDateObj = null;\n\nfor (let col = 1; col < maxCols; col++) {\n\n  const dateInCol = cell(R.data, col);\n  if (dateInCol) {\n    currentDate = dateInCol;\n    currentDateObj = parseDate(dateInCol);\n  }\n\n  const tytul     = cell(R.tytul, col);\n  const opis      = cell(R.opis, col);\n  const linkRaw   = cell(R.linkGrafiki, col);\n  const typPosta  = cell(R.typPosta, col);\n  const typGraf   = cell(R.typGrafiki, col);\n  const statusRaw = cell(R.status, col);\n  const taskId    = cell(R.taskId, col);\n\n  const realTyp = typPosta && typPosta !== '-';\n  const realTytul = tytul && tytul !== '-';\n  const realOpis = opis && opis !== '-';\n  const realLink = linkRaw && !linkRaw.toLowerCase().includes('link to google');\n\n  if (!realTyp) continue;\n  if (!realTytul && !realOpis && !realLink) continue;\n\n  const cta      = cell(R.cta, col);\n  const hasztagi = cell(R.hasztagi, col);\n  const notatki  = cell(R.notatki, col);\n  const feedback = cell(R.feedback, col);\n\n  const cleanLink = realLink ? linkRaw : '';\n  const colLetter = colToLetter(col);\n  const juzMaTask = czyMaTask(taskId);\n\n  console.log(`  ${colLetter}: \"${tytul || opis?.slice(0,40)}\" | ${typPosta}`);\n\n  posts.push({\n    klientId: clientMeta.klientId,\n    klientNazwa: clientMeta.klientNazwa,\n    clickupListaId: clientMeta.clickupListaId,\n    spreadsheetId: clientMeta.spreadsheetId,\n    sheetName: clientMeta.sheetName,\n\n    colIdx: col,\n    colLetter,\n    writeRange: `${clientMeta.sheetName}!${colLetter}25`,\n\n    dataRaw: currentDate,\n    postDateISO: currentDateObj ? currentDateObj.toISOString() : null,\n    postDateLabel: currentDateObj\n      ? currentDateObj.toLocaleDateString('pl-PL', { weekday:'long', day:'numeric', month:'long', year:'numeric' })\n      : currentDate,\n    dueTimestamp: currentDateObj ? currentDateObj.getTime() : null,\n\n    tytul,\n    typGrafiki: typGraf,\n    typPosta,\n    linkGrafiki: cleanLink,\n\n    opis,\n    cta,\n    hasztagi,\n    notatki,\n    feedback,\n\n    /* 🔥 DODANE POLA */\n    OpisGrafiki: getOpisGrafiki(col),\n    OpisVideo: getOpisVideo(col),\n\n    statusRaw,\n    clickupStatus: SM[statusRaw?.toUpperCase()?.trim()] || 'Do zrobienia',\n\n    taskId,\n    juzMaTask,\n\n    __noData: false\n  });\n}\n\nconsole.log(`📊 ${clientMeta.klientNazwa}: ${posts.length} REALNYCH postów`);\n\nif (posts.length === 0) {\n  return [{ json: { __noData: true, klientNazwa: clientMeta.klientNazwa } }];\n}\n\nreturn posts.map(p => ({ json: p }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        1856
      ],
      "id": "7a4c5833-6d14-4f36-ad88-653452d57689",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "task-exists",
              "leftValue": "={{ $json.juzMaTask }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "292a0bc7-097a-4b41-9718-9a70afcbfefa",
      "name": "❓ IF task_id exists4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3248,
        1856
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/field/{{ $json.field_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"value\": \"{{$json.value}}\"  \n}",
        "options": {}
      },
      "id": "d78f10a3-be0e-4aae-b9fa-33b90b546ea4",
      "name": "🔄 Update ClickUp5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        1680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/field/{{ $json.field_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"value\": \"{{$json.value}}\"\n}",
        "options": {}
      },
      "id": "2db08e40-8fbb-4f6f-b51e-d575822c57db",
      "name": "🔄 Update ClickUp7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        1808
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{$json.status}}\"\n}",
        "options": {}
      },
      "id": "8d6ab6d9-3872-49e3-a23d-41ab1dff4f1c",
      "name": "🔄 Update ClickUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        1952
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/field/{{ $json.field_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  { \n    value: $json.value \n  } \n}}",
        "options": {}
      },
      "id": "84ec6698-1cf8-414c-9295-a65398b0cad9",
      "name": "🔄 Update ClickUp6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        1552
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/assignee/284536279",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a6a1b8fc-f8b2-4712-bfc8-f0af178279b8",
      "name": "🔄 Update ClickUp11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\n\nconst FIELDS = {\n  OpisGrafiki: \"e5e1f027-cdcd-4542-850f-494d2d2918f0\",\n  OpisVideo: \"1c50c888-79d1-4bf1-bc19-32b8fa7b12f6\",\n};\n\nconst USERS = {\n  grafika: \"290552377\",\n  video: \"284536279\",\n};\n\nconst clean = (v) => {\n  if (v === null || v === undefined) return null;\n  const s = String(v).trim();\n  return s.length ? s : null;\n};\n\nconst grouped = {};\n\nfor (const item of input) {\n  const i = item.json;\n\n  const taskId = i.taskId;\n  if (!taskId) continue;\n\n  if (!grouped[taskId]) {\n    grouped[taskId] = {\n      task_id: taskId,\n      fields: [],\n      assignees: []\n    };\n  }\n\n  const grafika = clean(i.OpisGrafiki);\n  if (grafika) {\n    grouped[taskId].fields.push({\n      field_id: FIELDS.OpisGrafiki,\n      value: grafika\n    });\n\n    grouped[taskId].assignees.push(USERS.grafika);\n  }\n\n  const video = clean(i.OpisVideo);\n  if (video) {\n    grouped[taskId].fields.push({\n      field_id: FIELDS.OpisVideo,\n      value: video\n    });\n\n    grouped[taskId].assignees.push(USERS.video);\n  }\n}\n\n// 🔥 FINAL CLEAN (tylko liczby + unique)\nreturn Object.values(grouped)\n  .filter(t => t.fields.length > 0)\n  .map(t => ({\n    json: {\n      task_id: t.task_id,\n      fields: t.fields,\n\n      // 🔥 TYLKO CYFRY, BEZ SET, BEZ OBJECT WRAPPERÓW\n      assignees: [...new Set(t.assignees)].map(id => String(id))\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        1408
      ],
      "id": "97e156ad-561e-44c9-9c97-6a2f9fc07eae",
      "name": "Nadanie zadania"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const clean = (v) => {\n    if (v === null || v === undefined) return \"\";\n    return String(v)\n      .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n      .trim();\n  };\n\n  const taskId = input.taskId;\n\n  const fields = [\n    {\n      field_id: \"e5e1f027-cdcd-4542-850f-494d2d2918f0\", // OPIS GRAFIKI\n      value: clean(input.OpisGrafiki)\n    },\n    {\n      field_id: \"1c50c888-79d1-4bf1-bc19-32b8fa7b12f6\", // OPIS VIDEO\n      value: clean(input.OpisVideo)\n    }\n  ];\n\n  return fields\n    .filter(f => f.value) // 🔥 usuwa puste wartości\n    .map(f => ({\n      json: {\n        task_id: taskId,\n        field_id: f.field_id,\n        value: f.value\n      }\n    }));\n}).flat();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        1552
      ],
      "id": "9c8e341d-25d8-47b9-9441-9f823e02a8a7",
      "name": "Opis grafiki i video"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const clean = (v) => {\n    if (v === null || v === undefined) return \"\";\n    return String(v)\n      .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n      .trim();\n  };\n\n  const taskId = input.taskId;\n\n  \n\n  const fields = [\n    {\n      field_id: \"a2dcc87f-b93f-4175-a8a2-db3d7529544f\", // CTA\n      value: clean(input.cta)\n    },\n    {\n      field_id: \"5da4add7-0b96-48ec-bdfb-07d7a866895c\", // HASZTAGI\n      value: clean(input.hasztagi)\n    },\n    {\n      field_id: \"22bb4c6b-4abe-4c96-b176-540727c32889\", // FEEDBACK\n      value: clean(input.feedback)\n    }\n  ];\n\n  return fields.map(f => ({\n    json: {\n      task_id: taskId,\n      field_id: f.field_id,\n      value: f.value\n    }\n  }));\n}).flat();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        1680
      ],
      "id": "35bcb520-7512-4e9e-8708-e681f24be420",
      "name": "Hasztagi, cta, notatki"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const clean = (v) => {\n    if (!v) return \"\";\n    return String(v)\n      .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n      .trim();\n  };\n\n  return {\n    json: {\n      task_id: input.taskId,\n      field_id: \"d977d8a5-be0b-441c-b05b-126d6baddf6e\",\n      value: clean($input.first().json.linkGrafiki)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        1808
      ],
      "id": "f044c243-982e-4240-a2c0-fa33bd5fb9dc",
      "name": "Link grafiki"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const status = ({\n    'DO ZROBIENIA': 'DO ZROBIENIA',\n    'W REALIZACJI': 'W REALIZACJI',\n    'WYSLANE DO KLIENTA': 'WYSLANE DO KLIENTA',\n    'ZATWIERDZONE PRZEZ KLIENTA': 'ZATWIERDZONE PRZEZ KLIENTA',\n    'POPRAWKI': 'POPRAWKI',\n    'ZAKONCZONE': 'ZAKONCZONE'\n  })[(input.statusRaw || '').toUpperCase().trim()] || 'DO ZROBIENIA';\n\n  return {\n    json: {\n      task_id: input.taskId,\n      status: status\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        1952
      ],
      "id": "a82f79d0-dd47-4707-aea6-121aba682dc9",
      "name": "Statusy"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/list/{{ $('⚙️ Przygotuj Klienta4').item.json.clickupListaId }}/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: $json.typPosta + ': ' + ($json.tytul || $json.opis?.slice(0, 60) || 'Brak tytułu'),\n\n  description: `**Klient:** ${$json.klientNazwa}\n**Data:** ${$json.postDateLabel}\n**Typ:** ${$json.typPosta} | ${$json.typGrafiki}\n\n---\n\n### Opis\n${$json.opis}\n\n### CTA\n${$json.cta}\n\n### Hasztagi\n${$json.hasztagi}\n\n### Grafika\n${$json.linkGrafiki}\n\n### Notatki\n${$json.notatki}\n\n### Feedback\n${$json.feedback}`,\n\n  due_date: $json.dueTimestamp || null,\n\n  status: ({\n    'DO ZROBIENIA': 'DO ZROBIENIA',\n    'W REALIZACJI': 'W REALIZACJI',\n    'WYSLANE DO KLIENTA': 'WYSLANE DO KLIENTA',\n    'ZATWIERDZONE PRZEZ KLIENTA': 'ZATWIERDZONE PRZEZ KLIENTA',\n    'POPRAWKI': 'POPRAWKI',\n    'ZAKONCZONE': 'ZAKONCZONE'\n  })[$json.statusRaw] || 'DO ZROBIENIA'\n}) }}",
        "options": {}
      },
      "id": "51ab1e03-77d4-4f66-ac8a-15fe35d839c0",
      "name": "Utworzenie Taska",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        2096
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('⚙️ Przygotuj Klienta4').item.json.spreadsheetId }}/values/{{ encodeURIComponent($json.writeRange) }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"{{ $json.writeRange }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [[\"{{ $json.newTaskId }}\"]]\n}",
        "options": {}
      },
      "id": "5a1441c3-c6b2-4c6f-b581-cb1c44ef7c1e",
      "name": "ID doGoogle sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4224,
        2096
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.log(`⏭️ Następny klient po: ${d.klientNazwa || d.tytul || 'nieznany'}`);\nreturn [{ json: d }];"
      },
      "id": "d179549b-0770-4add-8b43-bc5298dde013",
      "name": "➡️ Następny Klient1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        2080
      ]
    },
    {
      "parameters": {
        "content": "(Przyszly miesiac, co 5 min) Po zmianie danych w googlesheetzczytuje dane i je zmienia w clickup",
        "height": 896,
        "width": 3156,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        2416
      ],
      "typeVersion": 1,
      "id": "9d016237-f973-4bce-a823-bf04fc1cc29c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconsole.log('=== DEBUG KLIENT ===');\nconsole.log('spreadsheetId:', data.spreadsheetId);\nconsole.log('sheetName:', data.sheetName);\nconsole.log('clickupListaId:', data.clickupListaId);\nconsole.log('długość ID:', (data.spreadsheetId || '').length);\n\n// Walidacja\nif (!data.spreadsheetId || data.spreadsheetId.length < 10) {\n  throw new Error(`Nieprawidłowy spreadsheetId: \"${data.spreadsheetId}\"`);\n}\n\nif (!data.sheetName) {\n  throw new Error('Brak sheetName');\n}\n\nreturn [{ json: data }];"
      },
      "id": "84b03ace-349b-4587-a132-87a049a40976",
      "name": "🔍 Debug Klient",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        2880
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "d1dabf0a-88c1-4ccb-b423-43ebc1731496",
      "name": "⏰ Cron 7:",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1520,
        2880
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ONXIcPfs-YFQI7Cl28vYHjtk-0C8UmDQTN5sUL8OPHY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1"
        },
        "options": {}
      },
      "id": "b82a0e5e-895e-481a-85e9-e5aa8d2a148b",
      "name": "📋 Get Master Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1728,
        2880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ef85e828-7836-4471-ac1d-068af2e37c1a",
      "name": "🔄 SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1952,
        2880
      ]
    },
    {
      "parameters": {
        "jsCode": "const client = $input.first().json;\n\nconst isActive = String(client.aktywny || '').toUpperCase().trim();\nif (isActive !== 'TRUE' && isActive !== '1' && isActive !== 'TAK') {\n  return [{ json: { __skip: true, powod: 'nieaktywny', klient: client.nazwa } }];\n}\n\nif (!client.spreadsheet_id || !client.clickup_lista_id) {\n  return [{ json: { __skip: true, powod: 'brak spreadsheet_id lub clickup_lista_id', klient: client.nazwa } }];\n}\n\nconst MONTHS_PL = [\n  'STYCZEŃ','LUTY','MARZEC','KWIECIEŃ',\n  'MAJ','CZERWIEC','LIPIEC','SIERPIEŃ',\n  'WRZESIEŃ','PAŹDZIERNIK','LISTOPAD','GRUDZIEŃ'\n];\n\nconst now = new Date();\n\n// 🔥 generujemy TYLKO przyszły miesiąc\nconst results = [];\n\nfor (let i = 0; i < 2; i++) {\n\n  if (i === 0) continue; // ❌ pomijamy bieżący miesiąc\n\n  const futureDate = new Date(now.getFullYear(), now.getMonth() + i, 1);\n\n  const sheetName = `${MONTHS_PL[futureDate.getMonth()]} CONTENT CALENDAR`;\n\n  console.log(`✅ Klient: ${client.nazwa} → ${sheetName}`);\n\n  results.push({\n    json: {\n      __skip: false,\n      klientId: String(client.klient_id || ''),\n      klientNazwa: String(client.nazwa || ''),\n      spreadsheetId: String(client.spreadsheet_id || '').trim(),\n      clickupListaId: String(client.clickup_lista_id || '').trim(),\n      sheetName\n    }\n  });\n}\n\nreturn results.map((r, i) => {\n  console.log(`➡️ ITEM ${i}: ${r.json.sheetName}`);\n  return r;\n});"
      },
      "id": "4d6de1b1-ccea-48d6-a5a0-52b6d21712c2",
      "name": "⚙️ Przygotuj Klienta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        2896
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.__skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "df01af5e-7824-41b6-96a2-f53c031ac52e",
      "name": "❓ Czy Aktywny",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2400,
        2896
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/{{ encodeURIComponent($json.sheetName + '!A1:ZZ30') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "7a6ff079-8ba3-4f28-a118-5010ba98c67c",
      "name": "📊 Get Sheet Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        2880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.taskId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: $json.typPosta + ': ' + ($json.tytul || $json.opis?.slice(0, 60) || 'Brak tytułu'),\n\n  description: `**Klient:** ${$json.klientNazwa}\n**Data:** ${$json.postDateLabel}\n**Typ:** ${$json.typPosta} | ${$json.typGrafiki}\n\n---\n\n### Opis\n${$json.opis}\n\n### CTA\n${$json.cta}\n\n### Hasztagi\n${$json.hasztagi}\n\n### Grafika\n${$json.linkGrafiki}\n\n### Notatki\n${$json.notatki}\n\n### Feedback\n${$json.feedback}`,\n\n  due_date: $json.dueTimestamp || null\n  // status USUNIĘTY — ClickUp użyje domyślnego\n}) }}",
        "options": {}
      },
      "id": "5c26b8fc-953b-44f3-b0c0-6255b7f1ce9a",
      "name": "🔄 Update ClickUp8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        2608
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Ten node działa w trybie runOnceForEachItem\n// item = aktualny task z ClickUp (item.json)\n// $itemIndex = indeks obecnego itemu (0, 1, 2, ...)\n\nconst newTask = item.json;\n\nif (!newTask.id) {\n  throw new Error(`Brak ID taska — response: ${JSON.stringify(newTask).slice(0,300)}`);\n}\n\n// Pobierz WSZYSTKIE posty ze Split Rows, sparowane po indeksie\nconst allPosts = $('Code in JavaScript').all();\nconst postData = allPosts[$itemIndex]?.json;\n\nif (!postData) {\n  throw new Error(`Brak postData dla indexu ${$itemIndex}. Dostępnych: ${allPosts.length}`);\n}\n\nif (!postData.colLetter) {\n  throw new Error(`Brak colLetter dla ${postData.tytul || '(brak tytułu)'} — keys: ${Object.keys(postData).join(', ')}`);\n}\n\n// writeRange BEZ apostrofów\nconst writeRange = `${postData.sheetName}!${postData.colLetter}25`;\n\nconsole.log(`✅ [${$itemIndex}] Task ${newTask.id} | ${postData.typPosta}: ${postData.tytul || '(brak tytułu)'} → ${writeRange}`);\n\nreturn {\n  json: {\n    newTaskId:     newTask.id,\n    writeRange,\n    spreadsheetId: postData.spreadsheetId,\n    sheetName:     postData.sheetName,\n    klientNazwa:   postData.klientNazwa,\n    tytul:         postData.tytul,\n    typPosta:      postData.typPosta,\n    colLetter:     postData.colLetter,\n    itemIndex:     $itemIndex\n  }\n};"
      },
      "id": "a95e8e98-755a-4b12-a7c6-d774ce20402b",
      "name": "🆔 Wyciągnij Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3984,
        3120
      ]
    },
    {
      "parameters": {
        "jsCode": "const sheetResp  = $input.first().json;\nconst clientMeta = $('⚙️ Przygotuj Klienta').first().json;\n\nconsole.log('=== PARSE START ===');\nconsole.log('Klient:', clientMeta.klientNazwa);\n\nif (sheetResp.error || !sheetResp.values) {\n  return [{\n    json: {\n      __noData: true,\n      klientNazwa: clientMeta.klientNazwa,\n      sheetName: clientMeta.sheetName\n    }\n  }];\n}\n\nconst rows = sheetResp.values;\n\nconst R = {\n  data: 4, tytul: 5, typGrafiki: 6, typPosta: 7,\n  linkGrafiki: 10, opis: 12, cta: 14, hasztagi: 16,\n  status: 18, notatki: 20, feedback: 22, taskId: 24,\n};\n\nfunction colToLetter(idx) {\n  let r = '', n = idx + 1;\n  while (n > 0) { n--; r = String.fromCharCode(65 + (n % 26)) + r; n = Math.floor(n / 26); }\n  return r;\n}\n\nfunction cell(rowIdx, colIdx) {\n  const row = rows[rowIdx];\n  if (!row || colIdx >= row.length) return '';\n  const val = row[colIdx];\n  if (val === null || val === undefined) return '';\n  return String(val).trim();\n}\n\n/* 🔥 DODANE: ROW 8 i 9 */\nfunction getOpisGrafiki(col) {\n  const v = cell(8, col);\n  return v || null;\n}\n\nfunction getOpisVideo(col) {\n  const v = cell(9, col);\n  return v || null;\n}\n\nconst MO = {\n  'stycznia':0,'lutego':1,'marca':2,'kwietnia':3,\n  'maja':4,'czerwca':5,'lipca':6,'sierpnia':7,\n  'września':8,'października':9,'listopada':10,'grudnia':11\n};\n\nfunction parseDate(str) {\n  if (!str) return null;\n  const m = String(str).toLowerCase().match(\n    /(stycznia|lutego|marca|kwietnia|maja|czerwca|lipca|sierpnia|września|października|listopada|grudnia)\\s+(\\d{1,2}),?\\s+(\\d{4})/i\n  );\n  if (m) {\n    const mon = MO[m[1].toLowerCase()];\n    if (mon !== undefined) return new Date(Number(m[3]), mon, Number(m[2]));\n  }\n  return null;\n}\n\nconst SM = {\n  'APPROVED': 'Zatwierdzone przez klienta',\n  'WAITING FOR APPROVAL': 'Wyslane do klienta',\n  'NEEDS EDITING': 'Poprawki zakonczone',\n  'DRAFT': 'Do zrobienia',\n  'IN PROGRESS': 'W realizacji',\n  'PUBLISHED': 'W realizacji'\n};\n\nconst PUSTE = new Set(['','brak','none','null','undefined','task_id','task id','-','—','#ref!']);\nconst czyMaTask = id => id.length > 0 && !PUSTE.has(id.toLowerCase());\n\nconst maxCols = Math.max(0, ...rows.map(r => r?.length || 0));\nconst posts = [];\nlet currentDate = '', currentDateObj = null;\n\nfor (let col = 1; col < maxCols; col++) {\n\n  const dateInCol = cell(R.data, col);\n  if (dateInCol) {\n    currentDate = dateInCol;\n    currentDateObj = parseDate(dateInCol);\n  }\n\n  const tytul     = cell(R.tytul, col);\n  const opis      = cell(R.opis, col);\n  const linkRaw   = cell(R.linkGrafiki, col);\n  const typPosta  = cell(R.typPosta, col);\n  const typGraf   = cell(R.typGrafiki, col);\n  const statusRaw = cell(R.status, col);\n  const taskId    = cell(R.taskId, col);\n\n  const realTyp = typPosta && typPosta !== '-';\n  const realTytul = tytul && tytul !== '-';\n  const realOpis = opis && opis !== '-';\n  const realLink = linkRaw && !linkRaw.toLowerCase().includes('link to google');\n\n  if (!realTyp) continue;\n  if (!realTytul && !realOpis && !realLink) continue;\n\n  const cta      = cell(R.cta, col);\n  const hasztagi = cell(R.hasztagi, col);\n  const notatki  = cell(R.notatki, col);\n  const feedback = cell(R.feedback, col);\n\n  const cleanLink = realLink ? linkRaw : '';\n  const colLetter = colToLetter(col);\n  const juzMaTask = czyMaTask(taskId);\n\n  console.log(`  ${colLetter}: \"${tytul || opis?.slice(0,40)}\" | ${typPosta}`);\n\n  posts.push({\n    klientId: clientMeta.klientId,\n    klientNazwa: clientMeta.klientNazwa,\n    clickupListaId: clientMeta.clickupListaId,\n    spreadsheetId: clientMeta.spreadsheetId,\n    sheetName: clientMeta.sheetName,\n\n    colIdx: col,\n    colLetter,\n    writeRange: `${clientMeta.sheetName}!${colLetter}25`,\n\n    dataRaw: currentDate,\n    postDateISO: currentDateObj ? currentDateObj.toISOString() : null,\n    postDateLabel: currentDateObj\n      ? currentDateObj.toLocaleDateString('pl-PL', { weekday:'long', day:'numeric', month:'long', year:'numeric' })\n      : currentDate,\n    dueTimestamp: currentDateObj ? currentDateObj.getTime() : null,\n\n    tytul,\n    typGrafiki: typGraf,\n    typPosta,\n    linkGrafiki: cleanLink,\n\n    opis,\n    cta,\n    hasztagi,\n    notatki,\n    feedback,\n\n    /* 🔥 DODANE POLA */\n    OpisGrafiki: getOpisGrafiki(col),\n    OpisVideo: getOpisVideo(col),\n\n    statusRaw,\n    clickupStatus: SM[statusRaw?.toUpperCase()?.trim()] || 'Do zrobienia',\n\n    taskId,\n    juzMaTask,\n\n    __noData: false\n  });\n}\n\nconsole.log(`📊 ${clientMeta.klientNazwa}: ${posts.length} REALNYCH postów`);\n\nif (posts.length === 0) {\n  return [{ json: { __noData: true, klientNazwa: clientMeta.klientNazwa } }];\n}\n\nreturn posts.map(p => ({ json: p }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        2880
      ],
      "id": "625efb9c-2d15-481e-a91d-bea006e91382",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "task-exists",
              "leftValue": "={{ $json.juzMaTask }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c467fc40-aca2-4911-b152-6724163bbd80",
      "name": "❓ IF task_id exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3248,
        2880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/field/{{ $json.field_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"value\": \"{{$json.value}}\"  \n}",
        "options": {}
      },
      "id": "ba08f104-892e-42dd-858b-d838df2544b5",
      "name": "🔄 Update ClickUp9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        2704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/field/{{ $json.field_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"value\": \"{{$json.value}}\"\n}",
        "options": {}
      },
      "id": "577b1e66-2aa4-44af-92e7-5f1494632b30",
      "name": "🔄 Update ClickUp10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        2832
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{$json.status}}\"\n}",
        "options": {}
      },
      "id": "991237a3-4743-4482-89da-21555352db40",
      "name": "🔄 Update ClickUp1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        2976
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/field/{{ $json.field_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  { \n    value: $json.value \n  } \n}}",
        "options": {}
      },
      "id": "612107f7-76ac-407e-83df-629cf7a7549e",
      "name": "🔄 Update ClickUp17",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        2576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/assignee/284536279",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "52524cf2-8a8e-4f99-8a43-29c47eac6d70",
      "name": "🔄 Update ClickUp18",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        2432
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\n\nconst FIELDS = {\n  OpisGrafiki: \"e5e1f027-cdcd-4542-850f-494d2d2918f0\",\n  OpisVideo: \"1c50c888-79d1-4bf1-bc19-32b8fa7b12f6\",\n};\n\nconst USERS = {\n  grafika: \"290552377\",\n  video: \"284536279\",\n};\n\nconst clean = (v) => {\n  if (v === null || v === undefined) return null;\n  const s = String(v).trim();\n  return s.length ? s : null;\n};\n\nconst grouped = {};\n\nfor (const item of input) {\n  const i = item.json;\n\n  const taskId = i.taskId;\n  if (!taskId) continue;\n\n  if (!grouped[taskId]) {\n    grouped[taskId] = {\n      task_id: taskId,\n      fields: [],\n      assignees: []\n    };\n  }\n\n  const grafika = clean(i.OpisGrafiki);\n  if (grafika) {\n    grouped[taskId].fields.push({\n      field_id: FIELDS.OpisGrafiki,\n      value: grafika\n    });\n\n    grouped[taskId].assignees.push(USERS.grafika);\n  }\n\n  const video = clean(i.OpisVideo);\n  if (video) {\n    grouped[taskId].fields.push({\n      field_id: FIELDS.OpisVideo,\n      value: video\n    });\n\n    grouped[taskId].assignees.push(USERS.video);\n  }\n}\n\n// 🔥 FINAL CLEAN (tylko liczby + unique)\nreturn Object.values(grouped)\n  .filter(t => t.fields.length > 0)\n  .map(t => ({\n    json: {\n      task_id: t.task_id,\n      fields: t.fields,\n\n      // 🔥 TYLKO CYFRY, BEZ SET, BEZ OBJECT WRAPPERÓW\n      assignees: [...new Set(t.assignees)].map(id => String(id))\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        2432
      ],
      "id": "0170e12b-abe0-4ac6-b183-e76c70cebfa6",
      "name": "Nadanie zadania1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const clean = (v) => {\n    if (v === null || v === undefined) return \"\";\n    return String(v)\n      .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n      .trim();\n  };\n\n  const taskId = input.taskId;\n\n  const fields = [\n    {\n      field_id: \"e5e1f027-cdcd-4542-850f-494d2d2918f0\", // OPIS GRAFIKI\n      value: clean(input.OpisGrafiki)\n    },\n    {\n      field_id: \"1c50c888-79d1-4bf1-bc19-32b8fa7b12f6\", // OPIS VIDEO\n      value: clean(input.OpisVideo)\n    }\n  ];\n\n  return fields\n    .filter(f => f.value) // 🔥 usuwa puste wartości\n    .map(f => ({\n      json: {\n        task_id: taskId,\n        field_id: f.field_id,\n        value: f.value\n      }\n    }));\n}).flat();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        2576
      ],
      "id": "a66acad3-1eab-4d7e-b677-06f59d4e0f0a",
      "name": "Opis grafiki i video1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const clean = (v) => {\n    if (v === null || v === undefined) return \"\";\n    return String(v)\n      .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n      .trim();\n  };\n\n  const taskId = input.taskId;\n\n  \n\n  const fields = [\n    {\n      field_id: \"a2dcc87f-b93f-4175-a8a2-db3d7529544f\", // CTA\n      value: clean(input.cta)\n    },\n    {\n      field_id: \"5da4add7-0b96-48ec-bdfb-07d7a866895c\", // HASZTAGI\n      value: clean(input.hasztagi)\n    },\n    {\n      field_id: \"22bb4c6b-4abe-4c96-b176-540727c32889\", // FEEDBACK\n      value: clean(input.feedback)\n    }\n  ];\n\n  return fields.map(f => ({\n    json: {\n      task_id: taskId,\n      field_id: f.field_id,\n      value: f.value\n    }\n  }));\n}).flat();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        2704
      ],
      "id": "cc9c75a5-3379-4fc5-97f4-6b63de509f95",
      "name": "Hasztagi, cta, notatki1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const clean = (v) => {\n    if (!v) return \"\";\n    return String(v)\n      .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n      .trim();\n  };\n\n  return {\n    json: {\n      task_id: input.taskId,\n      field_id: \"d977d8a5-be0b-441c-b05b-126d6baddf6e\",\n      value: clean($input.first().json.linkGrafiki)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        2832
      ],
      "id": "3aafb214-26b4-4b20-8a6c-e9800e29af19",
      "name": "Link grafiki1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const status = ({\n    'DO ZROBIENIA': 'DO ZROBIENIA',\n    'W REALIZACJI': 'W REALIZACJI',\n    'WYSLANE DO KLIENTA': 'WYSLANE DO KLIENTA',\n    'ZATWIERDZONE PRZEZ KLIENTA': 'ZATWIERDZONE PRZEZ KLIENTA',\n    'POPRAWKI': 'POPRAWKI',\n    'ZAKONCZONE': 'ZAKONCZONE'\n  })[(input.statusRaw || '').toUpperCase().trim()] || 'DO ZROBIENIA';\n\n  return {\n    json: {\n      task_id: input.taskId,\n      status: status\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        2976
      ],
      "id": "601f0d33-941a-4fd7-852f-ed8e2de3789a",
      "name": "Statusy1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/list/{{ $('⚙️ Przygotuj Klienta').item.json.clickupListaId }}/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: $json.typPosta + ': ' + ($json.tytul || $json.opis?.slice(0, 60) || 'Brak tytułu'),\n\n  description: `**Klient:** ${$json.klientNazwa}\n**Data:** ${$json.postDateLabel}\n**Typ:** ${$json.typPosta} | ${$json.typGrafiki}\n\n---\n\n### Opis\n${$json.opis}\n\n### CTA\n${$json.cta}\n\n### Hasztagi\n${$json.hasztagi}\n\n### Grafika\n${$json.linkGrafiki}\n\n### Notatki\n${$json.notatki}\n\n### Feedback\n${$json.feedback}`,\n\n  due_date: $json.dueTimestamp || null,\n\n  status: ({\n    'DO ZROBIENIA': 'DO ZROBIENIA',\n    'W REALIZACJI': 'W REALIZACJI',\n    'WYSLANE DO KLIENTA': 'WYSLANE DO KLIENTA',\n    'ZATWIERDZONE PRZEZ KLIENTA': 'ZATWIERDZONE PRZEZ KLIENTA',\n    'POPRAWKI': 'POPRAWKI',\n    'ZAKONCZONE': 'ZAKONCZONE'\n  })[$json.statusRaw] || 'DO ZROBIENIA'\n}) }}",
        "options": {}
      },
      "id": "4a7ae21d-8fd5-4d1b-b940-e2e16377fd53",
      "name": "Utworzenie Taska1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        3120
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('⚙️ Przygotuj Klienta').item.json.spreadsheetId }}/values/{{ encodeURIComponent($json.writeRange) }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"{{ $json.writeRange }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [[\"{{ $json.newTaskId }}\"]]\n}",
        "options": {}
      },
      "id": "291c11ea-7d94-4e6b-bba0-cfc23d262651",
      "name": "ID doGoogle sheets1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4224,
        3120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.log(`⏭️ Następny klient po: ${d.klientNazwa || d.tytul || 'nieznany'}`);\nreturn [{ json: d }];"
      },
      "id": "fb79680b-c8a6-4d4a-958d-6bc7d42b34a1",
      "name": "➡️ Następny Klient",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        3104
      ]
    }
  ],
  "connections": {
    "🔍 Debug Klient1": {
      "main": [
        [
          {
            "node": "📊 Get Sheet Data4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cron 7:2": {
      "main": [
        [
          {
            "node": "📋 Get Master Sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Get Master Sheet4": {
      "main": [
        [
          {
            "node": "🔄 SplitInBatches4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 SplitInBatches4": {
      "main": [
        [],
        [
          {
            "node": "⚙️ Przygotuj Klienta4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Przygotuj Klienta4": {
      "main": [
        [
          {
            "node": "❓ Czy Aktywny4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Czy Aktywny4": {
      "main": [
        [
          {
            "node": "🔍 Debug Klient1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔄 SplitInBatches4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Get Sheet Data4": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🆔 Wyciągnij Task ID1": {
      "main": [
        [
          {
            "node": "ID doGoogle sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "❓ IF task_id exists4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ IF task_id exists4": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Statusy",
            "type": "main",
            "index": 0
          },
          {
            "node": "Nadanie zadania",
            "type": "main",
            "index": 0
          },
          {
            "node": "Opis grafiki i video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hasztagi, cta, notatki",
            "type": "main",
            "index": 0
          },
          {
            "node": "Link grafiki",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Utworzenie Taska",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Update ClickUp5": {
      "main": [
        [
          {
            "node": "➡️ Następny Klient1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Update ClickUp7": {
      "main": [
        [
          {
            "node": "➡️ Następny Klient1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Update ClickUp6": {
      "main": [
        []
      ]
    },
    "Nadanie zadania": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opis grafiki i video": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hasztagi, cta, notatki": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link grafiki": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Statusy": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Utworzenie Taska": {
      "main": [
        [
          {
            "node": "🆔 Wyciągnij Task ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID doGoogle sheets": {
      "main": [
        [
          {
            "node": "➡️ Następny Klient1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "➡️ Następny Klient1": {
      "main": [
        [
          {
            "node": "🔄 SplitInBatches4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Debug Klient": {
      "main": [
        [
          {
            "node": "📊 Get Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cron 7:": {
      "main": [
        [
          {
            "node": "📋 Get Master Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Get Master Sheet": {
      "main": [
        [
          {
            "node": "🔄 SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 SplitInBatches": {
      "main": [
        [],
        [
          {
            "node": "⚙️ Przygotuj Klienta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Przygotuj Klienta": {
      "main": [
        [
          {
            "node": "❓ Czy Aktywny",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Czy Aktywny": {
      "main": [
        [
          {
            "node": "🔍 Debug Klient",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔄 SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Get Sheet Data": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🆔 Wyciągnij Task ID": {
      "main": [
        [
          {
            "node": "ID doGoogle sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "❓ IF task_id exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ IF task_id exists": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Statusy1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Opis grafiki i video1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hasztagi, cta, notatki1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Link grafiki1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Nadanie zadania1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Utworzenie Taska1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Update ClickUp9": {
      "main": [
        [
          {
            "node": "➡️ Następny Klient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Update ClickUp10": {
      "main": [
        [
          {
            "node": "➡️ Następny Klient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nadanie zadania1": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opis grafiki i video1": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hasztagi, cta, notatki1": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link grafiki1": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Statusy1": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Utworzenie Taska1": {
      "main": [
        [
          {
            "node": "🆔 Wyciągnij Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID doGoogle sheets1": {
      "main": [
        [
          {
            "node": "➡️ Następny Klient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "➡️ Następny Klient": {
      "main": [
        [
          {
            "node": "🔄 SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:⏰ Cron 7:2": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c7e4dbc7-0133-479d-96d5-c878aa0fe485",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-22T15:41:05.707Z",
      "createdAt": "2026-04-22T15:41:05.707Z",
      "role": "workflow:owner",
      "workflowId": "JCacuhKWck2rR7Sg",
      "projectId": "MQ48RGzyImrotRcN"
    }
  ],
  "activeVersion": null,
  "tags": []
}