Backup_2026-00-16/WF1 - Tworzenie Taskow ze Wszystkich Szablonow.json
{
  "updatedAt": "2026-04-15T20:37:12.469Z",
  "createdAt": "2026-04-15T19:51:43.704Z",
  "id": "4gxoQAVkXGARL5fq",
  "name": "WF1 - Tworzenie Taskow ze Wszystkich Szablonow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 13 * * *"
            }
          ]
        }
      },
      "id": "0baa4913-fb12-467d-b2fc-2bafa48ecdb5",
      "name": "SCHEDULER - 13:00 Raport Połówkowy",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 16 * * *"
            }
          ]
        }
      },
      "id": "49a3e6c0-c6ae-4649-9f39-9a5ca8cb3ea5",
      "name": "SCHEDULER - 16:30 Raport Końcowy",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nreturn [{\n  json: {\n    typRaportu: 'polowkowy',\n    tytul: '☀️ Czas na Raport Połówkowy!',\n    deadline: '13:30',\n    webhookUrl: 'https://TWOJ-N8N.app/webhook/raport-polowkowy',\n    listId: '901522609104',\n    statusFiltr: ['ETAP 1-2', 'ETAP 3-4'],\n    sprawdzPole: 'Raport Połówkowy Oddany',\n    dataStr: now.toLocaleDateString('pl-PL'),\n    timeStr: '13:00',\n    zarzadEmail: 'autoleads@gmail.com',\n    mgrEmail: 'testautoleads@gmail.com',\n    sysEmail: 'testautoleads@gmail.com',\n    now: now.toISOString()\n  }\n}];\n"
      },
      "id": "21e815a4-bfe6-4595-9829-903473ec9d55",
      "name": "SETUP - Raport Połówkowy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nreturn [{\n  json: {\n    typRaportu: 'koncowy',\n    tytul: '🌆 Czas na Raport Końcowy!',\n    deadline: '17:00',\n    webhookUrl: 'https://TWOJ-N8N.app/webhook/raport-koncowy',\n    listId: '901522609104',\n    statusFiltr: ['ETAP 1-2', 'ETAP 3-4', 'ETAP 5'],\n    sprawdzPole: 'Raport Końcowy Oddany',\n    dataStr: now.toLocaleDateString('pl-PL'),\n    timeStr: '16:30',\n    zarzadEmail: 'autoleads@gmail.com',\n    mgrEmail: 'testautoleads@gmail.com',\n    sysEmail: 'testautoleads@gmail.com',\n    now: now.toISOString()\n  }\n}];\n"
      },
      "id": "26e27213-c954-4832-bd97-5be60a7cc1a4",
      "name": "SETUP - Raport Końcowy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        304
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.clickup.com/api/v2/list/{{ $json.listId }}/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "include_closed",
              "value": "false"
            },
            {
              "name": "statuses[]",
              "value": "ETAP 1-2"
            },
            {
              "name": "statuses[]",
              "value": "ETAP 3-4"
            },
            {
              "name": "statuses[]",
              "value": "ETAP 5"
            },
            {
              "name": "statuses[]",
              "value": "ETAP 6"
            }
          ]
        },
        "options": {}
      },
      "id": "fe3703a2-2f79-4ac8-be19-7a78ea396b7c",
      "name": "CLICKUP - Pobierz Taski do Raportu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LJcXaUcjE7gmtQIs",
          "name": "Header Auth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const cfg = $input.first().json;\n\n// Sprawdź czy to dane z ClickUp czy config\n// Jeśli tasks istnieje to są to dane z ClickUp\nconst tasks = cfg.tasks || [];\n\n// Pobierz config z poprzedniego noda\nconst setupData = $('SETUP - Raport Połówkowy').item?.json || \n                   {};\n\nconst bezRaportu = [];\n\ntasks.forEach(task => {\n  const cf = {};\n  (task.custom_fields || []).forEach(f => {\n    cf[f.name] = f.value;\n  });\n\n  const imie = task.name.split(' | ')[0];\n  const email = cf['Email Pracownika'] || setupData.mgrEmail;\n  const gPrzyjscia = cf['Godzina Przyjścia'] || cf['Godzina Przyjscia'];\n  \n  // Sprawdź czy raport oddany\n  const rapOddany = setupData.typRaportu === 'polowkowy'\n    ? (cf['Raport Połówkowy Oddany'] === true || cf['Raport Polowkowy Oddany'] === true)\n    : (cf['Raport Końcowy Oddany'] === true || cf['Raport Koncowy Oddany'] === true);\n\n  if (gPrzyjscia && !rapOddany) {\n    bezRaportu.push({\n      taskId: task.id,\n      taskUrl: task.url,\n      imie,\n      email,\n      gPrzyjscia\n    });\n  }\n});\n\nreturn bezRaportu.map(p => ({\n  json: {\n    ...setupData,\n    ...p,\n    lacznie: bezRaportu.length\n  }\n}));\n"
      },
      "id": "cdcc4ce3-342d-4b8f-b4a3-970bdb6e821f",
      "name": "FILTRUJ - Kto Nie Oddał Raportu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.sysEmail }}",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.tytul }} - Deadline: {{ $json.deadline }}",
        "options": {}
      },
      "id": "36484346-c2c9-4a9e-936f-cb2a2de1a09c",
      "name": "EMAIL - Przypomnienie do Pracownika",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        864,
        0
      ],
      "webhookId": "69c12c42-13b8-4695-b37b-a933e79b756c"
    },
    {
      "parameters": {
        "jsCode": "// Zbierz wszystkich bez raportu w jeden email do managera\nconst allItems = $input.all();\nif (allItems.length === 0) return [];\n\nconst cfg = allItems[0].json;\nconst lista = allItems.map(item => item.json);\n\nconst listaHTML = lista.map(p =>\n  `<tr>\n    <td style=\"padding:8px;border-bottom:1px solid #eee;\">${p.imie}</td>\n    <td style=\"padding:8px;border-bottom:1px solid #eee;\">${p.gPrzyjscia}</td>\n    <td style=\"padding:8px;border-bottom:1px solid #eee;\">\n      <a href=\"${p.taskUrl}\" style=\"color:#667eea;\">Zobacz task</a>\n    </td>\n  </tr>`\n).join('');\n\nconst html = `<!DOCTYPE html>\n<html>\n<body style=\"font-family:Arial;max-width:600px;margin:0 auto;\">\n<div style=\"background:#e74c3c;color:white;padding:20px;border-radius:10px 10px 0 0;\">\n  <h2 style=\"margin:0;\">📋 Brak Raportów - Alert Managera</h2>\n  <p style=\"opacity:0.9;\">${cfg.typRaportu === 'polowkowy' ? 'Raport Połówkowy' : 'Raport Końcowy'} | ${cfg.dataStr} | ${cfg.timeStr}</p>\n</div>\n<div style=\"background:white;padding:20px;border:1px solid #eee;\">\n  <p><b>${lista.length} osób</b> nie oddało raportu:</p>\n  <table style=\"width:100%;border-collapse:collapse;\">\n    <thead>\n      <tr style=\"background:#f8f9fa;\">\n        <th style=\"padding:8px;text-align:left;\">Pracownik</th>\n        <th style=\"padding:8px;text-align:left;\">Godzina przyjścia</th>\n        <th style=\"padding:8px;text-align:left;\">Task</th>\n      </tr>\n    </thead>\n    <tbody>${listaHTML}</tbody>\n  </table>\n</div>\n<div style=\"background:#f8f9fa;padding:10px;text-align:center;border:1px solid #eee;border-radius:0 0 10px 10px;\">\n  <small style=\"color:#888;\">Auto-alert systemu | ${cfg.dataStr}</small>\n</div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    ...cfg,\n    emailHTML: html,\n    emailSubject: `📋 BRAK RAPORTÓW | ${lista.length} osób | ${cfg.typRaportu === 'polowkowy' ? 'Połówkowy' : 'Końcowy'} | ${cfg.dataStr}`,\n    liczbaOsob: lista.length\n  }\n}];\n"
      },
      "id": "04080378-d1e4-4a92-92fa-3cded1950625",
      "name": "BUDUJ - Email dla Managera i Zarządu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        192
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.sysEmail }}",
        "toEmail": "testautoleads@gmail.com",
        "subject": "={{ $json.emailSubject }}",
        "options": {}
      },
      "id": "70c6df9d-2f1a-49c4-a9dd-e34a7b5c40a0",
      "name": "EMAIL - Alert Brak Raportu do Managera",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1072,
        64
      ],
      "webhookId": "a812d25b-9b16-46db-8c1f-491c4e06dc13"
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.sysEmail }}",
        "toEmail": "autoleads@gmail.com",
        "subject": "=🚨 ZARZĄD - {{ $json.emailSubject }}",
        "options": {}
      },
      "id": "5f02bdfc-0728-4db7-a645-4bf92dff4cf0",
      "name": "EMAIL - Alert Brak Raportu do Zarządu",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1072,
        256
      ],
      "webhookId": "d5198d36-7b24-4dd5-b059-f863a94f0cdd"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * *"
            }
          ]
        }
      },
      "id": "45e00616-45bf-4a33-9ad2-3dd02f9310b5",
      "name": "SCHEDULER - 17:00 Raport Końcowy",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nreturn [{\n  json: {\n    listId: '901522609104',\n    listRaportyCodzienne: '901522609089',\n    token: 'pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE',\n    zarzadEmail: 'autoleads@gmail.com',\n    mgrEmail: 'testautoleads@gmail.com',\n    sysEmail: 'testautoleads@gmail.com',\n    dataStr: now.toLocaleDateString('pl-PL'),\n    dataNazwa: now.toLocaleDateString('pl-PL', {\n      weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'\n    }),\n    now: now.toISOString()\n  }\n}];\n"
      },
      "id": "c0fa7317-54a4-4522-8b3e-d32ff422312b",
      "name": "SETUP - Konfiguracja Raportu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        832
      ]
    },
    {
      "parameters": {
        "url": "https://api.clickup.com/api/v2/list/901522609104/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "include_closed",
              "value": "true"
            },
            {
              "name": "statuses[]",
              "value": "ZAKOŃCZONA"
            },
            {
              "name": "statuses[]",
              "value": "ETAP 1-2"
            },
            {
              "name": "statuses[]",
              "value": "ETAP 3-4"
            },
            {
              "name": "statuses[]",
              "value": "ETAP 5"
            },
            {
              "name": "statuses[]",
              "value": "ETAP 6"
            },
            {
              "name": "statuses[]",
              "value": "WYMAGA UWAGI"
            },
            {
              "name": "statuses[]",
              "value": "OCZEKUJE"
            }
          ]
        },
        "options": {}
      },
      "id": "57d938ca-cfb9-4475-b68d-13d452359eb0",
      "name": "CLICKUP - Pobierz Wszystkie Taski",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        368,
        832
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LJcXaUcjE7gmtQIs",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('SETUP - Konfiguracja Raportu').item.json;\nconst tasks = $input.first().json.tasks || [];\n\nconst pracownicy = tasks.map(task => {\n  const cf = {};\n  (task.custom_fields || []).forEach(f => { cf[f.name] = f.value; });\n\n  const sp = parseInt(cf['Stan Początkowy'] || cf['Stan Poczatkowy'] || '0');\n  const sk = parseInt(cf['Stan Końcowy'] || cf['Stan Koncowy'] || cf['eb918b95-6861-4fe9-bdcf-d325b866042a'] || '0');\n  const s13 = parseInt(cf['Stan o 13:00'] || '0');\n  const rozdano = sk > 0 ? sp - sk : (s13 > 0 ? sp - s13 : 0);\n  const spoznMin = parseInt(cf['Spóźnienie (minuty)'] || cf['Spoznienie'] || '0');\n\n  return {\n    imie: task.name.split(' | ')[0],\n    status: task.status?.status || '—',\n    przybycie: cf['Godzina Przyjścia'] || cf['Godzina Przyjscia'] || '❌',\n    wyjscie: cf['Godzina Wyjścia'] || cf['Godzina Wyjscia'] || '—',\n    zarej: cf['Czy Zarejestrowana'] === true ? '✅' : '❌',\n    sp, s13: s13 || '—', sk: sk || '—',\n    rozdano,\n    spoznMin,\n    rapPol: (cf['Raport Połówkowy Oddany'] || cf['Raport Polowkowy Oddany']) ? '✅' : '❌',\n    rapKon: (cf['Raport Końcowy Oddany'] || cf['Raport Koncowy Oddany']) ? '✅' : '❌',\n    rapKonTresc: cf['Raport Końcowy'] || cf['Raport Koncowy'] || '',\n    rapPolTresc: cf['Raport Połówkowy'] || cf['Raport Polowkowy'] || '',\n    flaga: cf['Flaga Problemu'] || 'Brak problemów',\n    taskUrl: task.url\n  };\n});\n\nconst stats = {\n  lacznie: pracownicy.length,\n  obecni: pracownicy.filter(p => p.przybycie !== '❌').length,\n  nieobecni: pracownicy.filter(p => p.przybycie === '❌').length,\n  spoznieni: pracownicy.filter(p => p.spoznMin > 0).length,\n  rozdanoSum: pracownicy.reduce((s, p) => s + p.rozdano, 0),\n  rapPolOdd: pracownicy.filter(p => p.rapPol === '✅').length,\n  rapKonOdd: pracownicy.filter(p => p.rapKon === '✅').length,\n  zakonczone: pracownicy.filter(p => p.status === 'ZAKOŃCZONA').length,\n  srednia: pracownicy.length > 0\n    ? Math.round(pracownicy.reduce((s, p) => s + p.rozdano, 0) / Math.max(pracownicy.filter(p => p.przybycie !== '❌').length, 1))\n    : 0\n};\n\nconst problemy = {\n  bezRapKon: pracownicy.filter(p => p.rapKon === '❌' && p.przybycie !== '❌'),\n  nieobecni: pracownicy.filter(p => p.przybycie === '❌'),\n  spoznieni: pracownicy.filter(p => p.spoznMin > 0)\n};\n\nreturn [{\n  json: {\n    ...cfg,\n    pracownicy,\n    stats,\n    problemy,\n    maProblemy: problemy.bezRapKon.length > 0 || problemy.nieobecni.length > 0\n  }\n}];\n"
      },
      "id": "b1725267-48ff-4abf-a209-d92a6d46455a",
      "name": "ANALIZA - Statystyki Dnia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst { pracownicy, stats, problemy } = d;\n\nconst wiersze = pracownicy.map((p, i) => {\n  const bg = i % 2 === 0 ? '#f8f9fa' : 'white';\n  const flagaKolor = p.flaga === 'Brak problemów' ? 'green' :\n                     p.flaga.includes('Spóź') ? 'orange' : 'red';\n  return `<tr style=\"background:${bg};\">\n    <td style=\"padding:7px 10px;border:1px solid #dee2e6;font-weight:500;\">${p.imie}</td>\n    <td style=\"padding:7px;border:1px solid #dee2e6;text-align:center;\">${p.przybycie}</td>\n    <td style=\"padding:7px;border:1px solid #dee2e6;text-align:center;\">${p.wyjscie}</td>\n    <td style=\"padding:7px;border:1px solid #dee2e6;text-align:center;\">${p.zarej}</td>\n    <td style=\"padding:7px;border:1px solid #dee2e6;text-align:center;\">${p.sp}</td>\n    <td style=\"padding:7px;border:1px solid #dee2e6;text-align:center;\">${p.s13}</td>\n    <td style=\"padding:7px;border:1px solid #dee2e6;text-align:center;font-weight:bold;color:#667eea;\">${p.rozdano}</td>\n    <td style=\"padding:7px;border:1px solid #dee2e6;text-align:center;\">${p.rapPol}</td>\n    <td style=\"padding:7px;border:1px solid #dee2e6;text-align:center;\">${p.rapKon}</td>\n    <td style=\"padding:7px;border:1px solid #dee2e6;text-align:center;color:${flagaKolor};font-size:11px;font-weight:bold;\">${p.flaga}</td>\n  </tr>`;\n}).join('');\n\nconst problHTML = d.maProblemy ? `\n<div style=\"background:#fff3cd;border:1px solid #ffc107;border-radius:8px;padding:15px;margin:15px 0;\">\n  <h3 style=\"color:#856404;margin:0 0 10px;\">⚠️ Problemy Dnia</h3>\n  ${problemy.bezRapKon.length > 0 ? `<p><b>Brak raportu końcowego:</b> ${problemy.bezRapKon.map(p => p.imie).join(', ')}</p>` : ''}\n  ${problemy.nieobecni.length > 0 ? `<p><b>Nieobecne bez zgłoszenia:</b> ${problemy.nieobecni.map(p => p.imie).join(', ')}</p>` : ''}\n  ${problemy.spoznieni.length > 0 ? `<p><b>Spóźnienia:</b> ${problemy.spoznieni.map(p => p.imie + ' (' + p.spoznMin + ' min)').join(', ')}</p>` : ''}\n</div>` : '<div style=\"background:#d4edda;border-radius:8px;padding:12px;margin:15px 0;\"><p style=\"color:#155724;margin:0;\">✅ Brak problemów - świetny dzień!</p></div>';\n\nconst raportyHTML = pracownicy.filter(p => p.rapKonTresc || p.rapPolTresc)\n  .map(p => `\n  <div style=\"background:#f8f9fa;padding:12px;border-radius:6px;margin:8px 0;border-left:3px solid #667eea;\">\n    <b>${p.imie}</b> <span style=\"color:${p.flaga === 'Brak problemów' ? 'green' : 'red'};font-size:12px;\">● ${p.flaga}</span>\n    ${p.rapPolTresc ? `<p style=\"margin:6px 0;font-size:13px;\"><em>13:00:</em> ${p.rapPolTresc}</p>` : ''}\n    ${p.rapKonTresc ? `<p style=\"margin:6px 0;font-size:13px;\"><em>Końcowy:</em> ${p.rapKonTresc}</p>` : ''}\n  </div>`).join('');\n\nconst html = `<!DOCTYPE html>\n<html>\n<body style=\"font-family:Arial,sans-serif;max-width:950px;margin:0 auto;\">\n<div style=\"background:linear-gradient(135deg,#667eea,#764ba2);color:white;padding:28px;border-radius:12px 12px 0 0;\">\n  <h1 style=\"margin:0;font-size:26px;\">📊 Raport Końcowy Dnia - Hostessy</h1>\n  <p style=\"opacity:0.9;margin:6px 0 0;font-size:15px;\">Data: <b>${d.dataNazwa}</b></p>\n</div>\n<div style=\"background:white;padding:25px;border:1px solid #eee;\">\n  <h2 style=\"color:#444;border-bottom:2px solid #667eea;padding-bottom:8px;\">📈 Podsumowanie</h2>\n  <div style=\"display:flex;gap:12px;flex-wrap:wrap;margin:15px 0;\">\n    <div style=\"background:#e8f5e9;padding:15px;border-radius:8px;text-align:center;flex:1;min-width:80px;\"><div style=\"font-size:26px;font-weight:bold;color:#2e7d32;\">${stats.obecni}</div><small>Obecnych</small></div>\n    <div style=\"background:#fce4ec;padding:15px;border-radius:8px;text-align:center;flex:1;min-width:80px;\"><div style=\"font-size:26px;font-weight:bold;color:#c62828;\">${stats.nieobecni}</div><small>Nieobecnych</small></div>\n    <div style=\"background:#e3f2fd;padding:15px;border-radius:8px;text-align:center;flex:1;min-width:80px;\"><div style=\"font-size:26px;font-weight:bold;color:#1565c0;\">${stats.rozdanoSum}</div><small>Rozdano łącznie</small></div>\n    <div style=\"background:#fff8e1;padding:15px;border-radius:8px;text-align:center;flex:1;min-width:80px;\"><div style=\"font-size:26px;font-weight:bold;color:#e65100;\">${stats.srednia}</div><small>Średnia/osoba</small></div>\n    <div style=\"background:#f3e5f5;padding:15px;border-radius:8px;text-align:center;flex:1;min-width:80px;\"><div style=\"font-size:26px;font-weight:bold;color:#6a1b9a;\">${stats.rapKonOdd}/${stats.lacznie}</div><small>Raporty końcowe</small></div>\n    <div style=\"background:#e0f2f1;padding:15px;border-radius:8px;text-align:center;flex:1;min-width:80px;\"><div style=\"font-size:26px;font-weight:bold;color:#00695c;\">${stats.spoznieni}</div><small>Spóźnienia</small></div>\n  </div>\n  ${problHTML}\n  <h2 style=\"color:#444;border-bottom:2px solid #667eea;padding-bottom:8px;margin-top:20px;\">👥 Tabela Pracowników</h2>\n  <div style=\"overflow-x:auto;\">\n  <table style=\"width:100%;border-collapse:collapse;font-size:12px;\">\n    <thead><tr style=\"background:linear-gradient(135deg,#667eea,#764ba2);color:white;\">\n      <th style=\"padding:10px;text-align:left;\">Imię</th>\n      <th style=\"padding:10px;\">Przybycie</th>\n      <th style=\"padding:10px;\">Wyjście</th>\n      <th style=\"padding:10px;\">Rejestr.</th>\n      <th style=\"padding:10px;\">Stan P.</th>\n      <th style=\"padding:10px;\">13:00</th>\n      <th style=\"padding:10px;\">Rozdano</th>\n      <th style=\"padding:10px;\">Rap.Poł.</th>\n      <th style=\"padding:10px;\">Rap.Końc.</th>\n      <th style=\"padding:10px;\">Status</th>\n    </tr></thead>\n    <tbody>${wiersze}</tbody>\n  </table>\n  </div>\n  ${raportyHTML ? `<h2 style=\"color:#444;border-bottom:2px solid #667eea;padding-bottom:8px;margin-top:20px;\">📝 Raporty Pracowników</h2>${raportyHTML}` : ''}\n</div>\n<div style=\"background:#f8f9fa;padding:12px;text-align:center;border:1px solid #eee;border-radius:0 0 12px 12px;\">\n  <small style=\"color:#888;\">Automatyczny raport dzienny | ${new Date().toLocaleString('pl-PL')}</small>\n</div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    ...d,\n    html,\n    subject: `📊 Raport Końcowy Hostessy - ${d.dataStr} | ${d.maProblemy ? '⚠️ PROBLEMY' : '✅ OK'} | Rozdano: ${stats.rozdanoSum} szt.`\n  }\n}];\n"
      },
      "id": "22213073-5985-4a2a-853a-9aefd30d0b03",
      "name": "BUDUJ - HTML Raportu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        832
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.sysEmail }}",
        "toEmail": "testautoleads@gmail.com",
        "subject": "={{ $json.subject }}",
        "options": {}
      },
      "id": "512548b5-67a5-432a-afea-7fc67858b99a",
      "name": "EMAIL - Raport do Managera",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1392,
        704
      ],
      "webhookId": "07b73511-dbc3-435f-bfe5-b1a658171cb9"
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.sysEmail }}",
        "toEmail": "autoleads@gmail.com",
        "subject": "=📊 ZARZĄD - {{ $json.subject }}",
        "options": {}
      },
      "id": "80ad474e-7bdd-4231-aaca-64900c1a75cb",
      "name": "EMAIL - Raport do Zarządu",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1392,
        864
      ],
      "webhookId": "1659b29f-cf0b-437a-b0bc-7dd612692876"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.clickup.com/api/v2/list/901522609089/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "d688c0b6-3004-43ee-a0b6-72ff53f90ed6",
      "name": "CLICKUP - Zapisz Raport w ClickUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1008,
        976
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 6-17 * * *"
            }
          ]
        }
      },
      "id": "43fa5b05-571b-483b-bb5d-036d4afad4dd",
      "name": "SCHEDULER - Co 15 min (6:00-17:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -432
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst nowMin = now.getHours() * 60 + now.getMinutes();\nconst startMin = 8 * 60;\nconst minPoStart = nowMin - startMin;\n\nreturn [{\n  json: {\n    listId: '901522609104',\n    listRaporty: '901522609109',\n    listAlerty: '901522609082',\n    token: 'pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE',\n    nowMin,\n    minPoStart,\n    startMin,\n    rapPolMin: 13 * 60,\n    rapKonMin: 17 * 60,\n    progNiskiStan: 30,\n    progSpoznMin: 15,\n    progSpoznZarzad: 3,\n    zarzadEmail: 'autoleady@gmail.com',\n    mgrEmail: 'testautoleady@gmail.com',\n    sysEmail: 'testautoleady@gmail.com',\n    dataStr: now.toLocaleDateString('pl-PL'),\n    timeStr: now.toLocaleTimeString('pl-PL', {hour:'2-digit', minute:'2-digit'}),\n    now: now.toISOString()\n  }\n}];\n"
      },
      "id": "573b86a6-ffa0-4d14-b28e-5e6c5d27485a",
      "name": "SETUP - Konfiguracja",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -432
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('SETUP - Konfiguracja').item.json;\nconst { nowMin, startMin, minPoStart, rapPolMin, progNiskiStan, progSpoznMin } = cfg;\n\nlet tasks = [];\nconst firstJson = $input.first().json;\n\nif (firstJson.tasks && Array.isArray(firstJson.tasks)) {\n  tasks = firstJson.tasks;\n} else if (Array.isArray(firstJson)) {\n  tasks = firstJson;\n} else {\n  tasks = $input.all().map(item => item.json);\n}\n\ntasks = tasks.filter(t => t.id && t.custom_fields);\n\nconst alerty = [];\nconst stats = {\n  lacznie: tasks.length,\n  obecni: 0,\n  spoznieni: 0,\n  nieobecni: 0,\n  bezRapPol: 0,\n  niskaIlosc: 0,\n  wymagaUwagi: 0\n};\n\n// ============================================\n// MECHANIZM DEDUPLIKACJI\n// Sprawdź kiedy ostatnio wysłano alert dla danego taska+typu\n// Używamy custom field \"Uwagi Managera\" lub date_updated jako proxy\n// GŁÓWNA LOGIKA: alert tego samego typu dla tego samego taska\n// wysyłamy max raz na X minut\n// ============================================\nconst COOLDOWN_SPOZNIENIE   = 240; // min - spóźnienie: raz na 4h (już wiemy, nie spam)\nconst COOLDOWN_NIEOBECNOSC  = 60;  // min - nieobecność: co godzinę\nconst COOLDOWN_BRAK_RAP_POL = 30;  // min - brak raportu pol: co 30 min\nconst COOLDOWN_NISKI_STAN   = 60;  // min - niski stan: co godzinę\n\n// Klucz: taskId_typ → timestamp ostatniego alertu\n// Przechowujemy w custom field \"date_updated\" taska jako proxy\n// LUB sprawdzamy przez pole tekstowe w tasku\n// \n// Najprostsze rozwiązanie: sprawdź date_updated taska\n// Jeśli task był update'owany niedawno przez system = alert już wysłano\n\nfunction minutySinceMs(ms) {\n  const now = Date.now();\n  return Math.floor((now - parseInt(ms)) / 60000);\n}\n\ntasks.forEach(task => {\n  const cf = {};\n  (task.custom_fields || []).forEach(f => {\n    if (f.value !== undefined && f.value !== null) {\n      cf[f.name] = f.value;\n    }\n  });\n\n  const imie    = task.name.trim();\n  const taskId  = task.id;\n  const taskUrl = task.url;\n  const email   = cf['Email'] || cfg.mgrEmail;\n\n  const gPrzyjscia  = cf['Godzina Przyjścia'] || cf['Godzina Przyjscia'] || null;\n  const stan13      = parseInt(cf['Stan o 13:00']    || '0') || 0;\n  const stanPocz    = parseInt(cf['Stan Początkowy'] || cf['Stan Poczatkowy'] || '0') || 0;\n  const rapPol      = cf['Raport Połówkowy'] || cf['Raport Polowkowy'] || null;\n  const liczbaSpozn = parseInt(cf['Liczba Spóźnień (łącznie)'] || '0') || 0;\n  const status      = (task.status?.status || '').toLowerCase();\n\n  // ---- Minuty od ostatniej aktualizacji taska ----\n  const minutesSinceUpdate = minutySinceMs(task.date_updated || task.date_created || 0);\n\n  if (status === 'wymaga uwagi') stats.wymagaUwagi++;\n\n  // ---- OBECNOŚĆ I SPÓŹNIENIE ----\n  if (gPrzyjscia && gPrzyjscia.trim() !== '') {\n    stats.obecni++;\n\n    const parts = gPrzyjscia.split(':');\n    if (parts.length === 2) {\n      const hP        = parseInt(parts[0]) || 0;\n      const mP        = parseInt(parts[1]) || 0;\n      const przyjMin  = hP * 60 + mP;\n      const spoznMinut = przyjMin - startMin;\n\n      if (spoznMinut > progSpoznMin) {\n        stats.spoznieni++;\n\n        // DEDUPLIKACJA SPÓŹNIENIA:\n        // Wyślij alert spóźnienia TYLKO jeśli:\n        // - to pierwsza rejestracja (liczbaSpozn zmiana) - task był update'owany < 30 min temu\n        // - LUB minęło więcej niż COOLDOWN od ostatniego alertu\n        // \n        // Heurystyka: jeśli task był zaktualizowany < 20 min temu\n        // = właśnie się zarejestrowała = wyślij alert (pierwsze spóźnienie tego dnia)\n        // Jeśli update był dawno = już wiemy o tym spóźnieniu = nie wysyłaj ponownie\n        \n        const czyNoweSpoznienie = minutesSinceUpdate < 20;\n        const czyPoKooldownie   = minutesSinceUpdate > COOLDOWN_SPOZNIENIE;\n\n        if (czyNoweSpoznienie || czyPoKooldownie) {\n          alerty.push({\n            typ:          'spoznienie',\n            ikona:        '⚠️',\n            taskId,\n            taskUrl,\n            imie,\n            email,\n            info:         `Spóźnienie ${spoznMinut} min (łącznie: ${liczbaSpozn + 1}x)`,\n            pilne:        liczbaSpozn >= cfg.progSpoznZarzad,\n            spoznMin:     spoznMinut,\n            liczbaSpozn,\n            czyNowe:      czyNoweSpoznienie\n          });\n        }\n        // else: znamy to spóźnienie, nie spamujemy\n      }\n    }\n  } else if (minPoStart > 30) {\n    stats.nieobecni++;\n\n    // DEDUPLIKACJA NIEOBECNOŚCI:\n    // Wyślij alert co COOLDOWN_NIEOBECNOSC minut\n    // Sprawdź przez minutesSinceUpdate:\n    // Pierwsze wykrycie: task nie był update'owany = minutesSinceUpdate duże = wyślij\n    // Kolejne: nie aktualizujemy taska przy braku osoby = zawsze duże = PROBLEM\n    //\n    // Rozwiązanie: użyj nowMin jako \"okna\"\n    // Wysyłaj alert nieobecności tylko co pełną godzinę (np. 9:00, 10:00...)\n    // lub przy pierwszym wykryciu (minPoStart == 31-45)\n    \n    const czyPierwszeWykrycie = minPoStart >= 30 && minPoStart <= 45;\n    const czyCykliczne        = nowMin % 60 < 15; // pierwsze 15 min każdej godziny\n\n    if (czyPierwszeWykrycie || czyCykliczne) {\n      alerty.push({\n        typ:    'nieobecnosc',\n        ikona:  '❌',\n        taskId,\n        taskUrl,\n        imie,\n        email,\n        info:   `Nieobecna ${minPoStart} min po starcie`,\n        pilne:  minPoStart > 60\n      });\n    }\n  }\n\n  // ---- BRAK RAPORTU POŁÓWKOWEGO ----\n  const rapPolOddany = cf['Raport Połówkowy Oddany'] === true\n    || cf['Raport Połówkowy Oddany'] === 'true'\n    || cf['Raport Polowkowy Oddany'] === true\n    || !!rapPol;\n\n  if (nowMin > rapPolMin + 30 && !rapPolOddany && gPrzyjscia) {\n    stats.bezRapPol++;\n\n    // DEDUPLIKACJA BRAK RAPORTU POŁ:\n    // Wysyłaj tylko:\n    // - raz zaraz po 13:30 (nowMin w oknie 810-825)\n    // - raz po 14:00 (nowMin w oknie 840-855) jeśli dalej brak\n    // - raz po 14:30 jako ostatnie przypomnienie\n    \n    const okno1 = nowMin >= rapPolMin + 30  && nowMin < rapPolMin + 45;  // 13:30-13:45\n    const okno2 = nowMin >= rapPolMin + 60  && nowMin < rapPolMin + 75;  // 14:00-14:15\n    const okno3 = nowMin >= rapPolMin + 90  && nowMin < rapPolMin + 105; // 14:30-14:45\n\n    if (okno1 || okno2 || okno3) {\n      alerty.push({\n        typ:      'brak_raportu_pol',\n        ikona:    '📋',\n        taskId,\n        taskUrl,\n        imie,\n        email,\n        info:     `Brak raportu połówkowego (po ${okno1 ? '13:30' : okno2 ? '14:00' : '14:30'})`,\n        pilne:    nowMin > rapPolMin + 60,\n        oknoAlertu: okno1 ? 1 : okno2 ? 2 : 3\n      });\n    }\n  }\n\n  // ---- NISKI STAN ----\n  const stanAktualny = stan13 > 0 ? stan13 : stanPocz;\n  if (stanAktualny > 0 && stanAktualny < progNiskiStan && gPrzyjscia) {\n    stats.niskaIlosc++;\n\n    // DEDUPLIKACJA NISKI STAN:\n    // Task był update'owany gdy wpisano niski stan\n    // Jeśli minutesSinceUpdate < 30 = świeże = wyślij\n    // Jeśli minutesSinceUpdate > COOLDOWN = przypomnij (ale rzadko)\n    \n    const czySwiezyAlert  = minutesSinceUpdate < 30;\n    const czyPoKooldownie = minutesSinceUpdate > COOLDOWN_NISKI_STAN;\n\n    if (czySwiezyAlert || czyPoKooldownie) {\n      alerty.push({\n        typ:    'niski_stan',\n        ikona:  '🔴',\n        taskId,\n        taskUrl,\n        imie,\n        email,\n        info:   `Niski stan produktu: ${stanAktualny} szt. (próg: ${progNiskiStan})`,\n        pilne:  true\n      });\n    }\n  }\n});\n\nconst maAlerty = alerty.length > 0;\nconst maPilne  = alerty.some(a => a.pilne);\n\nreturn [{\n  json: {\n    ...cfg,\n    alerty,\n    stats,\n    maAlerty,\n    maPilne,\n    liczbaAlertow: alerty.length,\n    _debug: {\n      tasksZnalezione: tasks.length,\n      inputFormat: Array.isArray(firstJson) ? 'array' : (firstJson.tasks ? 'tasks_object' : 'items')\n    }\n  }\n}];"
      },
      "id": "c74290e7-5e38-434c-b0c8-4cd7dcd3cc3b",
      "name": "ANALIZA - Sprawdź Problemy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c-alert",
              "leftValue": "={{ $json.maAlerty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4beb6bbf-8334-4ade-99fb-0cea0fac98c1",
      "name": "IF - Są Alerty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        816,
        -432
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst kolorMap = {\n  spoznienie: '#fff3cd',\n  nieobecnosc: '#f8d7da',\n  brak_raportu_pol: '#d1ecf1',\n  niski_stan: '#f8d7da'\n};\n\nconst listaHTML = d.alerty.map(a => {\n  const kolor = kolorMap[a.typ] || '#f8f9fa';\n  const border = a.pilne ? '#dc3545' : '#ffc107';\n  return `\n  <div style=\"background:${kolor};padding:12px;border-radius:6px;margin:8px 0;border-left:4px solid ${border};\">\n    <strong>${a.ikona} ${a.imie}</strong>\n    ${a.pilne ? '<span style=\"color:red;font-weight:bold;\"> 🚨 PILNE</span>' : ''}\n    <br>\n    <span style=\"color:#555;font-size:13px;\">${a.info}</span>\n    <br>\n    <a href=\"${a.taskUrl}\" style=\"font-size:12px;color:#667eea;\">→ Zobacz task w ClickUp</a>\n  </div>`;\n}).join('');\n\nconst html = `<!DOCTYPE html>\n<html>\n<body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;\">\n<div style=\"background:#e74c3c;color:white;padding:20px;border-radius:10px 10px 0 0;\">\n  <h2 style=\"margin:0;\">🔔 Alert Systemu - ${d.timeStr}</h2>\n  <p style=\"opacity:0.85;margin:5px 0 0;\">Hostessy | ${d.dataStr}</p>\n</div>\n<div style=\"background:white;padding:20px;border:1px solid #eee;\">\n  <div style=\"display:flex;gap:10px;margin-bottom:15px;flex-wrap:wrap;\">\n    <div style=\"background:#e8f5e9;padding:10px 15px;border-radius:8px;text-align:center;flex:1;\">\n      <b style=\"font-size:22px;color:green;\">${d.stats.obecni}</b><br><small>Obecni</small>\n    </div>\n    <div style=\"background:#fce4ec;padding:10px 15px;border-radius:8px;text-align:center;flex:1;\">\n      <b style=\"font-size:22px;color:red;\">${d.stats.nieobecni}</b><br><small>Nieobecni</small>\n    </div>\n    <div style=\"background:#fff3e0;padding:10px 15px;border-radius:8px;text-align:center;flex:1;\">\n      <b style=\"font-size:22px;color:orange;\">${d.stats.spoznieni}</b><br><small>Spóźnieni</small>\n    </div>\n    <div style=\"background:#fce4ec;padding:10px 15px;border-radius:8px;text-align:center;flex:1;\">\n      <b style=\"font-size:22px;color:red;\">${d.liczbaAlertow}</b><br><small>Alertów</small>\n    </div>\n  </div>\n  <h3 style=\"color:#e74c3c;\">⚠️ Lista Problemów (${d.liczbaAlertow})</h3>\n  ${listaHTML}\n</div>\n<div style=\"background:#f8f9fa;padding:10px;text-align:center;border:1px solid #eee;border-radius:0 0 10px 10px;\">\n  <small style=\"color:#888;\">Automatyczny monitoring co 15 min | ${d.timeStr}</small>\n</div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    ...d,\n    emailHTML: html,\n    emailSubject: `🔔 Alert Hostessy | ${d.liczbaAlertow} problemów | ${d.timeStr} | ${d.maPilne ? '🚨 PILNE' : ''}`\n  }\n}];\n"
      },
      "id": "d84d0bc2-3ad1-49c8-a890-d2f32952001a",
      "name": "BUDUJ - Email Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -528
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "team": "90152423592",
        "space": "901510700896",
        "folderless": true,
        "list": "=901522609104",
        "filters": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        400,
        -432
      ],
      "id": "6c72f72b-2083-4808-b4af-8e5fb28143e9",
      "name": "Get many tasks",
      "credentials": {
        "clickUpApi": {
          "id": "sISzjXs5CiRIiysY",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('BUDUJ - Email Alert').item.json.zarzadEmail }}",
        "subject": "={{ $('BUDUJ - Email Alert').item.json.emailSubject }}",
        "message": "={{ $('BUDUJ - Email Alert').item.json.emailHTML }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1376,
        -528
      ],
      "id": "0a428c1c-b72b-4f16-92d8-c467177bef49",
      "name": "Send a message",
      "webhookId": "c6f1df06-bbcd-47ea-804b-39b1d37e7ac5",
      "credentials": {
        "gmailOAuth2": {
          "id": "UZClcStQjFuAT5TN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cfg = $input.first().json;\n\n// Sprawdź czy to dane z ClickUp czy config\n// Jeśli tasks istnieje to są to dane z ClickUp\nconst tasks = cfg.tasks || [];\n\n// Pobierz config z poprzedniego noda\nconst setupData = $('SETUP - Raport Końcowy').item?.json || \n                   {};\n\nconst bezRaportu = [];\n\ntasks.forEach(task => {\n  const cf = {};\n  (task.custom_fields || []).forEach(f => {\n    cf[f.name] = f.value;\n  });\n\n  const imie = task.name.split(' | ')[0];\n  const email = cf['Email Pracownika'] || setupData.mgrEmail;\n  const gPrzyjscia = cf['Godzina Przyjścia'] || cf['Godzina Przyjscia'];\n  \n  // Sprawdź czy raport oddany\n  const rapOddany = setupData.typRaportu === 'polowkowy'\n    ? (cf['Raport Połówkowy Oddany'] === true || cf['Raport Polowkowy Oddany'] === true)\n    : (cf['Raport Końcowy Oddany'] === true || cf['Raport Koncowy Oddany'] === true);\n\n  if (gPrzyjscia && !rapOddany) {\n    bezRaportu.push({\n      taskId: task.id,\n      taskUrl: task.url,\n      imie,\n      email,\n      gPrzyjscia\n    });\n  }\n});\n\nreturn bezRaportu.map(p => ({\n  json: {\n    ...setupData,\n    ...p,\n    lacznie: bezRaportu.length\n  }\n}));\n"
      },
      "id": "b1fc56b4-0aed-4d84-99d2-a080a8e47a46",
      "name": "FILTRUJ - Kto Nie Oddał Raportu1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        304
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.clickup.com/api/v2/list/{{ $json.listId }}/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "include_closed",
              "value": "false"
            },
            {
              "name": "statuses[]",
              "value": "ETAP 1-2"
            },
            {
              "name": "statuses[]",
              "value": "ETAP 3-4"
            },
            {
              "name": "statuses[]",
              "value": "ETAP 5"
            },
            {
              "name": "statuses[]",
              "value": "ETAP 6"
            }
          ]
        },
        "options": {}
      },
      "id": "dad8e2c2-b288-4cdb-9e07-222c17c72dd4",
      "name": "CLICKUP - Pobierz Taski do Raportu1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LJcXaUcjE7gmtQIs",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=autoleady@gmail.com",
        "subject": "=Raport {{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        704
      ],
      "id": "61d0240c-a3ff-4ada-a980-2b2a00d4f5fc",
      "name": "Send a message1",
      "webhookId": "88e25337-36c8-445b-8f04-78c633de31ea",
      "credentials": {
        "gmailOAuth2": {
          "id": "UZClcStQjFuAT5TN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Zarys do pelnego projektu\n",
        "height": 384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        624
      ],
      "typeVersion": 1,
      "id": "b6036c7e-1f27-4efc-8dca-116e36e498aa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Raport końcowy codziennie o 17",
        "height": 448,
        "width": 1296,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        688
      ],
      "typeVersion": 1,
      "id": "0e59cbf4-365e-46ae-b675-6d9dc2570b20",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Sprawdzenie czy są raporty poludniowe i koncowe",
        "height": 496,
        "width": 1232
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -48
      ],
      "typeVersion": 1,
      "id": "1d2a49f8-b8c0-41c5-9b71-3b25a05663a0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Co 15min sprawdza czy są jakieś alerty lub coś się dzieje",
        "height": 256,
        "width": 1600,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -560
      ],
      "typeVersion": 1,
      "id": "b3134399-c426-4dcf-a774-20195fba8bb4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Codzienne tworzenie taskow z template\n",
        "height": 192,
        "width": 1488,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        -544
      ],
      "typeVersion": 1,
      "id": "2524cb22-3170-4578-9f03-eb37dd69d8b2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clickup-status-change",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4857b19b-90a0-4da2-ae3e-f20314d1c16e",
      "name": "Webhook - ClickUp Status Change",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1664,
        16
      ],
      "webhookId": "clickup-status-change"
    },
    {
      "parameters": {
        "jsCode": "// Odbierz dane z webhooka ClickUp\nconst body = $json.body || $json;\n\n// ClickUp wysyła event przy zmianie statusu\nconst eventType = body.event;\nconst taskData = body.task_id ? body : (body.history_items?.[0] || {});\n\n// Pobierz ID taska i nowy status\nconst taskId = body.task_id || taskData.task?.id;\nconst newStatus = body.history_items?.[0]?.after?.status?.toLowerCase() || \n                  body.status?.toLowerCase() || \n                  '';\n\n// Sprawdź czy to zdarzenie zmiany statusu\nconst isStatusChange = eventType === 'taskStatusUpdated' || \n                       body.history_items?.[0]?.field === 'status';\n\n// Sprawdź czy nowy status to 'zakończone'\n// WAŻNE: Zmień 'done' na dokładną nazwę Twojego statusu!\nconst targetStatuses = ['done', 'zakończone', 'complete', 'closed', 'zakonczone'];\nconst isCompleted = targetStatuses.some(s => newStatus.includes(s));\n\nconsole.log(`Task ID: ${taskId}, Status: ${newStatus}, IsCompleted: ${isCompleted}`);\n\nreturn [{\n  json: {\n    task_id: taskId,\n    new_status: newStatus,\n    is_completed: isCompleted,\n    is_status_change: isStatusChange,\n    raw_event: eventType\n  }\n}];"
      },
      "id": "3f3ed728-774c-4746-bd0d-84041b5eb912",
      "name": "Parsuj Webhook ClickUp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-001",
              "leftValue": "={{ $json.is_completed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "condition-002",
              "leftValue": "={{ $json.task_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cee28d33-2f9f-45f0-a857-fc705a567fe1",
      "name": "Czy Status = Zakończone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2112,
        16
      ]
    },
    {
      "parameters": {
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "TWOJ_CLICKUP_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "765f0de9-6f7d-4eee-aa38-59f3fb3b5aa6",
      "name": "Pobierz Pełne Dane Taska",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2320,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Przygotuj dane do skopiowania do archiwum\nconst task = $json;\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('pl-PL', {\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric'\n});\nconst timeStr = now.toLocaleTimeString('pl-PL', {\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Przygotuj custom fields do skopiowania\nconst customFields = task.custom_fields?.map(field => {\n  // Pomijamy pola bez wartości\n  if (field.value === null || field.value === undefined) return null;\n  return {\n    id: field.id,\n    value: field.value\n  };\n}).filter(Boolean) || [];\n\n// Buduj obiekt nowego taska w archiwum\nconst archiveTask = {\n  name: `[ARCHIWUM ${dateStr}] ${task.name}`,\n  description: `## Zarchiwizowano: ${dateStr} o ${timeStr}\\n\\n${task.description || 'Brak opisu'}\\n\\n---\\n**Oryginalny Task ID:** ${task.id}\\n**Data zakończenia:** ${dateStr} ${timeStr}`,\n  status: 'Open',\n  priority: task.priority?.id || 3,\n  custom_fields: customFields,\n  tags: [...(task.tags?.map(t => t.name) || []), 'archiwum', dateStr]\n};\n\nreturn [{\n  json: {\n    archive_task: archiveTask,\n    original_task_id: task.id,\n    original_task_name: task.name,\n    original_list_id: task.list?.id,\n    archived_at: now.toISOString()\n  }\n}];"
      },
      "id": "4dd7a94f-3e09-4794-a2c6-a34f5cfe1905",
      "name": "Przygotuj Task do Archiwum",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.clickup.com/api/v2/list/TWOJE_ARCHIWUM_LIST_ID/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "TWOJ_CLICKUP_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.archive_task) }}",
        "options": {}
      },
      "id": "400227f6-91d0-4844-85dd-f7da593b3f83",
      "name": "Utwórz Task w Archiwum",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2768,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Sprawdź czy archiwizacja się powiodła\nconst archivedTask = $json;\nconst prevData = $('Przygotuj Task do Archiwum').first().json;\n\nif (!archivedTask.id) {\n  throw new Error(`Błąd archiwizacji taska: ${prevData.original_task_id}`);\n}\n\nconsole.log(`Zarchiwizowano: ${prevData.original_task_name} → ${archivedTask.id}`);\n\nreturn [{\n  json: {\n    success: true,\n    original_task_id: prevData.original_task_id,\n    archive_task_id: archivedTask.id,\n    archive_task_url: archivedTask.url,\n    archived_at: prevData.archived_at\n  }\n}];"
      },
      "id": "a6ccd2aa-c5da-4eb6-b12c-8293297372a5",
      "name": "Weryfikuj Archiwizację",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        -96
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Weryfikuj Archiwizację').first().json.original_task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "TWOJ_CLICKUP_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ description: `${$('Pobierz Pełne Dane Taska').first().json.description || ''}\\n\\n---\\n✅ **ZARCHIWIZOWANO**\\nLink do archiwum: ${$('Weryfikuj Archiwizację').first().json.archive_task_url}\\nData: ${new Date().toLocaleDateString('pl-PL')}` }) }}",
        "options": {}
      },
      "id": "5fbf5f58-831a-423c-b66b-6b58d3a63720",
      "name": "Dodaj Notatkę do Oryginalnego Taska",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3200,
        -96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', message: 'Webhook received' }) }}",
        "options": {}
      },
      "id": "95b97bd2-09d4-41c3-a97f-bf087cc833a3",
      "name": "Odpowiedz na Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2112,
        208
      ]
    },
    {
      "parameters": {
        "content": "Przenoszenie do archiwum po zakonczeniu taska\n",
        "height": 480,
        "width": 1680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        -144
      ],
      "typeVersion": 1,
      "id": "7e57967a-a170-4e79-b45b-eaccd75cfa50",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            }
          ]
        }
      },
      "id": "5f30eaf7-420b-48ad-ad36-02115d0835c0",
      "name": "Cron - Codziennie 7:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1728,
        -496
      ]
    },
    {
      "parameters": {
        "url": "https://api.clickup.com/api/v2/list/TWOJA_LISTA_SZABLONOW_ID/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "include_closed",
              "value": "false"
            },
            {
              "name": "page",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "TWOJ_CLICKUP_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "1df5c7bb-8c7b-4f00-959a-a0f6f011c919",
      "name": "Pobierz Wszystkie Szablony",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1952,
        -496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pobierz wszystkie taski-szablony\nconst response = $json;\nconst templates = response.tasks || [];\n\nif (templates.length === 0) {\n  throw new Error('Brak szablonow w liscie! Sprawdz TWOJA_LISTA_SZABLONOW_ID');\n}\n\nconsole.log(`Znaleziono ${templates.length} szablonow`);\n\n// Przygotuj datę\nconst today = new Date();\nconst dateStr = today.toLocaleDateString('pl-PL', {\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric'\n});\n\n// Dla każdego szablonu stwórz obiekt nowego taska\nconst newTasks = templates.map(template => {\n  \n  // Skopiuj custom fields (tylko te z wartościami)\n  const customFields = (template.custom_fields || []).map(field => {\n    if (field.value === null || field.value === undefined) return null;\n    return { id: field.id, value: field.value };\n  }).filter(Boolean);\n\n  return {\n    json: {\n      // Nowa nazwa z datą\n      name: `${template.name} - ${dateStr}`,\n      \n      // Opis z info o szablonie\n      description: `${template.description || ''}\\n\\n---\\nUtworzono z szablonu: ${template.name}\\nData: ${dateStr}`,\n      \n      // Status początkowy\n      status: 'Open',\n      \n      // Priorytet z szablonu\n      priority: template.priority?.id || 3,\n      \n      // Custom fields z szablonu\n      custom_fields: customFields,\n      \n      // Tagi z szablonu + tag z datą\n      tags: [\n        ...(template.tags?.map(t => t.name) || []),\n        dateStr\n      ],\n      \n      // Zachowaj assignees z szablonu\n      assignees: template.assignees?.map(a => a.id) || [],\n      \n      // Meta do logowania (nie idzie do ClickUp)\n      _template_id: template.id,\n      _template_name: template.name\n    }\n  };\n});\n\nconsole.log(`Przygotowano ${newTasks.length} taskow do utworzenia`);\n\nreturn newTasks;"
      },
      "id": "88affe9f-e3ea-4e98-b46b-b96cf30871b6",
      "name": "Rozdziel Szablony na Osobne Itemy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        -496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Usuń meta pola przed wysłaniem do ClickUp\nconst item = $json;\n\nconst taskPayload = {\n  name: item.name,\n  description: item.description,\n  status: item.status,\n  priority: item.priority,\n  custom_fields: item.custom_fields,\n  tags: item.tags,\n  assignees: item.assignees\n};\n\n// Zachowaj meta do logowania\nreturn [{\n  json: {\n    payload: taskPayload,\n    _template_id: item._template_id,\n    _template_name: item._template_name\n  }\n}];"
      },
      "id": "162a2d5e-7765-4912-9686-83ba11d79e9a",
      "name": "Przygotuj Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.clickup.com/api/v2/list/TWOJA_LISTA_AKTYWNA_ID/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "TWOJ_CLICKUP_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "fea72ed4-7c46-41d5-b190-f08b50b927d6",
      "name": "Utwórz Task w Aktywnej Liście",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2608,
        -496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loguj każdy utworzony task\nconst createdTask = $json;\nconst templateName = $('Przygotuj Payload').first().json._template_name;\nconst now = new Date().toISOString();\n\nconsole.log(`[OK] ${templateName} → Task ID: ${createdTask.id}`);\n\nreturn [{\n  json: {\n    success: true,\n    template_name: templateName,\n    new_task_id: createdTask.id,\n    new_task_name: createdTask.name,\n    new_task_url: createdTask.url,\n    created_at: now\n  }\n}];"
      },
      "id": "20d9502b-06c7-4dd2-adc4-879a8518adac",
      "name": "Loguj Każdy Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        -496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Zbierz wszystkie wyniki z całego batcha\nconst allItems = $input.all();\n\nconst summary = {\n  total_created: allItems.length,\n  created_at: new Date().toISOString(),\n  tasks: allItems.map(item => ({\n    template: item.json.template_name,\n    task_id: item.json.new_task_id,\n    task_url: item.json.new_task_url\n  }))\n};\n\nconsole.log(`=== PODSUMOWANIE ===`);\nconsole.log(`Utworzono ${summary.total_created} taskow`);\nconsole.log(JSON.stringify(summary, null, 2));\n\nreturn [{ json: summary }];"
      },
      "id": "18e260cb-4333-4c7d-ac43-00589ab6693a",
      "name": "Podsumowanie Całego Batcha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        -496
      ]
    }
  ],
  "connections": {
    "SCHEDULER - 13:00 Raport Połówkowy": {
      "main": [
        [
          {
            "node": "SETUP - Raport Połówkowy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SCHEDULER - 16:30 Raport Końcowy": {
      "main": [
        [
          {
            "node": "SETUP - Raport Końcowy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SETUP - Raport Połówkowy": {
      "main": [
        [
          {
            "node": "CLICKUP - Pobierz Taski do Raportu1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SETUP - Raport Końcowy": {
      "main": [
        [
          {
            "node": "CLICKUP - Pobierz Taski do Raportu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLICKUP - Pobierz Taski do Raportu": {
      "main": [
        [
          {
            "node": "FILTRUJ - Kto Nie Oddał Raportu1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILTRUJ - Kto Nie Oddał Raportu": {
      "main": [
        [
          {
            "node": "EMAIL - Przypomnienie do Pracownika",
            "type": "main",
            "index": 0
          },
          {
            "node": "BUDUJ - Email dla Managera i Zarządu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUDUJ - Email dla Managera i Zarządu": {
      "main": [
        [
          {
            "node": "EMAIL - Alert Brak Raportu do Managera",
            "type": "main",
            "index": 0
          },
          {
            "node": "EMAIL - Alert Brak Raportu do Zarządu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SCHEDULER - 17:00 Raport Końcowy": {
      "main": [
        [
          {
            "node": "SETUP - Konfiguracja Raportu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SETUP - Konfiguracja Raportu": {
      "main": [
        [
          {
            "node": "CLICKUP - Pobierz Wszystkie Taski",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLICKUP - Pobierz Wszystkie Taski": {
      "main": [
        [
          {
            "node": "ANALIZA - Statystyki Dnia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANALIZA - Statystyki Dnia": {
      "main": [
        [
          {
            "node": "BUDUJ - HTML Raportu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUDUJ - HTML Raportu": {
      "main": [
        [
          {
            "node": "CLICKUP - Zapisz Raport w ClickUp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SCHEDULER - Co 15 min (6:00-17:00)": {
      "main": [
        [
          {
            "node": "SETUP - Konfiguracja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SETUP - Konfiguracja": {
      "main": [
        [
          {
            "node": "Get many tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANALIZA - Sprawdź Problemy": {
      "main": [
        [
          {
            "node": "IF - Są Alerty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Są Alerty?": {
      "main": [
        [
          {
            "node": "BUDUJ - Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUDUJ - Email Alert": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks": {
      "main": [
        [
          {
            "node": "ANALIZA - Sprawdź Problemy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLICKUP - Pobierz Taski do Raportu1": {
      "main": [
        [
          {
            "node": "FILTRUJ - Kto Nie Oddał Raportu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILTRUJ - Kto Nie Oddał Raportu1": {
      "main": [
        [
          {
            "node": "EMAIL - Przypomnienie do Pracownika",
            "type": "main",
            "index": 0
          },
          {
            "node": "BUDUJ - Email dla Managera i Zarządu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Webhook - ClickUp Status Change": {
      "main": [
        [
          {
            "node": "Parsuj Webhook ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsuj Webhook ClickUp": {
      "main": [
        [
          {
            "node": "Czy Status = Zakończone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Czy Status = Zakończone?": {
      "main": [
        [
          {
            "node": "Pobierz Pełne Dane Taska",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Odpowiedz na Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pobierz Pełne Dane Taska": {
      "main": [
        [
          {
            "node": "Przygotuj Task do Archiwum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przygotuj Task do Archiwum": {
      "main": [
        [
          {
            "node": "Utwórz Task w Archiwum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Utwórz Task w Archiwum": {
      "main": [
        [
          {
            "node": "Weryfikuj Archiwizację",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weryfikuj Archiwizację": {
      "main": [
        [
          {
            "node": "Dodaj Notatkę do Oryginalnego Taska",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron - Codziennie 7:00": {
      "main": [
        [
          {
            "node": "Pobierz Wszystkie Szablony",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pobierz Wszystkie Szablony": {
      "main": [
        [
          {
            "node": "Rozdziel Szablony na Osobne Itemy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rozdziel Szablony na Osobne Itemy": {
      "main": [
        [
          {
            "node": "Przygotuj Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przygotuj Payload": {
      "main": [
        [
          {
            "node": "Utwórz Task w Aktywnej Liście",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Utwórz Task w Aktywnej Liście": {
      "main": [
        [
          {
            "node": "Loguj Każdy Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loguj Każdy Task": {
      "main": [
        [
          {
            "node": "Podsumowanie Całego Batcha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f6893d5c-fa65-41d8-86e6-537e902ed8e5",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-15T19:51:43.713Z",
      "createdAt": "2026-04-15T19:51:43.713Z",
      "role": "workflow:owner",
      "workflowId": "4gxoQAVkXGARL5fq",
      "projectId": "MQ48RGzyImrotRcN"
    }
  ],
  "activeVersion": null,
  "tags": []
}