Backup_2026-00-26/Auto maile [demo].json
{
  "updatedAt": "2026-04-26T12:44:47.703Z",
  "createdAt": "2026-04-04T10:07:41.189Z",
  "id": "yKYRVxDXzyPHdVcn",
  "name": "Auto maile [demo]",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        80,
        80
      ],
      "id": "c31fc417-512e-4172-a7a9-f03a45cba3ff",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eaace49a-b8d3-42cd-ab53-e4009ef0572a",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Nowe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1152,
        208
      ],
      "id": "4b211f88-4b0f-42fa-bd00-e8cdc041ba45",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Ustawienie Limitu').item.json.Email }}",
        "subject": "=Szybki pomysł dla {{ $('Zebranie danych').item.json.Nazwa }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"pl\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<style>\n  body{font-family:Arial,sans-serif;background:#F1F5F9;padding:30px 15px;margin:0;}\n  .box{max-width:500px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.08);}\n  .top{background:#1E3A5F;padding:32px 30px;color:white;border-bottom:4px solid #3B82F6;}\n  .top .label{font-size:11px;font-weight:700;letter-spacing:1.5px;text-transform:uppercase;color:#93C5FD;margin-bottom:12px;}\n  .top h1{margin:0;font-size:22px;line-height:1.5;color:#FFFFFF;font-weight:800;}\n  .top h1 span{color:#FCD34D;}\n  .body{padding:28px 30px;}\n  .body p{font-size:14px;color:#334155;line-height:1.8;margin:0 0 14px 0;}\n  .audit{background:#F0FDF4;border-left:4px solid #22C55E;padding:14px 18px;border-radius:0 8px 8px 0;font-size:14px;color:#14532D;margin:16px 0;}\n  .audit strong{color:#15803D;}\n  .cta{display:block;background:#1E3A5F;color:#fff;text-align:center;padding:15px;border-radius:8px;text-decoration:none;font-weight:700;font-size:15px;margin:20px 0 6px 0;}\n  .sub{text-align:center;font-size:11px;color:#94A3B8;margin:0 0 20px 0;}\n  .sig{font-size:13px;color:#64748B;border-top:1px solid #F1F5F9;padding-top:16px;}\n  .sig strong{color:#0F172A;display:block;margin-bottom:3px;}\n</style>\n</head>\n<body>\n<div class=\"box\">\n\n  <div class=\"top\">\n    <div class=\"label\">🔍 Bezpłatna analiza</div>\n    <h1>Znaleźliśmy kilka rzeczy<br>w marketingu <span>{{ $('Zebranie danych').item.json.Nazwa }}</span></h1>\n  </div>\n\n  <div class=\"body\">\n\n    <p>Cześć! Przejrzeliśmy obecność <strong>{{ $('Zebranie danych').item.json.Nazwa }}</strong> w internecie i zauważyliśmy miejsca, które prawdopodobnie kosztują Was klientów każdego miesiąca.</p>\n\n    <div class=\"audit\">\n      🎁 <strong>Bezpłatny audyt dla Was —</strong> pokażemy dokładnie co nie działa w Waszym marketingu i co konkretnie warto poprawić. Zero ogólników, same konkrety.\n    </div>\n\n    <p>Proponuję krótką rozmowę <strong>5-10 minut</strong> — bez sprzedawania, tylko żeby pokazać co znaleźliśmy i czy w ogóle możemy pomóc.</p>\n\n    <a href=\"https://calendly.com/TWOJ-LINK\" class=\"cta\">📞 Umów rozmowę 5-10 min →</a>\n    <p class=\"sub\">Bezpłatnie · Bez zobowiązań · Tylko konkrety</p>\n\n    <div class=\"sig\">\n      <strong>Olaf Piekielnik</strong>\n       AutoLeady<br>\n      autoleady@gmail.com\n    </div>\n\n  </div>\n</div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1536,
        208
      ],
      "id": "2f3a7fe6-18aa-4031-b3ad-94d791703d84",
      "name": "Send a message",
      "webhookId": "3d83acaf-3272-45db-8a35-98df4ce6732a"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos",
          "mode": "list",
          "cachedResultName": "Mail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Zebranie danych').item.json.Email }}",
            "Data wysylki": "={{$now.format('yyyy-MM-dd')}}",
            "Status": "Wyslane"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Firma",
              "displayName": "Firma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data wysylki",
              "displayName": "Data wysylki",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "follow up",
              "displayName": "follow up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odpowiedz",
              "displayName": "odpowiedz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        96
      ],
      "id": "cba835ab-133b-4806-acdf-b03ef796c2d4",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee4213f5-7ebc-4080-8e01-ab26f758d9c5",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        208
      ],
      "id": "7b2d0c3e-836c-46e1-9937-5751870a056e",
      "name": "If1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos",
          "mode": "list",
          "cachedResultName": "Mail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        512
      ],
      "id": "025480c1-5f31-41b9-a8ce-b275b53b965f",
      "name": "Get row(s) in sheet1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1f510d16-c166-4d88-9575-d95e38d49f53",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        80
      ],
      "id": "8a623779-7d4e-45fe-9fe2-9bf0d2a3f008",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c980813-4bf6-44f3-b20f-2c18fa6ad6bc",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "X",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1360,
        192
      ],
      "id": "31d9d15d-632e-431a-a304-2623debb3c2e",
      "name": "If4"
    },
    {
      "parameters": {
        "amount": 24
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        512
      ],
      "id": "a113a0cf-cd15-409a-8baa-ef76d2c8a4a2",
      "name": "Wait",
      "webhookId": "9924b8a5-1f3f-4f89-a9c0-cd392cd40f37"
    },
    {
      "parameters": {
        "content": "Follow-up po 72h,\nmożemy użyc np.bravo\ndo minitorowania odpowiedzi",
        "height": 240,
        "width": 1348
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        400
      ],
      "typeVersion": 1,
      "id": "19584386-7980-46b1-86a2-e4115a180483",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Ustawiony Timer np codziennie o 8 rozsyla maile z bazy \nsprawdza wartosci czy juz nie sa wyslane",
        "height": 336,
        "width": 896,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "5431d468-75b5-4961-bc73-97e16748e7b1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Jeżeli spelnia wszystkie warunki wysyla gotowego maila oraz zmienia status i date wyslania",
        "height": 256,
        "width": 848,
        "color": "#224E2B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        80
      ],
      "typeVersion": 1,
      "id": "6137a8d6-09d1-4d33-970d-6eee54ba4d81",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Zebranie danych').item.json.Email }}",
        "subject": "Czy miałeś chwilę zobaczyć demo?",
        "message": "=<!DOCTYPE html>\n<html lang=\"pl\">\n<head>\n  <meta charset=\"UTF-8\">\n</head>\n<body style=\"margin:0;padding:0;font-family:Arial,sans-serif;color:#333;background:#f5f7fa;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"padding:40px 0;\">\n    <tr>\n      <td align=\"center\">\n        \n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;padding:30px;border-radius:8px;\">\n          \n          <!-- Treść -->\n          <tr>\n            <td style=\"font-size:16px;line-height:1.6;\">\n              \n              <p>Cześć {{ $json.imie || ' ' }},</p>\n\n              <p>chciałem tylko dopytać, czy miałeś chwilę zerknąć na krótkie demo, które wysłałem wcześniej 🙂</p>\n\n              <p>Jeśli temat jest dla Ciebie aktualny, możemy umówić się na szybki call (15–30 min) i przejść przez szczegóły.</p>\n\n            </td>\n          </tr>\n\n          <!-- Button -->\n          <tr>\n            <td align=\"center\" style=\"padding:25px 0;\">\n              <a href=\"TUTAJ_LINK_DO_KALENDARZA\"\n                 style=\"background:#4f46e5;color:#ffffff;text-decoration:none;padding:12px 24px;border-radius:6px;font-weight:bold;display:inline-block;\">\n                 👉 Umów krótką rozmowę\n              </a>\n            </td>\n          </tr>\n\n          <!-- Zakończenie -->\n          <tr>\n            <td style=\"font-size:15px;line-height:1.6;\">\n              \n              <p>Daj proszę znać, czy to coś dla Ciebie.</p>\n\n              <p style=\"margin-top:20px;\">\n                Pozdrawiam,<br>\n                <strong>{{ $json.twoje_imie || 'Twoje imię' }}</strong>\n              </p>\n\n            </td>\n          </tr>\n\n        </table>\n\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1568,
        496
      ],
      "id": "b938172d-38b8-41d9-8e6d-31efc6ac23d5",
      "name": "Send a message1",
      "webhookId": "975bdbc7-1104-48b9-9035-d111d305445f"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos",
          "mode": "list",
          "cachedResultName": "Mail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Zebranie danych').item.json.Email }}",
            "follow up": "={{$now.format('yyyy-MM-dd')}}",
            "Status": "po follow upie"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Firma",
              "displayName": "Firma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data wysylki",
              "displayName": "Data wysylki",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "follow up",
              "displayName": "follow up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odpowiedz",
              "displayName": "odpowiedz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1728,
        496
      ],
      "id": "f6f7135a-75db-4e0c-8101-5baa52b6a75b",
      "name": "Update row in sheet1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos",
          "mode": "list",
          "cachedResultName": "Mail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Nowe",
            "Email": "={{ $json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Firma",
              "displayName": "Firma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data wysylki",
              "displayName": "Data wysylki",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow up",
              "displayName": "follow up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "odpowiedz",
              "displayName": "odpowiedz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        192
      ],
      "id": "53b1199f-822a-4a64-a13a-09269f6b2858",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e6581fc4-dfc8-4afc-834f-89cbbc9c563a",
              "leftValue": "={{ $json.odpowiedz }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        512
      ],
      "id": "d519700a-f605-40a1-80ab-fabb97c39422",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1a4e4a3d-70f0-4409-b285-98f63f111353",
              "leftValue": "={{ $('Get row(s) in sheet1').item.json['follow up'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1168,
        496
      ],
      "id": "2d1535e6-a56e-4ffe-a3ea-ac9428ec7045",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1376,
        496
      ],
      "id": "c16b77eb-5ea8-42ef-947e-3f34e3bf0940",
      "name": "Limit1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos",
          "mode": "list",
          "cachedResultName": "Mail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        80
      ],
      "id": "dbfcfeed-41a3-43ba-a448-dc39b8b54200",
      "name": "Zebranie danych",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": null
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        464,
        80
      ],
      "id": "987863a1-3017-4de0-a159-442124231ae0",
      "name": "Ustawienie Limitu",
      "disabled": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Zebranie danych",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zebranie danych": {
      "main": [
        [
          {
            "node": "Ustawienie Limitu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ustawienie Limitu": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "be1a373e-57e7-4a20-b4c8-738e67c81e3c",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-04T10:07:41.196Z",
      "createdAt": "2026-04-04T10:07:41.196Z",
      "role": "workflow:owner",
      "workflowId": "yKYRVxDXzyPHdVcn",
      "projectId": "MQ48RGzyImrotRcN"
    }
  ],
  "activeVersion": null,
  "tags": []
}