Backup_2026-00-28/Auto maile.json
{
  "updatedAt": "2026-04-27T16:20:52.000Z",
  "createdAt": "2026-04-04T10:12:48.564Z",
  "id": "suzogjFxOI8vVkt1",
  "name": "Auto maile",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        80,
        80
      ],
      "id": "7425e0ce-d259-4387-8244-b0eab0ea295f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos",
          "mode": "list",
          "cachedResultName": "Mail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        80
      ],
      "id": "e202731e-cc4b-4c7e-a4a7-6adfd8fae9d9",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eaace49a-b8d3-42cd-ab53-e4009ef0572a",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Nowe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1152,
        208
      ],
      "id": "6c9f7e2f-8490-4936-b86b-b0fdf317f4a1",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Limit').item.json.Email }}",
        "subject": "=Szybki pomysł dla {{ $('Get row(s) in sheet').item.json.Nazwa }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"pl\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<style>\n  body{font-family:Arial,sans-serif;background:#F1F5F9;padding:30px 15px;margin:0;}\n  .box{max-width:500px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.08);}\n  .top{background:#1E3A5F;padding:32px 30px;color:white;border-bottom:4px solid #3B82F6;}\n  .top .label{font-size:11px;font-weight:700;letter-spacing:1.5px;text-transform:uppercase;color:#93C5FD;margin-bottom:12px;}\n  .top h1{margin:0;font-size:22px;line-height:1.5;color:#FFFFFF;font-weight:800;}\n  .top h1 span{color:#FCD34D;}\n  .body{padding:28px 30px;}\n  .body p{font-size:14px;color:#334155;line-height:1.8;margin:0 0 14px 0;}\n  .audit{background:#F0FDF4;border-left:4px solid #22C55E;padding:14px 18px;border-radius:0 8px 8px 0;font-size:14px;color:#14532D;margin:16px 0;}\n  .audit strong{color:#15803D;}\n  .cta{display:block;background:#1E3A5F;color:#fff;text-align:center;padding:15px;border-radius:8px;text-decoration:none;font-weight:700;font-size:15px;margin:20px 0 6px 0;}\n  .sub{text-align:center;font-size:11px;color:#94A3B8;margin:0 0 20px 0;}\n  .sig{font-size:13px;color:#64748B;border-top:1px solid #F1F5F9;padding-top:16px;}\n  .sig strong{color:#0F172A;display:block;margin-bottom:3px;}\n</style>\n</head>\n<body>\n<div class=\"box\">\n\n  <div class=\"top\">\n    <div class=\"label\">🔍 Bezpłatna analiza</div>\n    <h1>Znaleźliśmy kilka rzeczy<br>w marketingu <span>{{ $('Get row(s) in sheet').item.json.Nazwa }}</span></h1>\n  </div>\n\n  <div class=\"body\">\n\n    <p>Cześć! Przejrzeliśmy obecność <strong>{{ $('Get row(s) in sheet').item.json.Nazwa }}</strong> w internecie i zauważyliśmy miejsca, które prawdopodobnie kosztują Was klientów każdego miesiąca.</p>\n\n    <div class=\"audit\">\n      🎁 <strong>Bezpłatny audyt dla Was —</strong> pokażemy dokładnie co nie działa w Waszym marketingu i co konkretnie warto poprawić. Zero ogólników, same konkrety.\n    </div>\n\n    <p>Proponuję krótką rozmowę <strong>5-10 minut</strong> — bez sprzedawania, tylko żeby pokazać co znaleźliśmy i czy w ogóle możemy pomóc.</p>\n\n    <a href=\"https://calendly.com/TWOJ-LINK\" class=\"cta\">📞 Umów rozmowę 5-10 min →</a>\n    <p class=\"sub\">Bezpłatnie · Bez zobowiązań · Tylko konkrety</p>\n\n    <div class=\"sig\">\n      <strong>Olaf Piekielnik</strong>\n       AutoLeady<br>\n      autoleady@gmail.com\n    </div>\n\n  </div>\n</div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1536,
        208
      ],
      "id": "4868ced3-59d9-4d33-b0a8-ce8505004907",
      "name": "Send a message",
      "webhookId": "478a088c-e256-4bc3-8d2e-3c3482dd86eb"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos",
          "mode": "list",
          "cachedResultName": "Mail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Get row(s) in sheet').item.json.Email }}",
            "Data wysylki": "={{$now.format('yyyy-MM-dd')}}",
            "Status": "Wyslane"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Firma",
              "displayName": "Firma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data wysylki",
              "displayName": "Data wysylki",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "follow up",
              "displayName": "follow up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odpowiedz",
              "displayName": "odpowiedz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        96
      ],
      "id": "0762acc5-d733-4a0c-b0a7-3deb3d503b8f",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee4213f5-7ebc-4080-8e01-ab26f758d9c5",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        208
      ],
      "id": "56024529-9e5e-42b4-ab11-589a46da7416",
      "name": "If1"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        464,
        80
      ],
      "id": "bb9e48cc-1b8c-4076-90e2-4868526edeb3",
      "name": "Limit"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos",
          "mode": "list",
          "cachedResultName": "Mail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        512
      ],
      "id": "485d88c5-537e-4e2a-b6bb-e63d3aa8f3e7",
      "name": "Get row(s) in sheet1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1f510d16-c166-4d88-9575-d95e38d49f53",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        80
      ],
      "id": "16e5e3f1-8bd0-4ee7-9a31-c4a82c705153",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c980813-4bf6-44f3-b20f-2c18fa6ad6bc",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "X",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1360,
        192
      ],
      "id": "5f6cb366-1991-44ff-b3c5-20539e6e8ab4",
      "name": "If4"
    },
    {
      "parameters": {
        "amount": 24
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        512
      ],
      "id": "17487afb-9581-4527-aabf-2d0039788cfc",
      "name": "Wait",
      "webhookId": "47987489-04ef-4f76-9891-f2928055316c"
    },
    {
      "parameters": {
        "content": "Follow-up po 72h,\nmożemy użyc np.bravo\ndo minitorowania odpowiedzi",
        "height": 240,
        "width": 1348
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        400
      ],
      "typeVersion": 1,
      "id": "a7b13958-4a31-4141-82e7-7440186fd1f0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Ustawiony Timer np codziennie o 8 rozsyla maile z bazy \nsprawdza wartosci czy juz nie sa wyslane",
        "height": 336,
        "width": 896,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "bc2016c9-793a-4084-89be-4162b30cd28b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Jeżeli spelnia wszystkie warunki wysyla gotowego maila oraz zmienia status i date wyslania",
        "height": 256,
        "width": 848,
        "color": "#224E2B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        80
      ],
      "typeVersion": 1,
      "id": "4041b0a3-bba4-4344-b953-e16e4966aac8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json.Email }}",
        "subject": "Czy miałeś chwilę zobaczyć demo?",
        "message": "=<!DOCTYPE html>\n<html lang=\"pl\">\n<head>\n  <meta charset=\"UTF-8\">\n</head>\n<body style=\"margin:0;padding:0;font-family:Arial,sans-serif;color:#333;background:#f5f7fa;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"padding:40px 0;\">\n    <tr>\n      <td align=\"center\">\n        \n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;padding:30px;border-radius:8px;\">\n          \n          <!-- Treść -->\n          <tr>\n            <td style=\"font-size:16px;line-height:1.6;\">\n              \n              <p>Cześć {{ $json.imie || ' ' }},</p>\n\n              <p>chciałem tylko dopytać, czy miałeś chwilę zerknąć na krótkie demo, które wysłałem wcześniej 🙂</p>\n\n              <p>Jeśli temat jest dla Ciebie aktualny, możemy umówić się na szybki call (15–30 min) i przejść przez szczegóły.</p>\n\n            </td>\n          </tr>\n\n          <!-- Button -->\n          <tr>\n            <td align=\"center\" style=\"padding:25px 0;\">\n              <a href=\"TUTAJ_LINK_DO_KALENDARZA\"\n                 style=\"background:#4f46e5;color:#ffffff;text-decoration:none;padding:12px 24px;border-radius:6px;font-weight:bold;display:inline-block;\">\n                 👉 Umów krótką rozmowę\n              </a>\n            </td>\n          </tr>\n\n          <!-- Zakończenie -->\n          <tr>\n            <td style=\"font-size:15px;line-height:1.6;\">\n              \n              <p>Daj proszę znać, czy to coś dla Ciebie.</p>\n\n              <p style=\"margin-top:20px;\">\n                Pozdrawiam,<br>\n                <strong>{{ $json.twoje_imie || 'Twoje imię' }}</strong>\n              </p>\n\n            </td>\n          </tr>\n\n        </table>\n\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1568,
        496
      ],
      "id": "563843db-e7af-485b-90b5-b27c3668b444",
      "name": "Send a message1",
      "webhookId": "bf2e540b-04ea-442f-94d9-e72b4778aee6"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos",
          "mode": "list",
          "cachedResultName": "Mail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Get row(s) in sheet').item.json.Email }}",
            "follow up": "={{$now.format('yyyy-MM-dd')}}",
            "Status": "po follow upie"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Firma",
              "displayName": "Firma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data wysylki",
              "displayName": "Data wysylki",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "follow up",
              "displayName": "follow up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odpowiedz",
              "displayName": "odpowiedz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1728,
        496
      ],
      "id": "e2310cb6-d68d-4036-b817-a90c0cf13075",
      "name": "Update row in sheet1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos",
          "mode": "list",
          "cachedResultName": "Mail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nXMoLcv5_wU3PGK7CyX8t3W2IpmaYi-H_06i2pSqwos/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Nowe",
            "Email": "={{ $json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Firma",
              "displayName": "Firma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data wysylki",
              "displayName": "Data wysylki",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow up",
              "displayName": "follow up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "odpowiedz",
              "displayName": "odpowiedz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        192
      ],
      "id": "18ec4422-d08f-4969-8c45-7b9660936069",
      "name": "Update row in sheet2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e6581fc4-dfc8-4afc-834f-89cbbc9c563a",
              "leftValue": "={{ $json.odpowiedz }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        512
      ],
      "id": "10ed7dbf-25d9-46ed-8b08-14e79279cd6e",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1a4e4a3d-70f0-4409-b285-98f63f111353",
              "leftValue": "={{ $('Get row(s) in sheet1').item.json['follow up'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1168,
        496
      ],
      "id": "afb2927c-866b-4743-b442-99bbea23df47",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1376,
        496
      ],
      "id": "1a59c14d-82b4-4b6a-8f97-ffd1902225bd",
      "name": "Limit1"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "24213f8c-574d-4e46-99a3-0e2a569a1c2d",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-04T10:12:48.567Z",
      "createdAt": "2026-04-04T10:12:48.567Z",
      "role": "workflow:owner",
      "workflowId": "suzogjFxOI8vVkt1",
      "projectId": "MQ48RGzyImrotRcN"
    }
  ],
  "activeVersion": null,
  "tags": []
}