Backup_2026-00-28/Employee Performance AI Dashboard.json
{
  "updatedAt": "2026-04-06T07:16:18.464Z",
  "createdAt": "2026-04-06T06:41:06.582Z",
  "id": "0kREkQkifxvE89tW",
  "name": "Employee Performance AI Dashboard",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "c9ac4ae1-e94d-41f2-a173-7883a5162411",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        480,
        160
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "getAll",
        "team": "YOUR_TEAM_ID",
        "space": "YOUR_SPACE_ID",
        "limit": 100,
        "filters": {}
      },
      "id": "18600956-4900-41ba-9fed-bd2e6412c5e4",
      "name": "Get many folders",
      "type": "n8n-nodes-base.clickUp",
      "position": [
        704,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "team": "YOUR_TEAM_ID",
        "space": "YOUR_SPACE_ID",
        "folderless": true,
        "list": "={{ $json.lists[0].id }}",
        "filters": {}
      },
      "id": "67157546-bb3c-42cb-b934-a95f0395d3dc",
      "name": "Get many tasks",
      "type": "n8n-nodes-base.clickUp",
      "position": [
        1184,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9c61f183-c135-48ff-b34c-939e4b9a0ee7",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        928,
        160
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a project management analytics assistant.\n\nGenerate a concise, professional task summary using ONLY the data provided from ClickUp.  \nDo not invent data or make assumptions. Base all calculations strictly on the task data.\n\nTask Data:\nTask ID: {{$json.id}}\nName: {{$json.name}}\nDescription: {{$json.description}}\nStatus: {{$json.status.status}}\nPriority: {{ $json.priority }}\nAssignees: {{$json.assignees.map(a => a.username).join(', ')}}\nCreator: {{$json.creator.username}}\nDue Date: {{$json.due_date}}\nDate Created: {{$json.date_created}}\nDate Updated: {{$json.date_updated}}\nURL: {{$json.url}}\nProject: {{$json.project.name}}\nList: {{$json.list.name}}\nFolder: {{$json.folder.name}}\nSpace ID: {{$json.space.id}}\n\nMetrics (calculate based on task status and priority):\n- Completed: {{$json.status.status === 'done' ? 1 : 0}}\n- In Progress: {{$json.status.status === 'in progress' ? 1 : 0}}\n- Pending: {{$json.status.status === 'to do' || $json.status.status === 'pending' ? 1 : 0}}\n- Overdue: {{($json.due_date && Number($json.due_date) < Date.now() && $json.status.status !== 'done') ? 1 : 0}}\n- Productivity: {{($json.status.status === 'done' ? 100 : 0)}}%\n- KPI Score: [calculate based on completed tasks, priority, and overdue metrics]\n- Rating: [High priority & overdue → Critical, Medium priority → Needs Improvement, Low → Good]\n\nOutput plain text ONLY, in this format:\n\nTask Summary\nTask ID: <id>\nName: <name>\nProject: <project>\nFolder: <folder>\nList: <list>\nSpace ID: <space_id>\n\nOverview:\n- Description: <description>\n- Status: <status>\n- Priority: <priority>\n- Assignees: <assignees>\n- Creator: <creator>\n- Dates:\n    • Due: <due_date>\n    • Created: <date_created>\n    • Updated: <date_updated>\n\nMetrics:\n- Completed: <number>\n- In Progress: <number>\n- Pending: <number>\n- Overdue: <number>\n- Productivity: <percentage>%\n- KPI Score: <score>\n- Rating: <rating>\n\nTask Link: <url>\n\nInsight:\nProvide a one-line performance summary of this task's status and priority, explaining the current KPI score, rating, and any action required.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "8529169e-d4da-4e50-9c76-e55f2308bc2f",
      "name": "Message a model1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1392,
        176
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsCode": "// Get all items from previous node\nconst items = $input.all();\n\n// Helper function to calculate KPI score\nfunction calculateKPI(task) {\n    // Base KPI: 100 if done, 50 if in progress, 0 if pending\n    let base = 0;\n    if (task.overview.status.toLowerCase() === 'done') base = 100;\n    else if (task.overview.status.toLowerCase() === 'in progress') base = 60;\n    else base = 30;\n\n    // Adjust based on priority\n    const priority = task.overview.priority.toLowerCase();\n    if (priority === 'high') base += 10;\n    else if (priority === 'low') base -= 10;\n\n    // Reduce if overdue\n    if (task.metrics.overdue > 0) base -= 20;\n\n    // Clamp 0-100\n    return Math.max(0, Math.min(100, base));\n}\n\n// Helper to get Rating based on KPI Score\nfunction calculateRating(kpiScore) {\n    if (kpiScore >= 80) return 'Excellent';\n    if (kpiScore >= 60) return 'Needs Improvement';\n    if (kpiScore >= 40) return 'Average';\n    return 'Poor';\n}\n\n// Initialize result array\nconst parsedTasks = [];\n\nitems.forEach(item => {\n    // Safely access the ChatGPT text\n    const content = item.json.output?.[0]?.content?.[0]?.text;\n    if (!content) return; // skip if no text\n\n    const lines = content.split('\\n').map(l => l.trim()).filter(l => l);\n\n    // Initialize task object\n    let taskData = {\n        taskSummary: '',\n        taskId: '',\n        name: '',\n        project: '',\n        folder: '',\n        list: '',\n        spaceId: '',\n        overview: {\n            description: '',\n            status: '',\n            priority: '',\n            assignees: [],\n            creator: '',\n            dates: {\n                due: null,\n                created: null,\n                updated: null\n            }\n        },\n        metrics: {\n            completed: 0,\n            inProgress: 0,\n            pending: 0,\n            overdue: 0,\n            productivity: '',\n            kpiScore: 0,\n            rating: '',\n        },\n        taskLink: '',\n        insight: ''\n    };\n\n    let currentSection = '';\n\n    function parseNumber(str) { const n = Number(str); return isNaN(n)?0:n; }\n\n    // Parse each line\n    lines.forEach(line => {\n        if (line.startsWith('Task Summary')) taskData.taskSummary = 'Task Summary';\n        else if (line.startsWith('Task ID:')) taskData.taskId = line.replace('Task ID:','').trim();\n        else if (line.startsWith('Name:')) taskData.name = line.replace('Name:','').trim();\n        else if (line.startsWith('Project:')) taskData.project = line.replace('Project:','').trim();\n        else if (line.startsWith('Folder:')) taskData.folder = line.replace('Folder:','').trim();\n        else if (line.startsWith('List:')) taskData.list = line.replace('List:','').trim();\n        else if (line.startsWith('Space ID:')) taskData.spaceId = line.replace('Space ID:','').trim();\n        else if (line.startsWith('Overview:')) currentSection = 'overview';\n        else if (line.startsWith('Metrics:')) currentSection = 'metrics';\n        else if (line.startsWith('Task Link:')) taskData.taskLink = line.replace('Task Link:','').trim();\n        else if (line.startsWith('Insight:')) currentSection = 'insight';\n        else {\n            if (currentSection === 'overview') {\n                if (line.startsWith('- Description:')) taskData.overview.description = line.replace('- Description:','').trim();\n                else if (line.startsWith('- Status:')) taskData.overview.status = line.replace('- Status:','').trim();\n                else if (line.startsWith('- Priority:')) taskData.overview.priority = line.replace('- Priority:','').trim();\n                else if (line.startsWith('- Assignees:')) {\n                    const assigneesText = line.replace('- Assignees:','').trim();\n                    taskData.overview.assignees = assigneesText ? assigneesText.split(',').map(a=>a.trim()) : [];\n                }\n                else if (line.startsWith('- Creator:')) taskData.overview.creator = line.replace('- Creator:','').trim();\n                else if (line.startsWith('• Due:')) taskData.overview.dates.due = line.replace('• Due:','').trim() || null;\n                else if (line.startsWith('• Created:')) taskData.overview.dates.created = Number(line.replace('• Created:','').trim()) || null;\n                else if (line.startsWith('• Updated:')) taskData.overview.dates.updated = Number(line.replace('• Updated:','').trim()) || null;\n            } else if (currentSection === 'metrics') {\n                if (line.startsWith('- Completed:')) taskData.metrics.completed = parseNumber(line.replace('- Completed:','').trim());\n                else if (line.startsWith('- In Progress:')) taskData.metrics.inProgress = parseNumber(line.replace('- In Progress:','').trim());\n                else if (line.startsWith('- Pending:')) taskData.metrics.pending = parseNumber(line.replace('- Pending:','').trim());\n                else if (line.startsWith('- Overdue:')) taskData.metrics.overdue = parseNumber(line.replace('- Overdue:','').trim());\n                else if (line.startsWith('- Productivity:')) taskData.metrics.productivity = line.replace('- Productivity:','').trim();\n                // KPI and Rating will be recalculated\n            } else if (currentSection === 'insight') {\n                taskData.insight += (taskData.insight ? ' ' : '') + line;\n            }\n        }\n    });\n\n    // Calculate KPI Score and Rating based on parsed metrics\n    taskData.metrics.kpiScore = calculateKPI(taskData);\n    taskData.metrics.rating = calculateRating(taskData.metrics.kpiScore);\n\n    // Optional: Generate summary insight automatically if not present\n    if (!taskData.insight) {\n        taskData.insight = `Task has status \"${taskData.overview.status}\" with priority \"${taskData.overview.priority}\" and KPI ${taskData.metrics.kpiScore}, rating ${taskData.metrics.rating}.`;\n    }\n\n    parsedTasks.push({ json: taskData });\n});\n\nreturn parsedTasks;\n"
      },
      "id": "50dfedfd-33db-4358-b7e1-47723abe2578",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "position": [
        1728,
        176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_GOOGLE_SHEET_ID",
          "cachedResultName": "Employee summary"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SHEET_GID",
          "cachedResultName": "Employee summary"
        },
        "columns": {
          "value": {
            "Folder": "={{ $json.folder }}",
            "Rating": "={{ $json.metrics.rating }}",
            "Status": "={{ $json.overview.status }}",
            "Overdue": "={{ $json.metrics.overdue }}",
            "Pending": "={{ $json.metrics.pending }}",
            "Project": "={{ $json.project }}",
            "Summary": "={{ $json.insight }}",
            "Priority": "={{ $json.overview.priority }}",
            "Completed": "={{ $json.metrics.completed }}",
            "KPI Score": "={{ $json.metrics.kpiScore }}",
            "Task Link": "={{ $json.taskLink }}",
            "Task Name": "={{ $json.name }}",
            "In Progress": "={{ $json.metrics.inProgress }}",
            "Productivity": "={{ $json.metrics.productivity }}",
            "Employee Name": "={{ $json.overview.creator }}"
          },
          "schema": [
            {
              "id": "Employee Name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Employee Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Task Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Task Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Project",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Project",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Folder",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Priority",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Completed",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Completed",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "In Progress",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "In Progress",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Pending",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Pending",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Overdue",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Overdue",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Productivity",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Productivity",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "KPI Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "KPI Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Rating",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Task Link",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Task Link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Employee Name"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "35bfc2d0-e4c7-4288-aaa5-390856e2ad2b",
      "name": "Append or update row in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1936,
        176
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "content": "## ClickUp Task Performance → Employee KPI Sheet\n\n### How it works\nThis workflow runs on a schedule and pulls tasks from ClickUp. Each task is processed individually and sent to an AI model to generate a structured performance summary. A JavaScript step normalizes the data and recalculates KPI scores and ratings. The final task performance data is then appended or updated in a Google Sheet to maintain a live employee KPI dashboard.\n\n### Setup steps\n1. Connect your ClickUp account and select the correct Team and Space IDs  \n2. Ensure task statuses and priorities are standardized in ClickUp  \n3. Connect Google Sheets and select the target spreadsheet and sheet  \n4. Confirm column names match the workflow mappings  \n5. Configure the schedule trigger based on reporting frequency\n\n### Customization tips\n- Adjust KPI scoring logic inside the JavaScript node  \n- Change Google Sheets matching logic to track per task or per employee  \n- Extend the AI prompt to add more insights if needed\n",
        "height": 672,
        "width": 592
      },
      "id": "ce34fad9-8aa3-4c3d-b79a-f7b3b14f08c4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 1: ClickUp Data Collection\nFetches folders and tasks from the selected ClickUp space.\nLoops through each task so they can be analyzed individually.\n",
        "height": 672,
        "width": 912,
        "color": 7
      },
      "id": "b936296d-8b79-46eb-a6d6-dc1e662f51db",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 2: Task Analysis & KPI Processing\nGenerates structured task summaries using AI.\nParses output and recalculates KPI scores and ratings using JavaScript.\n",
        "height": 672,
        "width": 528,
        "color": 7
      },
      "id": "9bd7b3ba-9e64-4cf5-a619-12dc4b08f2e5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 3: KPI Reporting to Sheet\nWrites task-level performance data into Google Sheets.\nCreates a live employee KPI and productivity report.\n",
        "height": 672,
        "width": 528,
        "color": 7
      },
      "id": "c2e24780-9406-47a6-bea5-397372f60515",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        -48
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Get many tasks": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get many tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "68ec1dbf-83e0-4e82-8078-74845d61bd60",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-06T06:41:06.587Z",
      "createdAt": "2026-04-06T06:41:06.587Z",
      "role": "workflow:owner",
      "workflowId": "0kREkQkifxvE89tW",
      "projectId": "MQ48RGzyImrotRcN"
    }
  ],
  "activeVersion": null,
  "tags": []
}