Backup_2026-00-27/My workflow 9.json
{
  "updatedAt": "2026-04-27T16:19:56.000Z",
  "createdAt": "2026-04-04T10:10:21.385Z",
  "id": "GTijCPOP4409OA9X",
  "name": "My workflow 9",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "id": "={{ $json.task_id }}"
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        336,
        0
      ],
      "id": "87c5fb07-986d-41c2-bcc5-a0cb83c062a1",
      "name": "Get a task"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "90152423592",
        "events": [
          "taskCreated"
        ],
        "filters": {}
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0c0d64a4-7ea7-4df9-be84-354e5eab3e37",
      "name": "ClickUp Trigger",
      "webhookId": "4ee8c201-52fb-4858-9f62-aa2ad1393f3e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed241924-8318-4cac-935b-7a1d55a69992",
              "leftValue": "={{ $('ClickUp Trigger').item.json.webhook_id }}",
              "rightValue": "={{ $('ClickUp Trigger').item.json.webhook_id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        160,
        0
      ],
      "id": "80e7cfd9-e6a0-4043-8696-773de85051d1",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PLgqxt5nbCfmSOjR4pZHYFFL7Ro9jXlw21HeyHUeRDM",
          "mode": "list",
          "cachedResultName": "Klienci Autoleady",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PLgqxt5nbCfmSOjR4pZHYFFL7Ro9jXlw21HeyHUeRDM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PLgqxt5nbCfmSOjR4pZHYFFL7Ro9jXlw21HeyHUeRDM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Imie": "={{ $json.imie }}",
            "Nazwa firmy": "={{ $json.firma }}",
            "Mail ": "={{ $json.email }}",
            "Tel": "={{ $json.tel }}",
            "Cena": "={{ $json.cena }}",
            "Opis": "={{ $json.opis }}",
            "status": "={{ $json.status }}",
            "Abonament": "={{ $json.abonament }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Imie",
              "displayName": "Imie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nazwa firmy",
              "displayName": "Nazwa firmy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mail ",
              "displayName": "Mail ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tel",
              "displayName": "Tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cena",
              "displayName": "Cena",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Opis",
              "displayName": "Opis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Abonament",
              "displayName": "Abonament",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        0
      ],
      "id": "77e6e926-4f8b-4735-90dd-768996c39006",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "jsCode": "return items.length > 0\n  ? items.map(item => {\n      const task = item.json;\n\n      // Funkcja uniwersalna do pobierania wartości pola\n      const getFieldValue = (fieldName) => {\n        const field = task.custom_fields?.find(f => f.name?.toLowerCase() === fieldName.toLowerCase());\n        if (!field) return '';\n\n        // możliwe typy w ClickUp\n        if (field.value !== undefined) {\n          if (typeof field.value === 'string' || typeof field.value === 'number') return field.value;\n          if (typeof field.value === 'object') {\n            if (field.value.email) return field.value.email;\n            if (field.value.text) return field.value.text;\n          }\n        }\n        if (field.text) return field.text; // text fields\n        if (field.email) return field.email;\n        return '';\n      };\n\n      // Przetwarzanie pól\n      const imie = getFieldValue('Imie') || ''; // **bez replace(/\\D/g,'')**\n      const firma = getFieldValue('Nazwa firmy') || ''; // **bez replace**\n      const tel = (getFieldValue('Telefon') || '').replace(/\\D/g, ''); // tylko tel -> cyfry\n      const email = getFieldValue('Email') || '';\n      const cena = getFieldValue('Cena') || '';\n      const opis = getFieldValue('Opis') || '';\n      const status = task.status?.status || '';\n      const abonament = getFieldValue('Abonament') ? 'TAK' : 'NIE';\n\n      return { json: { imie, firma, tel, email, cena, opis, status, abonament } };\n    })\n  : [{ json: {} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        0
      ],
      "id": "52f0ba5d-76be-4dd6-ba69-ee9d8840f107",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        80,
        272
      ],
      "id": "244bba4d-5ee8-4045-89b2-144a79bdaa87",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.clickup.com/api/v2/list/901522376062/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "pk_284536279_ZNUOSI8B1NFZGEMSJ22H2OIOOTET2YV1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        272
      ],
      "id": "c88e2479-9be7-4c96-a522-8c754926f5b6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PLgqxt5nbCfmSOjR4pZHYFFL7Ro9jXlw21HeyHUeRDM",
          "mode": "list",
          "cachedResultName": "Klienci Autoleady",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PLgqxt5nbCfmSOjR4pZHYFFL7Ro9jXlw21HeyHUeRDM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Klienci",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PLgqxt5nbCfmSOjR4pZHYFFL7Ro9jXlw21HeyHUeRDM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status do raporty": "={{ $json.Status }}",
            "Liczba klientow": "={{ $json.Liczba_klientow }}",
            "Suma przychodow": "={{ $json.Suma_przychodow }}",
            "Miesiac": "={{ $json.Miesiac }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Imie",
              "displayName": "Imie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nazwa firmy",
              "displayName": "Nazwa firmy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mail ",
              "displayName": "Mail ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tel",
              "displayName": "Tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cena",
              "displayName": "Cena",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Opis",
              "displayName": "Opis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Abonament",
              "displayName": "Abonament",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Miesiac",
              "displayName": "Miesiac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status do raporty",
              "displayName": "Status do raporty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Liczba klientow",
              "displayName": "Liczba klientow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Suma przychodow",
              "displayName": "Suma przychodow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        272
      ],
      "id": "918a0567-f6d1-4d70-af67-8a6643d86d10",
      "name": "Append row in sheet1"
    },
    {
      "parameters": {
        "jsCode": "const tasks = items[0].json.tasks || [];\nconst now = new Date();\nconst monthNames = ['Styczeń','Luty','Marzec','Kwiecień','Maj','Czerwiec','Lipiec','Sierpień','Wrzesień','Październik','Listopad','Grudzień'];\nconst monthLabel = `${monthNames[now.getMonth()]} ${now.getFullYear()}`;\n\nconst getFieldValue = (task, name) => {\n    const field = task.custom_fields?.find(f => f.name?.toLowerCase() === name.toLowerCase());\n    if (!field) return 0;\n    if (field.value !== undefined) {\n        if (typeof field.value === 'number') return field.value;\n        if (typeof field.value === 'string') return parseFloat(field.value) || 0;\n        if (typeof field.value === 'object' && field.value.text) return parseFloat(field.value.text) || 0;\n    }\n    if (field.text) return parseFloat(field.text) || 0;\n    return 0;\n};\n\nconst summary = {};\n\ntasks.forEach(task => {\n    const status = task.status?.status || 'Brak statusu';\n    const cena = getFieldValue(task, 'Cena');\n    if (!summary[status]) summary[status] = { count: 0, totalRevenue: 0 };\n    summary[status].count += 1;\n    summary[status].totalRevenue += cena;\n});\n\nconst rows = Object.keys(summary).map(status => ({\n    json: {\n        Miesiac: monthLabel,\n        Status: status,\n        Liczba_klientow: summary[status].count,\n        Suma_przychodow: summary[status].totalRevenue\n    }\n}));\n\nreturn rows.length > 0 ? rows : [{ json: { Miesiac: monthLabel, Status: '', Liczba_klientow: 0, Suma_przychodow: 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        272
      ],
      "id": "df351e58-2ee2-4a86-b98d-40824a16ec9d",
      "name": "Code in JavaScript2",
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Get a task": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "75f197b5-93d9-406f-9285-f20040513951",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-04T10:10:21.388Z",
      "createdAt": "2026-04-04T10:10:21.388Z",
      "role": "workflow:owner",
      "workflowId": "GTijCPOP4409OA9X",
      "projectId": "MQ48RGzyImrotRcN"
    }
  ],
  "activeVersion": null,
  "tags": []
}