Backup_2026-00-23/2. Onboarding - Nowy Klient.json
{
  "updatedAt": "2026-04-04T10:11:02.552Z",
  "createdAt": "2026-04-04T10:11:01.812Z",
  "id": "zlNS8pG1fMcHXOIW",
  "name": "2. Onboarding - Nowy Klient",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nowy-klient",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "435d4f3a-3695-4cad-af00-e41d38d39f9b",
      "name": "Webhook - Nowy Klient",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        208
      ],
      "webhookId": "c164e048-4e10-4812-8b31-060b3038bb83"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body || $input.first().json;\n\nconst klientNazwa = data.klientNazwa || data.firma || 'Klient';\nconst klientEmail = data.klientEmail || data.email || 'brak@email.com';\nconst klientTelefon = data.klientTelefon || data.telefon || 'brak';\nconst pakiet = data.pakiet || 'Pakiet Standardowy';\nconst wartoscUmowy = data.wartoscUmowy || data.wartosc || '0';\nconst pmEmail = data.pmEmail || 'pm@agencja.pl';\nconst pmImie = data.pmImie || 'Project Manager';\nconst handlowiecEmail = data.handlowiecEmail || 'handlowiec@agencja.pl';\n\nconst now = new Date();\nconst dataPL = now.toLocaleDateString('pl-PL');\n\nconst kickoff = new Date(now.getTime() + 3 * 24 * 60 * 60 * 1000);\nconst kickoffPL = kickoff.toLocaleDateString('pl-PL');\n\nconst pierwszyRaport = new Date(now.getTime() + 30 * 24 * 60 * 60 * 1000);\nconst pierwszyRaportPL = pierwszyRaport.toLocaleDateString('pl-PL');\n\nconst projectId = 'PROJ-' + now.getFullYear() +\n  String(now.getMonth() + 1).padStart(2, '0') +\n  String(now.getDate()).padStart(2, '0') + '-' +\n  Math.random().toString(36).substr(2, 4).toUpperCase();\n\nconst folderNazwa = projectId + ' - ' + klientNazwa;\n\nreturn [{ json: {\n  klientNazwa, klientEmail, klientTelefon,\n  pakiet, wartoscUmowy, pmEmail, pmImie,\n  handlowiecEmail, projectId, folderNazwa,\n  dataPL, kickoffPL, pierwszyRaportPL\n}}];"
      },
      "id": "58bed689-2117-46d6-afc9-2b4c412f07ca",
      "name": "Przetworz dane klienta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        208
      ]
    },
    {
      "parameters": {
        "operation": "create"
      },
      "id": "7f69330c-78b0-459a-9ed4-2e712511df11",
      "name": "Drive - Folder glowny klienta",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        80
      ]
    },
    {
      "parameters": {
        "operation": "create"
      },
      "id": "fb1bb750-95fe-482c-9a01-8b73f0a52837",
      "name": "Drive - Subfolder Briefs",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "create"
      },
      "id": "334236cc-25b0-4b28-aac9-97c9037287bd",
      "name": "Drive - Subfolder Grafiki",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        112
      ]
    },
    {
      "parameters": {
        "operation": "create"
      },
      "id": "424a1133-c62a-4d8b-834f-0e5bdf8dafae",
      "name": "Drive - Subfolder Raporty",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "operation": "create"
      },
      "id": "8dc8b10e-269f-4606-b4ee-7ebccba2359a",
      "name": "Drive - Subfolder Tresci",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "operation": "create"
      },
      "id": "7bdd611e-d333-45cb-90c3-5aafa6320c0a",
      "name": "Drive - Subfolder Dokumenty",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "SHEETS_ID",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "Klienci",
          "__rl": true,
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Projektu": "={{ $('Przetworz dane klienta').item.json.projectId }}",
            "Nazwa Klienta": "={{ $('Przetworz dane klienta').item.json.klientNazwa }}",
            "Email": "={{ $('Przetworz dane klienta').item.json.klientEmail }}",
            "Telefon": "={{ $('Przetworz dane klienta').item.json.klientTelefon }}",
            "Pakiet": "={{ $('Przetworz dane klienta').item.json.pakiet }}",
            "Wartosc umowy": "={{ $('Przetworz dane klienta').item.json.wartoscUmowy }}",
            "PM": "={{ $('Przetworz dane klienta').item.json.pmImie }}",
            "Data startu": "={{ $('Przetworz dane klienta').item.json.dataPL }}",
            "Data kickoff": "={{ $('Przetworz dane klienta').item.json.kickoffPL }}",
            "Pierwszy raport": "={{ $('Przetworz dane klienta').item.json.pierwszyRaportPL }}",
            "Folder Drive": "={{ $('Drive - Folder glowny klienta').item.json.webViewLink }}",
            "Status": "ONBOARDING",
            "Brief wyslany": "NIE",
            "Dostepy otrzymane": "NIE",
            "Kickoff odbyty": "NIE"
          }
        },
        "options": {}
      },
      "id": "173958f5-3e1c-43e4-af47-456bf9ee048b",
      "name": "Sheets - Dodaj klienta",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        224,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.clickup.com/api/v2/list/CLICKUP_LIST_ID/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ '[ONBOARDING] ' + $('Przetworz dane klienta').item.json.klientNazwa + ' - ' + $('Przetworz dane klienta').item.json.projectId }}"
            },
            {
              "name": "description",
              "value": "={{ 'Nowy klient - onboarding\\n\\nID: ' + $('Przetworz dane klienta').item.json.projectId + '\\nKlient: ' + $('Przetworz dane klienta').item.json.klientNazwa + '\\nEmail: ' + $('Przetworz dane klienta').item.json.klientEmail + '\\nTelefon: ' + $('Przetworz dane klienta').item.json.klientTelefon + '\\nPakiet: ' + $('Przetworz dane klienta').item.json.pakiet + '\\nWartosc: ' + $('Przetworz dane klienta').item.json.wartoscUmowy + ' zl/mies\\nData kickoff: ' + $('Przetworz dane klienta').item.json.kickoffPL + '\\nFolder: ' + $('Drive - Folder glowny klienta').item.json.webViewLink }}"
            },
            {
              "name": "priority",
              "value": "2"
            },
            {
              "name": "status",
              "value": "ONBOARDING"
            }
          ]
        },
        "options": {}
      },
      "id": "b103abd8-0b25-4683-a5c7-124c91ab65a2",
      "name": "ClickUp - Stworz zadanie onboarding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        384
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Przetworz dane klienta').item.json.klientEmail }}",
        "subject": "Witamy na pokladzie! Pierwsze kroki wspolpracy",
        "message": "=<!DOCTYPE html><html><head><meta charset='UTF-8'><style>body{font-family:Arial,sans-serif;color:#1F2937;margin:0;padding:0}.wrap{max-width:620px;margin:0 auto}.head{background:linear-gradient(135deg,#2563EB,#1D4ED8);color:white;padding:40px;text-align:center}.head h1{margin:0;font-size:24px}.body{background:#F9FAFB;padding:35px;border:1px solid #E5E7EB}.info{background:#EFF6FF;border:1px solid #BFDBFE;border-radius:8px;padding:20px;margin:20px 0}.info-row{display:flex;justify-content:space-between;padding:8px 0;border-bottom:1px solid #DBEAFE;font-size:14px}.info-row:last-child{border-bottom:none}.step{background:white;border:1px solid #E5E7EB;border-left:4px solid #2563EB;border-radius:4px;padding:15px;margin-bottom:12px}.step h3{margin:0 0 5px 0;font-size:15px}.step p{margin:0;color:#6B7280;font-size:13px}.btn{display:block;background:#2563EB;color:white;padding:16px;border-radius:8px;text-decoration:none;font-weight:bold;text-align:center;margin:20px 0;font-size:16px}.foot{background:#1F2937;color:#9CA3AF;padding:20px;text-align:center;font-size:12px}</style></head><body><div class='wrap'><div class='head'><div style='font-size:48px;margin-bottom:10px'>🎉</div><h1>Witamy na pokladzie!</h1><p style='margin:8px 0 0 0;opacity:.9'>Cieszymy sie ze zaczynamy wspolprace</p></div><div class='body'><p>Hej! Jestem podekscytowany/a rozpoczeciem wspolpracy z <strong>{{ $('Przetworz dane klienta').item.json.klientNazwa }}</strong>.</p><div class='info'><strong>Szczegoly projektu</strong><div class='info-row'><span>ID Projektu</span><strong>{{ $('Przetworz dane klienta').item.json.projectId }}</strong></div><div class='info-row'><span>Pakiet</span><strong>{{ $('Przetworz dane klienta').item.json.pakiet }}</strong></div><div class='info-row'><span>Data startu</span><strong>{{ $('Przetworz dane klienta').item.json.dataPL }}</strong></div><div class='info-row'><span>Spotkanie kickoff</span><strong>{{ $('Przetworz dane klienta').item.json.kickoffPL }}</strong></div><div class='info-row'><span>Twoj PM</span><strong>{{ $('Przetworz dane klienta').item.json.pmImie }}</strong></div></div><p><strong>Co teraz?</strong></p><div class='step'><h3>1. Wypelnij brief (5-10 minut)</h3><p>Krotka ankieta o Twojej firmie i celach marketingowych</p></div><div class='step'><h3>2. Nadaj nam dostepu</h3><p>Wyslemy Ci osobny email z lista dostepo do przekazania</p></div><div class='step'><h3>3. Spotkanie kickoff</h3><p>45-minutowe spotkanie online - omowimy strategie</p></div><a href='https://tally.so/r/FORMULARZ_ID' class='btn'>Wypelnij brief teraz</a><p style='color:#6B7280;font-size:13px'>Pytania? Pisz: <strong>{{ $('Przetworz dane klienta').item.json.pmEmail }}</strong> lub dzwon: +48 123 456 789</p></div><div class='foot'>Twoja Agencja Marketingowa | kontakt@agencja.pl</div></div></body></html>",
        "options": {
          "replyTo": "={{ $('Przetworz dane klienta').item.json.pmEmail }}"
        }
      },
      "id": "1152b03a-d2e6-4239-938e-c83f9c0f3dec",
      "name": "Gmail - Email powitalny do klienta",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        448,
        64
      ],
      "webhookId": "c74d837b-bdb8-4120-9b9d-5f64a0092bb3"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Przetworz dane klienta').item.json.klientEmail }}",
        "subject": "Lista dostepow do przekazania - akcja wymagana",
        "message": "=<!DOCTYPE html><html><head><meta charset='UTF-8'><style>body{font-family:Arial,sans-serif;color:#1F2937}.wrap{max-width:620px;margin:0 auto}.head{background:#1F2937;color:white;padding:30px;border-radius:8px 8px 0 0}.body{background:#F9FAFB;padding:30px;border:1px solid #E5E7EB}.card{background:white;border:1px solid #E5E7EB;border-radius:8px;padding:18px;margin-bottom:12px}.card h3{margin:0 0 8px 0;font-size:15px}.card ul{margin:0;padding-left:18px;color:#4B5563;font-size:13px;line-height:1.8}.required{border-left:4px solid #EF4444}.optional{border-left:4px solid #F59E0B}.badge{font-size:11px;padding:2px 8px;border-radius:20px;font-weight:bold;margin-left:8px}.badge-r{background:#FEE2E2;color:#DC2626}.badge-o{background:#FEF3C7;color:#D97706}.btn{display:inline-block;background:#2563EB;color:white;padding:14px 28px;border-radius:6px;text-decoration:none;font-weight:bold;margin-top:15px}.foot{background:#374151;color:#9CA3AF;padding:15px;text-align:center;font-size:12px;border-radius:0 0 8px 8px}</style></head><body><div class='wrap'><div class='head'><h2 style='margin:0'>Lista potrzebnych dostepow</h2><p style='margin:8px 0 0 0;opacity:.8'>{{ $('Przetworz dane klienta').item.json.projectId }} | {{ $('Przetworz dane klienta').item.json.klientNazwa }}</p></div><div class='body'><p>Aby sprawnie rozpoczac prace potrzebujemy dostepu do ponizszych narzedzi.</p><div class='card required'><h3>Meta Business Suite <span class='badge badge-r'>WYMAGANE</span></h3><ul><li>Dodaj nas jako partnera: ID <strong>123456789</strong></li><li>Lub dodaj <strong>meta@agencja.pl</strong> jako admina</li><li>Uprawnienia: Pelny dostep do konta reklamowego</li></ul></div><div class='card required'><h3>Google Ads <span class='badge badge-r'>WYMAGANE</span></h3><ul><li>Zaprос: <strong>google@agencja.pl</strong></li><li>Rola: Administrator</li></ul></div><div class='card required'><h3>Google Analytics 4 <span class='badge badge-r'>WYMAGANE</span></h3><ul><li>Zaprос: <strong>analytics@agencja.pl</strong></li><li>Rola: Edytujacy</li></ul></div><div class='card optional'><h3>Google Search Console <span class='badge badge-o'>OPCJONALNE</span></h3><ul><li>Zaprос: <strong>seo@agencja.pl</strong></li><li>Uprawnienia: Wlasciciel delegowany</li></ul></div><p>Masz problem z dostepami? Omowimy to na kickoffie lub zadzwon: <strong>+48 123 456 789</strong></p><a href='https://calendly.com/TWOJ-LINK' class='btn'>Umow kickoff</a></div><div class='foot'>Twoja Agencja | pm@agencja.pl</div></div></body></html>",
        "options": {
          "replyTo": "={{ $('Przetworz dane klienta').item.json.pmEmail }}"
        }
      },
      "id": "dffab63b-edbd-4dc7-8d40-3cb16b1c8ce9",
      "name": "Gmail - Email lista dostepow",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        448,
        224
      ],
      "webhookId": "c039834d-7db4-4c8e-b664-5d6aacd097b3"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Przetworz dane klienta').item.json.pmEmail }}",
        "subject": "=NOWY KLIENT - {{ $('Przetworz dane klienta').item.json.klientNazwa }} | {{ $('Przetworz dane klienta').item.json.projectId }}",
        "message": "=<!DOCTYPE html><html><head><meta charset='UTF-8'><style>body{font-family:Arial,sans-serif;color:#1F2937}.wrap{max-width:560px;margin:0 auto;padding:20px}.head{background:#059669;color:white;padding:25px;border-radius:8px;margin-bottom:15px}.done{background:#ECFDF5;border:2px solid #6EE7B7;border-radius:8px;padding:15px;margin-bottom:15px}.card{background:#F9FAFB;border:1px solid #E5E7EB;border-radius:8px;padding:20px;margin-bottom:15px}.row{display:flex;padding:8px 0;border-bottom:1px solid #E5E7EB;font-size:14px}.row:last-child{border-bottom:none}.lbl{color:#6B7280;width:150px;flex-shrink:0}.val{font-weight:600}.todo{list-style:none;padding:0;margin:0}.todo li{padding:10px 0;border-bottom:1px solid #E5E7EB;font-size:14px}.todo li:last-child{border-bottom:none}.btn{display:inline-block;padding:11px 18px;border-radius:6px;text-decoration:none;font-weight:bold;margin:4px;font-size:13px}.btn-blue{background:#2563EB;color:white}.btn-green{background:#059669;color:white}</style></head><body><div class='wrap'><div class='head'><h2 style='margin:0'>Nowy klient - onboarding uruchomiony!</h2><p style='margin:6px 0 0 0;opacity:.9'>Automatyczne emaile wyslane do klienta</p></div><div class='done'><strong>Co zostalo zrobione automatycznie:</strong><ul style='margin:8px 0 0 0;padding-left:18px;color:#065F46;font-size:13px'><li>Email powitalny wyslany do klienta</li><li>Email z lista dostepow wyslany</li><li>Folder na Google Drive utworzony</li><li>Klient dodany do Google Sheets CRM</li><li>Zadanie w ClickUp utworzone</li></ul></div><div class='card'><strong>Dane klienta</strong><div class='row'><span class='lbl'>ID Projektu</span><span class='val'>{{ $('Przetworz dane klienta').item.json.projectId }}</span></div><div class='row'><span class='lbl'>Klient</span><span class='val'>{{ $('Przetworz dane klienta').item.json.klientNazwa }}</span></div><div class='row'><span class='lbl'>Email</span><span class='val'>{{ $('Przetworz dane klienta').item.json.klientEmail }}</span></div><div class='row'><span class='lbl'>Telefon</span><span class='val'>{{ $('Przetworz dane klienta').item.json.klientTelefon }}</span></div><div class='row'><span class='lbl'>Pakiet</span><span class='val'>{{ $('Przetworz dane klienta').item.json.pakiet }}</span></div><div class='row'><span class='lbl'>Wartosc</span><span class='val'>{{ $('Przetworz dane klienta').item.json.wartoscUmowy }} zl/mies</span></div><div class='row'><span class='lbl'>Kickoff</span><span class='val'>{{ $('Przetworz dane klienta').item.json.kickoffPL }}</span></div></div><div class='card'><strong>Twoja lista zadan PM</strong><ul class='todo'><li>☐ Zadzwon do klienta i przedstaw sie (dzis)</li><li>☐ Umow kickoff na {{ $('Przetworz dane klienta').item.json.kickoffPL }}</li><li>☐ Sprawdz brief po 24h</li><li>☐ Sprawdz dostepu po 48h</li><li>☐ Przygotuj agendę kickoffa</li></ul></div><div style='text-align:center;margin-top:15px'><a href='{{ $('Drive - Folder glowny klienta').item.json.webViewLink }}' class='btn btn-blue'>Folder Drive</a><a href='https://docs.google.com/spreadsheets/d/SHEETS_ID' class='btn btn-green'>CRM Sheets</a></div></div></body></html>",
        "options": {}
      },
      "id": "e3c4e8dd-7ecd-4090-8ec8-f69a75309c3d",
      "name": "Gmail - Powiadom PM",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        448,
        384
      ],
      "webhookId": "a7745618-c8b3-445f-937e-4a49ad87ea1c"
    },
    {
      "parameters": {
        "amount": 24
      },
      "id": "518d6f14-0f06-4852-9840-0bec5103759f",
      "name": "Czekaj 24h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        672,
        208
      ],
      "webhookId": "onboard-wait-24h"
    },
    {
      "parameters": {
        "operation": "getRows",
        "documentId": {
          "value": "SHEETS_ID",
          "__rl": true,
          "mode": "id"
        }
      },
      "id": "553aaa7d-af75-4391-a7fa-eae1bb06e6d2",
      "name": "Sheets - Sprawdz czy brief wyslany",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        880,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "cond-brief-001",
              "leftValue": "={{ $json['Brief wyslany'] }}",
              "rightValue": "NIE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "all"
        },
        "options": {}
      },
      "id": "db463bae-36aa-47e2-a4ae-1e9ffa80ef39",
      "name": "Czy brief NIE wyslany",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1104,
        208
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Przetworz dane klienta').item.json.klientEmail }}",
        "subject": "Przypomnienie - czekamy na Twoj brief!",
        "message": "=<!DOCTYPE html><html><head><meta charset='UTF-8'><style>body{font-family:Arial,sans-serif;color:#1F2937}.wrap{max-width:560px;margin:0 auto}.head{background:#F59E0B;color:white;padding:25px;border-radius:8px 8px 0 0;text-align:center}.body{background:#FFFBEB;padding:30px;border:1px solid #FCD34D}.btn{display:block;background:#F59E0B;color:white;padding:16px;border-radius:8px;text-decoration:none;font-weight:bold;text-align:center;margin:20px 0;font-size:15px}.foot{background:#374151;color:#9CA3AF;padding:15px;text-align:center;font-size:12px;border-radius:0 0 8px 8px}</style></head><body><div class='wrap'><div class='head'><div style='font-size:32px;margin-bottom:8px'>⏰</div><h2 style='margin:0'>Czekamy na Twoj brief!</h2></div><div class='body'><p>Hej <strong>{{ $('Przetworz dane klienta').item.json.klientNazwa }}</strong>!</p><p>Wczoraj wyslalismy Ci link do briefu, ale jeszcze go nie wypelniłes/as.</p><p>Brief zajmuje tylko <strong>5-10 minut</strong> i jest potrzebny abysmy mogli przygotowac dla Ciebie najlepsza strategie przed kickoffem zaplanowanym na <strong>{{ $('Przetworz dane klienta').item.json.kickoffPL }}</strong>.</p><a href='https://tally.so/r/FORMULARZ_ID' class='btn'>Wypelnij brief teraz (5 minut)</a><p style='color:#92400E;font-size:13px'>Masz pytania? Zadzwon: <strong>+48 123 456 789</strong></p></div><div class='foot'>Twoja Agencja | pm@agencja.pl</div></div></body></html>",
        "options": {}
      },
      "id": "15f5023b-cfb4-4127-8858-41e99e7cdfbe",
      "name": "Gmail - Przypomnienie o briefie",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1328,
        112
      ],
      "webhookId": "237612d7-61d5-45a8-9a89-b3f6e60469b9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.clickup.com/api/v2/list/CLICKUP_LIST_ID/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ '[PILNE] Brief nie wyslany - ' + $('Przetworz dane klienta').item.json.klientNazwa }}"
            },
            {
              "name": "description",
              "value": "={{ 'Klient ' + $('Przetworz dane klienta').item.json.klientNazwa + ' nie wypelnil briefu po 24h.\\nEmail: ' + $('Przetworz dane klienta').item.json.klientEmail + '\\nTelefon: ' + $('Przetworz dane klienta').item.json.klientTelefon + '\\nID: ' + $('Przetworz dane klienta').item.json.projectId }}"
            },
            {
              "name": "priority",
              "value": "1"
            },
            {
              "name": "status",
              "value": "WYMAGA UWAGI"
            }
          ]
        },
        "options": {}
      },
      "id": "b89c7f96-550f-43b4-8905-eea512d75416",
      "name": "ClickUp - Zadanie alert brak briefu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Onboarding uruchomiony\" }",
        "options": {}
      },
      "id": "631f81c0-3ae0-4052-936e-285c82f3dbc7",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -224,
        384
      ]
    }
  ],
  "connections": {
    "Webhook - Nowy Klient": {
      "main": [
        [
          {
            "node": "Przetworz dane klienta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przetworz dane klienta": {
      "main": [
        [
          {
            "node": "Drive - Folder glowny klienta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive - Folder glowny klienta": {
      "main": [
        [
          {
            "node": "Drive - Subfolder Briefs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Drive - Subfolder Grafiki",
            "type": "main",
            "index": 0
          },
          {
            "node": "Drive - Subfolder Raporty",
            "type": "main",
            "index": 0
          },
          {
            "node": "Drive - Subfolder Tresci",
            "type": "main",
            "index": 0
          },
          {
            "node": "Drive - Subfolder Dokumenty",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets - Dodaj klienta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Dodaj klienta": {
      "main": [
        [
          {
            "node": "ClickUp - Stworz zadanie onboarding",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Email powitalny do klienta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Email lista dostepow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Powiadom PM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Czekaj 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Czekaj 24h": {
      "main": [
        [
          {
            "node": "Sheets - Sprawdz czy brief wyslany",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Sprawdz czy brief wyslany": {
      "main": [
        [
          {
            "node": "Czy brief NIE wyslany",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Czy brief NIE wyslany": {
      "main": [
        [
          {
            "node": "Gmail - Przypomnienie o briefie",
            "type": "main",
            "index": 0
          },
          {
            "node": "ClickUp - Zadanie alert brak briefu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "072bba04-dd60-4e26-9541-6f12d67c1c27",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-04T10:11:01.816Z",
      "createdAt": "2026-04-04T10:11:01.816Z",
      "role": "workflow:owner",
      "workflowId": "zlNS8pG1fMcHXOIW",
      "projectId": "MQ48RGzyImrotRcN"
    }
  ],
  "activeVersion": null,
  "tags": []
}