Backup_2026-00-23/Planner → Auto Post.json
{
  "updatedAt": "2026-04-23T16:29:01.197Z",
  "createdAt": "2026-04-16T19:45:22.605Z",
  "id": "D7UrG9EwWBNgiwmZ",
  "name": "Planner → Auto Post",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "Po zmianie danych w googlesheetzczytuje dane i je zmienia w clickup",
        "height": 896,
        "width": 3156,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        1392
      ],
      "typeVersion": 1,
      "id": "a64eca06-8f41-444f-8a35-51a66ff72be9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconsole.log('=== DEBUG KLIENT ===');\nconsole.log('spreadsheetId:', data.spreadsheetId);\nconsole.log('sheetName:', data.sheetName);\nconsole.log('clickupListaId:', data.clickupListaId);\nconsole.log('długość ID:', (data.spreadsheetId || '').length);\n\n// Walidacja\nif (!data.spreadsheetId || data.spreadsheetId.length < 10) {\n  throw new Error(`Nieprawidłowy spreadsheetId: \"${data.spreadsheetId}\"`);\n}\n\nif (!data.sheetName) {\n  throw new Error('Brak sheetName');\n}\n\nreturn [{ json: data }];"
      },
      "id": "82993db5-8e0a-46ed-84e1-aa0b4517543c",
      "name": "🔍 Debug Klient1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        1856
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 20
            }
          ]
        }
      },
      "id": "d5111b9b-0188-4679-a6d9-17ca103d9ca2",
      "name": "⏰ Cron 7:2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1520,
        1856
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10RUnyZjd4IAe4-uImJ9NInGU2gbJJtYo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "id": "65253633-32f2-4b05-a661-4efccc509747",
      "name": "📋 Get Master Sheet4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1728,
        1856
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "74af5542-4d4f-44b4-9f8e-a685acb92a64",
      "name": "🔄 SplitInBatches4",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1952,
        1856
      ]
    },
    {
      "parameters": {
        "jsCode": "const client = $input.first().json;\n\nconst isActive = String(client.aktywny || '').toUpperCase().trim();\nif (isActive !== 'TRUE' && isActive !== '1' && isActive !== 'TAK') {\n  return [{ json: { __skip: true, powod: 'nieaktywny', klient: client.nazwa } }];\n}\n\nif (!client.spreadsheet_id || !client.clickup_lista_id) {\n  return [{ json: { __skip: true, powod: 'brak spreadsheet_id lub clickup_lista_id', klient: client.nazwa } }];\n}\n\nconst MONTHS_PL = [\n  'STYCZEŃ','LUTY','MARZEC','KWIECIEŃ',\n  'MAJ','CZERWIEC','LIPIEC','SIERPIEŃ',\n  'WRZESIEŃ','PAŹDZIERNIK','LISTOPAD','GRUDZIEŃ'\n];\n\nconst now = new Date();\n\n// 🔥 generujemy 2 miesiące\nconst results = [];\n\nfor (let i = 0; i < 2; i++) {\n  const futureDate = new Date(now.getFullYear(), now.getMonth() + i, 1);\n\n  const sheetName = `${MONTHS_PL[futureDate.getMonth()]} CONTENT CALENDAR`;\n\n  console.log(`✅ Klient: ${client.nazwa} → ${sheetName}`);\n\n  results.push({\n    json: {\n      __skip: false,\n      klientId: String(client.klient_id || ''),\n      klientNazwa: String(client.nazwa || ''),\n      spreadsheetId: String(client.spreadsheet_id || '').trim(),\n      clickupListaId: String(client.clickup_lista_id || '').trim(),\n      sheetName\n    }\n  });\n}\n\nreturn results.map((r, i) => {\n  console.log(`➡️ ITEM ${i}: ${r.json.sheetName}`);\n  return r;\n});"
      },
      "id": "d2dd131b-79d8-45e5-8d6a-c1f58b7bdbae",
      "name": "⚙️ Przygotuj Klienta4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        1872
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.__skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1e39d678-9887-4771-b93b-3e84fb256c92",
      "name": "❓ Czy Aktywny4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2400,
        1872
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/{{ encodeURIComponent($json.sheetName + '!A1:ZZ30') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "36f63fec-94df-411a-a853-9196c2b829de",
      "name": "📊 Get Sheet Data4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        1856
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.taskId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: $json.typPosta + ': ' + ($json.tytul || $json.opis?.slice(0, 60) || 'Brak tytułu'),\n\n  description: `**Klient:** ${$json.klientNazwa}\n**Data:** ${$json.postDateLabel}\n**Typ:** ${$json.typPosta} | ${$json.typGrafiki}\n\n---\n\n### Opis\n${$json.opis}\n\n### CTA\n${$json.cta}\n\n### Hasztagi\n${$json.hasztagi}\n\n### Grafika\n${$json.linkGrafiki}\n\n### Notatki\n${$json.notatki}\n\n### Feedback\n${$json.feedback}`,\n\n  due_date: $json.dueTimestamp || null\n  // status USUNIĘTY — ClickUp użyje domyślnego\n}) }}",
        "options": {}
      },
      "id": "b4189866-5ef5-4c15-bd13-515129f401d8",
      "name": "🔄 Update ClickUp4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        1584
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Ten node działa w trybie runOnceForEachItem\n// item = aktualny task z ClickUp (item.json)\n// $itemIndex = indeks obecnego itemu (0, 1, 2, ...)\n\nconst newTask = item.json;\n\nif (!newTask.id) {\n  throw new Error(`Brak ID taska — response: ${JSON.stringify(newTask).slice(0,300)}`);\n}\n\n// Pobierz WSZYSTKIE posty ze Split Rows, sparowane po indeksie\nconst allPosts = $('Code in JavaScript2').all();\nconst postData = allPosts[$itemIndex]?.json;\n\nif (!postData) {\n  throw new Error(`Brak postData dla indexu ${$itemIndex}. Dostępnych: ${allPosts.length}`);\n}\n\nif (!postData.colLetter) {\n  throw new Error(`Brak colLetter dla ${postData.tytul || '(brak tytułu)'} — keys: ${Object.keys(postData).join(', ')}`);\n}\n\n// writeRange BEZ apostrofów\nconst writeRange = `${postData.sheetName}!${postData.colLetter}25`;\n\nconsole.log(`✅ [${$itemIndex}] Task ${newTask.id} | ${postData.typPosta}: ${postData.tytul || '(brak tytułu)'} → ${writeRange}`);\n\nreturn {\n  json: {\n    newTaskId:     newTask.id,\n    writeRange,\n    spreadsheetId: postData.spreadsheetId,\n    sheetName:     postData.sheetName,\n    klientNazwa:   postData.klientNazwa,\n    tytul:         postData.tytul,\n    typPosta:      postData.typPosta,\n    colLetter:     postData.colLetter,\n    itemIndex:     $itemIndex\n  }\n};"
      },
      "id": "00ac8ece-4194-47f6-918c-7074730c395e",
      "name": "🆔 Wyciągnij Task ID1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3984,
        2096
      ]
    },
    {
      "parameters": {
        "jsCode": "const sheetResp  = $input.first().json;\nconst clientMeta = $('⚙️ Przygotuj Klienta4').first().json;\n\nconsole.log('=== PARSE START ===');\nconsole.log('Klient:', clientMeta.klientNazwa);\n\nif (sheetResp.error || !sheetResp.values) {\n  return [{\n    json: {\n      __noData: true,\n      klientNazwa: clientMeta.klientNazwa,\n      sheetName: clientMeta.sheetName\n    }\n  }];\n}\n\nconst rows = sheetResp.values;\n\nconst R = {\n  data: 4, tytul: 5, typGrafiki: 6, typPosta: 7,\n  linkGrafiki: 10, opis: 12, cta: 14, hasztagi: 16,\n  status: 18, notatki: 20, feedback: 22, taskId: 24,\n};\n\nfunction colToLetter(idx) {\n  let r = '', n = idx + 1;\n  while (n > 0) { n--; r = String.fromCharCode(65 + (n % 26)) + r; n = Math.floor(n / 26); }\n  return r;\n}\n\nfunction cell(rowIdx, colIdx) {\n  const row = rows[rowIdx];\n  if (!row || colIdx >= row.length) return '';\n  const val = row[colIdx];\n  if (val === null || val === undefined) return '';\n  return String(val).trim();\n}\n\n/* 🔥 DODANE: ROW 8 i 9 */\nfunction getOpisGrafiki(col) {\n  const v = cell(8, col);\n  return v || null;\n}\n\nfunction getOpisVideo(col) {\n  const v = cell(9, col);\n  return v || null;\n}\n\nconst MO = {\n  'stycznia':0,'lutego':1,'marca':2,'kwietnia':3,\n  'maja':4,'czerwca':5,'lipca':6,'sierpnia':7,\n  'września':8,'października':9,'listopada':10,'grudnia':11\n};\n\nfunction parseDate(str) {\n  if (!str) return null;\n  const m = String(str).toLowerCase().match(\n    /(stycznia|lutego|marca|kwietnia|maja|czerwca|lipca|sierpnia|września|października|listopada|grudnia)\\s+(\\d{1,2}),?\\s+(\\d{4})/i\n  );\n  if (m) {\n    const mon = MO[m[1].toLowerCase()];\n    if (mon !== undefined) return new Date(Number(m[3]), mon, Number(m[2]));\n  }\n  return null;\n}\n\nconst SM = {\n  'APPROVED': 'Zatwierdzone przez klienta',\n  'WAITING FOR APPROVAL': 'Wyslane do klienta',\n  'NEEDS EDITING': 'Poprawki zakonczone',\n  'DRAFT': 'Do zrobienia',\n  'IN PROGRESS': 'W realizacji',\n  'PUBLISHED': 'W realizacji'\n};\n\nconst PUSTE = new Set(['','brak','none','null','undefined','task_id','task id','-','—','#ref!']);\nconst czyMaTask = id => id.length > 0 && !PUSTE.has(id.toLowerCase());\n\nconst maxCols = Math.max(0, ...rows.map(r => r?.length || 0));\nconst posts = [];\nlet currentDate = '', currentDateObj = null;\n\nfor (let col = 1; col < maxCols; col++) {\n\n  const dateInCol = cell(R.data, col);\n  if (dateInCol) {\n    currentDate = dateInCol;\n    currentDateObj = parseDate(dateInCol);\n  }\n\n  const tytul     = cell(R.tytul, col);\n  const opis      = cell(R.opis, col);\n  const linkRaw   = cell(R.linkGrafiki, col);\n  const typPosta  = cell(R.typPosta, col);\n  const typGraf   = cell(R.typGrafiki, col);\n  const statusRaw = cell(R.status, col);\n  const taskId    = cell(R.taskId, col);\n\n  const realTyp = typPosta && typPosta !== '-';\n  const realTytul = tytul && tytul !== '-';\n  const realOpis = opis && opis !== '-';\n  const realLink = linkRaw && !linkRaw.toLowerCase().includes('link to google');\n\n  if (!realTyp) continue;\n  if (!realTytul && !realOpis && !realLink) continue;\n\n  const cta      = cell(R.cta, col);\n  const hasztagi = cell(R.hasztagi, col);\n  const notatki  = cell(R.notatki, col);\n  const feedback = cell(R.feedback, col);\n\n  const cleanLink = realLink ? linkRaw : '';\n  const colLetter = colToLetter(col);\n  const juzMaTask = czyMaTask(taskId);\n\n  console.log(`  ${colLetter}: \"${tytul || opis?.slice(0,40)}\" | ${typPosta}`);\n\n  posts.push({\n    klientId: clientMeta.klientId,\n    klientNazwa: clientMeta.klientNazwa,\n    clickupListaId: clientMeta.clickupListaId,\n    spreadsheetId: clientMeta.spreadsheetId,\n    sheetName: clientMeta.sheetName,\n\n    colIdx: col,\n    colLetter,\n    writeRange: `${clientMeta.sheetName}!${colLetter}25`,\n\n    dataRaw: currentDate,\n    postDateISO: currentDateObj ? currentDateObj.toISOString() : null,\n    postDateLabel: currentDateObj\n      ? currentDateObj.toLocaleDateString('pl-PL', { weekday:'long', day:'numeric', month:'long', year:'numeric' })\n      : currentDate,\n    dueTimestamp: currentDateObj ? currentDateObj.getTime() : null,\n\n    tytul,\n    typGrafiki: typGraf,\n    typPosta,\n    linkGrafiki: cleanLink,\n\n    opis,\n    cta,\n    hasztagi,\n    notatki,\n    feedback,\n\n    /* 🔥 DODANE POLA */\n    OpisGrafiki: getOpisGrafiki(col),\n    OpisVideo: getOpisVideo(col),\n\n    statusRaw,\n    clickupStatus: SM[statusRaw?.toUpperCase()?.trim()] || 'Do zrobienia',\n\n    taskId,\n    juzMaTask,\n\n    __noData: false\n  });\n}\n\nconsole.log(`📊 ${clientMeta.klientNazwa}: ${posts.length} REALNYCH postów`);\n\nif (posts.length === 0) {\n  return [{ json: { __noData: true, klientNazwa: clientMeta.klientNazwa } }];\n}\n\nreturn posts.map(p => ({ json: p }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        1856
      ],
      "id": "8ed906c1-4370-43c7-bae0-b4d24811edea",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "task-exists",
              "leftValue": "={{ $json.juzMaTask }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "24de0dd1-30cf-4b37-ba48-f6dfec717204",
      "name": "❓ IF task_id exists4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3248,
        1856
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/field/{{ $json.field_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"value\": \"{{$json.value}}\"  \n}",
        "options": {}
      },
      "id": "693db1c5-8b2e-4a5a-9ebc-6e6472e96ed9",
      "name": "🔄 Update ClickUp5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        1680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/field/{{ $json.field_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"value\": \"{{$json.value}}\"\n}",
        "options": {}
      },
      "id": "cf6dceeb-3181-4ef4-b983-de8c24eb9296",
      "name": "🔄 Update ClickUp7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        1808
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{$json.status}}\"\n}",
        "options": {}
      },
      "id": "ae611d0c-f780-4b64-b155-78a79e5a6b0e",
      "name": "🔄 Update ClickUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        1952
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/field/{{ $json.field_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  { \n    value: $json.value \n  } \n}}",
        "options": {}
      },
      "id": "d17f89f2-5bf8-4eea-bf7c-15f2074bb325",
      "name": "🔄 Update ClickUp6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        1552
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/assignee/284536279",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "3e2b35e5-5c46-43ae-bcae-c1dc01d6ea5d",
      "name": "🔄 Update ClickUp11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\n\nconst FIELDS = {\n  OpisGrafiki: \"e5e1f027-cdcd-4542-850f-494d2d2918f0\",\n  OpisVideo: \"1c50c888-79d1-4bf1-bc19-32b8fa7b12f6\",\n};\n\nconst USERS = {\n  grafika: \"100799249\",\n  video: \"100799248\",\n};\n\nconst clean = (v) => {\n  if (v === null || v === undefined) return null;\n  const s = String(v).trim();\n  return s.length ? s : null;\n};\n\nconst grouped = {};\n\nfor (const item of input) {\n  const i = item.json;\n\n  const taskId = i.taskId;\n  if (!taskId) continue;\n\n  if (!grouped[taskId]) {\n    grouped[taskId] = {\n      task_id: taskId,\n      fields: [],\n      assignees: []\n    };\n  }\n\n  const grafika = clean(i.OpisGrafiki);\n  if (grafika) {\n    grouped[taskId].fields.push({\n      field_id: FIELDS.OpisGrafiki,\n      value: grafika\n    });\n\n    grouped[taskId].assignees.push(USERS.grafika);\n  }\n\n  const video = clean(i.OpisVideo);\n  if (video) {\n    grouped[taskId].fields.push({\n      field_id: FIELDS.OpisVideo,\n      value: video\n    });\n\n    grouped[taskId].assignees.push(USERS.video);\n  }\n}\n\n// 🔥 FINAL CLEAN (tylko liczby + unique)\nreturn Object.values(grouped)\n  .filter(t => t.fields.length > 0)\n  .map(t => ({\n    json: {\n      task_id: t.task_id,\n      fields: t.fields,\n\n      // 🔥 TYLKO CYFRY, BEZ SET, BEZ OBJECT WRAPPERÓW\n      assignees: [...new Set(t.assignees)].map(id => String(id))\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        1408
      ],
      "id": "46b035f5-e4ab-4897-9352-eca174a7bae2",
      "name": "Nadanie zadania"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const clean = (v) => {\n    if (v === null || v === undefined) return \"\";\n    return String(v)\n      .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n      .trim();\n  };\n\n  const taskId = input.taskId;\n\n  const fields = [\n    {\n      field_id: \"e5e1f027-cdcd-4542-850f-494d2d2918f0\", // OPIS GRAFIKI\n      value: clean(input.OpisGrafiki)\n    },\n    {\n      field_id: \"1c50c888-79d1-4bf1-bc19-32b8fa7b12f6\", // OPIS VIDEO\n      value: clean(input.OpisVideo)\n    }\n  ];\n\n  return fields\n    .filter(f => f.value) // 🔥 usuwa puste wartości\n    .map(f => ({\n      json: {\n        task_id: taskId,\n        field_id: f.field_id,\n        value: f.value\n      }\n    }));\n}).flat();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        1552
      ],
      "id": "528c5e81-6801-4474-9d7d-2d33abbda00e",
      "name": "Opis grafiki i video"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const clean = (v) => {\n    if (v === null || v === undefined) return \"\";\n    return String(v)\n      .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n      .trim();\n  };\n\n  const taskId = input.taskId;\n\n  \n\n  const fields = [\n    {\n      field_id: \"a2dcc87f-b93f-4175-a8a2-db3d7529544f\", // CTA\n      value: clean(input.cta)\n    },\n    {\n      field_id: \"5da4add7-0b96-48ec-bdfb-07d7a866895c\", // HASZTAGI\n      value: clean(input.hasztagi)\n    },\n    {\n      field_id: \"22bb4c6b-4abe-4c96-b176-540727c32889\", // FEEDBACK\n      value: clean(input.feedback)\n    }\n  ];\n\n  return fields.map(f => ({\n    json: {\n      task_id: taskId,\n      field_id: f.field_id,\n      value: f.value\n    }\n  }));\n}).flat();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        1680
      ],
      "id": "46d9400b-6181-4feb-a916-b45879d343ff",
      "name": "Hasztagi, cta, notatki"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const clean = (v) => {\n    if (!v) return \"\";\n    return String(v)\n      .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n      .trim();\n  };\n\n  return {\n    json: {\n      task_id: input.taskId,\n      field_id: \"d977d8a5-be0b-441c-b05b-126d6baddf6e\",\n      value: clean($input.first().json.linkGrafiki)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        1808
      ],
      "id": "57cefdcf-3ff3-4474-bea8-783dfb1a5b37",
      "name": "Link grafiki"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const status = ({\n    'DO ZROBIENIA': 'DO ZROBIENIA',\n    'W REALIZACJI': 'W REALIZACJI',\n    'WYSLANE DO KLIENTA': 'WYSLANE DO KLIENTA',\n    'ZATWIERDZONE PRZEZ KLIENTA': 'ZATWIERDZONE PRZEZ KLIENTA',\n    'POPRAWKI': 'POPRAWKI',\n    'ZAKONCZONE': 'ZAKONCZONE'\n  })[(input.statusRaw || '').toUpperCase().trim()] || 'DO ZROBIENIA';\n\n  return {\n    json: {\n      task_id: input.taskId,\n      status: status\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        1952
      ],
      "id": "c56f9ae1-a245-44a8-ab46-413edf1f3050",
      "name": "Statusy"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/list/{{ $('⚙️ Przygotuj Klienta4').item.json.clickupListaId }}/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: $json.typPosta + ': ' + ($json.tytul || $json.opis?.slice(0, 60) || 'Brak tytułu'),\n\n  description: `**Klient:** ${$json.klientNazwa}\n**Data:** ${$json.postDateLabel}\n**Typ:** ${$json.typPosta} | ${$json.typGrafiki}\n\n---\n\n### Opis\n${$json.opis}\n\n### CTA\n${$json.cta}\n\n### Hasztagi\n${$json.hasztagi}\n\n### Grafika\n${$json.linkGrafiki}\n\n### Notatki\n${$json.notatki}\n\n### Feedback\n${$json.feedback}`,\n\n  due_date: $json.dueTimestamp || null,\n\n  status: ({\n    'DO ZROBIENIA': 'DO ZROBIENIA',\n    'W REALIZACJI': 'W REALIZACJI',\n    'WYSLANE DO KLIENTA': 'WYSLANE DO KLIENTA',\n    'ZATWIERDZONE PRZEZ KLIENTA': 'ZATWIERDZONE PRZEZ KLIENTA',\n    'POPRAWKI': 'POPRAWKI',\n    'ZAKONCZONE': 'ZAKONCZONE'\n  })[$json.statusRaw] || 'DO ZROBIENIA'\n}) }}",
        "options": {}
      },
      "id": "fda37841-cc79-4e57-bdc3-2d4c20d62c8d",
      "name": "Utworzenie Taska",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        2096
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('⚙️ Przygotuj Klienta4').item.json.spreadsheetId }}/values/{{ encodeURIComponent($json.writeRange) }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"{{ $json.writeRange }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [[\"{{ $json.newTaskId }}\"]]\n}",
        "options": {}
      },
      "id": "151afa28-27a8-4160-a6e4-134c4f8184e4",
      "name": "ID doGoogle sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4224,
        2096
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.log(`⏭️ Następny klient po: ${d.klientNazwa || d.tytul || 'nieznany'}`);\nreturn [{ json: d }];"
      },
      "id": "bf60e20b-4354-4214-ac4d-4bf8cd4d5828",
      "name": "➡️ Następny Klient1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        2080
      ]
    },
    {
      "parameters": {
        "content": "(Przyszly miesiac, co 5 min) Po zmianie danych w googlesheetzczytuje dane i je zmienia w clickup",
        "height": 896,
        "width": 3156,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        2416
      ],
      "typeVersion": 1,
      "id": "385fb896-89f9-4f63-968a-52f42208c1b2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconsole.log('=== DEBUG KLIENT ===');\nconsole.log('spreadsheetId:', data.spreadsheetId);\nconsole.log('sheetName:', data.sheetName);\nconsole.log('clickupListaId:', data.clickupListaId);\nconsole.log('długość ID:', (data.spreadsheetId || '').length);\n\n// Walidacja\nif (!data.spreadsheetId || data.spreadsheetId.length < 10) {\n  throw new Error(`Nieprawidłowy spreadsheetId: \"${data.spreadsheetId}\"`);\n}\n\nif (!data.sheetName) {\n  throw new Error('Brak sheetName');\n}\n\nreturn [{ json: data }];"
      },
      "id": "095a9142-445f-4c0c-bd9c-c5fd62f4cb26",
      "name": "🔍 Debug Klient",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        2880
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "cf41bac7-a743-4867-b2fa-28c66ee3098e",
      "name": "⏰ Cron 7:",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1520,
        2880
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10RUnyZjd4IAe4-uImJ9NInGU2gbJJtYo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "id": "c865d75f-323b-474c-af56-83d3aed384d8",
      "name": "📋 Get Master Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1728,
        2880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e2dd0380-ea0f-4cdd-8f04-dba1156d6219",
      "name": "🔄 SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1952,
        2880
      ]
    },
    {
      "parameters": {
        "jsCode": "const client = $input.first().json;\n\nconst isActive = String(client.aktywny || '').toUpperCase().trim();\nif (isActive !== 'TRUE' && isActive !== '1' && isActive !== 'TAK') {\n  return [{ json: { __skip: true, powod: 'nieaktywny', klient: client.nazwa } }];\n}\n\nif (!client.spreadsheet_id || !client.clickup_lista_id) {\n  return [{ json: { __skip: true, powod: 'brak spreadsheet_id lub clickup_lista_id', klient: client.nazwa } }];\n}\n\nconst MONTHS_PL = [\n  'STYCZEŃ','LUTY','MARZEC','KWIECIEŃ',\n  'MAJ','CZERWIEC','LIPIEC','SIERPIEŃ',\n  'WRZESIEŃ','PAŹDZIERNIK','LISTOPAD','GRUDZIEŃ'\n];\n\nconst now = new Date();\n\n// 🔥 generujemy TYLKO przyszły miesiąc\nconst results = [];\n\nfor (let i = 0; i < 2; i++) {\n\n  if (i === 0) continue; // ❌ pomijamy bieżący miesiąc\n\n  const futureDate = new Date(now.getFullYear(), now.getMonth() + i, 1);\n\n  const sheetName = `${MONTHS_PL[futureDate.getMonth()]} CONTENT CALENDAR`;\n\n  console.log(`✅ Klient: ${client.nazwa} → ${sheetName}`);\n\n  results.push({\n    json: {\n      __skip: false,\n      klientId: String(client.klient_id || ''),\n      klientNazwa: String(client.nazwa || ''),\n      spreadsheetId: String(client.spreadsheet_id || '').trim(),\n      clickupListaId: String(client.clickup_lista_id || '').trim(),\n      sheetName\n    }\n  });\n}\n\nreturn results.map((r, i) => {\n  console.log(`➡️ ITEM ${i}: ${r.json.sheetName}`);\n  return r;\n});"
      },
      "id": "35163936-8b54-4698-88fb-3d0ac197a2f0",
      "name": "⚙️ Przygotuj Klienta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        2896
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.__skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0853234f-9aa3-4896-968e-6d7be15a796b",
      "name": "❓ Czy Aktywny",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2400,
        2896
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/{{ encodeURIComponent($json.sheetName + '!A1:ZZ30') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "bfd09796-8994-4efd-8613-2a278a7c6dcf",
      "name": "📊 Get Sheet Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        2880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.taskId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: $json.typPosta + ': ' + ($json.tytul || $json.opis?.slice(0, 60) || 'Brak tytułu'),\n\n  description: `**Klient:** ${$json.klientNazwa}\n**Data:** ${$json.postDateLabel}\n**Typ:** ${$json.typPosta} | ${$json.typGrafiki}\n\n---\n\n### Opis\n${$json.opis}\n\n### CTA\n${$json.cta}\n\n### Hasztagi\n${$json.hasztagi}\n\n### Grafika\n${$json.linkGrafiki}\n\n### Notatki\n${$json.notatki}\n\n### Feedback\n${$json.feedback}`,\n\n  due_date: $json.dueTimestamp || null\n  // status USUNIĘTY — ClickUp użyje domyślnego\n}) }}",
        "options": {}
      },
      "id": "e2643000-74cf-4ad3-8bca-21a65b8dc41c",
      "name": "🔄 Update ClickUp8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        2608
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Ten node działa w trybie runOnceForEachItem\n// item = aktualny task z ClickUp (item.json)\n// $itemIndex = indeks obecnego itemu (0, 1, 2, ...)\n\nconst newTask = item.json;\n\nif (!newTask.id) {\n  throw new Error(`Brak ID taska — response: ${JSON.stringify(newTask).slice(0,300)}`);\n}\n\n// Pobierz WSZYSTKIE posty ze Split Rows, sparowane po indeksie\nconst allPosts = $('Code in JavaScript').all();\nconst postData = allPosts[$itemIndex]?.json;\n\nif (!postData) {\n  throw new Error(`Brak postData dla indexu ${$itemIndex}. Dostępnych: ${allPosts.length}`);\n}\n\nif (!postData.colLetter) {\n  throw new Error(`Brak colLetter dla ${postData.tytul || '(brak tytułu)'} — keys: ${Object.keys(postData).join(', ')}`);\n}\n\n// writeRange BEZ apostrofów\nconst writeRange = `${postData.sheetName}!${postData.colLetter}25`;\n\nconsole.log(`✅ [${$itemIndex}] Task ${newTask.id} | ${postData.typPosta}: ${postData.tytul || '(brak tytułu)'} → ${writeRange}`);\n\nreturn {\n  json: {\n    newTaskId:     newTask.id,\n    writeRange,\n    spreadsheetId: postData.spreadsheetId,\n    sheetName:     postData.sheetName,\n    klientNazwa:   postData.klientNazwa,\n    tytul:         postData.tytul,\n    typPosta:      postData.typPosta,\n    colLetter:     postData.colLetter,\n    itemIndex:     $itemIndex\n  }\n};"
      },
      "id": "cc57593e-be68-4b57-af81-6a28565773f1",
      "name": "🆔 Wyciągnij Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3984,
        3120
      ]
    },
    {
      "parameters": {
        "jsCode": "const sheetResp  = $input.first().json;\nconst clientMeta = $('⚙️ Przygotuj Klienta').first().json;\n\nconsole.log('=== PARSE START ===');\nconsole.log('Klient:', clientMeta.klientNazwa);\n\nif (sheetResp.error || !sheetResp.values) {\n  return [{\n    json: {\n      __noData: true,\n      klientNazwa: clientMeta.klientNazwa,\n      sheetName: clientMeta.sheetName\n    }\n  }];\n}\n\nconst rows = sheetResp.values;\n\nconst R = {\n  data: 4, tytul: 5, typGrafiki: 6, typPosta: 7,\n  linkGrafiki: 10, opis: 12, cta: 14, hasztagi: 16,\n  status: 18, notatki: 20, feedback: 22, taskId: 24,\n};\n\nfunction colToLetter(idx) {\n  let r = '', n = idx + 1;\n  while (n > 0) { n--; r = String.fromCharCode(65 + (n % 26)) + r; n = Math.floor(n / 26); }\n  return r;\n}\n\nfunction cell(rowIdx, colIdx) {\n  const row = rows[rowIdx];\n  if (!row || colIdx >= row.length) return '';\n  const val = row[colIdx];\n  if (val === null || val === undefined) return '';\n  return String(val).trim();\n}\n\n/* 🔥 DODANE: ROW 8 i 9 */\nfunction getOpisGrafiki(col) {\n  const v = cell(8, col);\n  return v || null;\n}\n\nfunction getOpisVideo(col) {\n  const v = cell(9, col);\n  return v || null;\n}\n\nconst MO = {\n  'stycznia':0,'lutego':1,'marca':2,'kwietnia':3,\n  'maja':4,'czerwca':5,'lipca':6,'sierpnia':7,\n  'września':8,'października':9,'listopada':10,'grudnia':11\n};\n\nfunction parseDate(str) {\n  if (!str) return null;\n  const m = String(str).toLowerCase().match(\n    /(stycznia|lutego|marca|kwietnia|maja|czerwca|lipca|sierpnia|września|października|listopada|grudnia)\\s+(\\d{1,2}),?\\s+(\\d{4})/i\n  );\n  if (m) {\n    const mon = MO[m[1].toLowerCase()];\n    if (mon !== undefined) return new Date(Number(m[3]), mon, Number(m[2]));\n  }\n  return null;\n}\n\nconst SM = {\n  'APPROVED': 'Zatwierdzone przez klienta',\n  'WAITING FOR APPROVAL': 'Wyslane do klienta',\n  'NEEDS EDITING': 'Poprawki zakonczone',\n  'DRAFT': 'Do zrobienia',\n  'IN PROGRESS': 'W realizacji',\n  'PUBLISHED': 'W realizacji'\n};\n\nconst PUSTE = new Set(['','brak','none','null','undefined','task_id','task id','-','—','#ref!']);\nconst czyMaTask = id => id.length > 0 && !PUSTE.has(id.toLowerCase());\n\nconst maxCols = Math.max(0, ...rows.map(r => r?.length || 0));\nconst posts = [];\nlet currentDate = '', currentDateObj = null;\n\nfor (let col = 1; col < maxCols; col++) {\n\n  const dateInCol = cell(R.data, col);\n  if (dateInCol) {\n    currentDate = dateInCol;\n    currentDateObj = parseDate(dateInCol);\n  }\n\n  const tytul     = cell(R.tytul, col);\n  const opis      = cell(R.opis, col);\n  const linkRaw   = cell(R.linkGrafiki, col);\n  const typPosta  = cell(R.typPosta, col);\n  const typGraf   = cell(R.typGrafiki, col);\n  const statusRaw = cell(R.status, col);\n  const taskId    = cell(R.taskId, col);\n\n  const realTyp = typPosta && typPosta !== '-';\n  const realTytul = tytul && tytul !== '-';\n  const realOpis = opis && opis !== '-';\n  const realLink = linkRaw && !linkRaw.toLowerCase().includes('link to google');\n\n  if (!realTyp) continue;\n  if (!realTytul && !realOpis && !realLink) continue;\n\n  const cta      = cell(R.cta, col);\n  const hasztagi = cell(R.hasztagi, col);\n  const notatki  = cell(R.notatki, col);\n  const feedback = cell(R.feedback, col);\n\n  const cleanLink = realLink ? linkRaw : '';\n  const colLetter = colToLetter(col);\n  const juzMaTask = czyMaTask(taskId);\n\n  console.log(`  ${colLetter}: \"${tytul || opis?.slice(0,40)}\" | ${typPosta}`);\n\n  posts.push({\n    klientId: clientMeta.klientId,\n    klientNazwa: clientMeta.klientNazwa,\n    clickupListaId: clientMeta.clickupListaId,\n    spreadsheetId: clientMeta.spreadsheetId,\n    sheetName: clientMeta.sheetName,\n\n    colIdx: col,\n    colLetter,\n    writeRange: `${clientMeta.sheetName}!${colLetter}25`,\n\n    dataRaw: currentDate,\n    postDateISO: currentDateObj ? currentDateObj.toISOString() : null,\n    postDateLabel: currentDateObj\n      ? currentDateObj.toLocaleDateString('pl-PL', { weekday:'long', day:'numeric', month:'long', year:'numeric' })\n      : currentDate,\n    dueTimestamp: currentDateObj ? currentDateObj.getTime() : null,\n\n    tytul,\n    typGrafiki: typGraf,\n    typPosta,\n    linkGrafiki: cleanLink,\n\n    opis,\n    cta,\n    hasztagi,\n    notatki,\n    feedback,\n\n    /* 🔥 DODANE POLA */\n    OpisGrafiki: getOpisGrafiki(col),\n    OpisVideo: getOpisVideo(col),\n\n    statusRaw,\n    clickupStatus: SM[statusRaw?.toUpperCase()?.trim()] || 'Do zrobienia',\n\n    taskId,\n    juzMaTask,\n\n    __noData: false\n  });\n}\n\nconsole.log(`📊 ${clientMeta.klientNazwa}: ${posts.length} REALNYCH postów`);\n\nif (posts.length === 0) {\n  return [{ json: { __noData: true, klientNazwa: clientMeta.klientNazwa } }];\n}\n\nreturn posts.map(p => ({ json: p }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        2880
      ],
      "id": "bed8a063-65f7-437e-b65c-00b958677eea",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "task-exists",
              "leftValue": "={{ $json.juzMaTask }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "152c2c89-aac8-42e7-ada1-cb72e6315e0d",
      "name": "❓ IF task_id exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3248,
        2880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/field/{{ $json.field_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"value\": \"{{$json.value}}\"  \n}",
        "options": {}
      },
      "id": "8d7fda88-728f-4366-acb1-adcb46b50644",
      "name": "🔄 Update ClickUp9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        2704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/field/{{ $json.field_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"value\": \"{{$json.value}}\"\n}",
        "options": {}
      },
      "id": "bc5f611c-f6d3-4577-8359-fd40f640e10e",
      "name": "🔄 Update ClickUp10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        2832
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{$json.status}}\"\n}",
        "options": {}
      },
      "id": "c6256816-a638-4408-a5a0-0bdd18730e19",
      "name": "🔄 Update ClickUp1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        2976
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/field/{{ $json.field_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  { \n    value: $json.value \n  } \n}}",
        "options": {}
      },
      "id": "9c2f753a-0f97-4331-8e27-3a34bdeeecb0",
      "name": "🔄 Update ClickUp17",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        2576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.task_id }}/assignee/284536279",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "5cd6c214-b0e7-4a53-9f06-e89206553caa",
      "name": "🔄 Update ClickUp18",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        2432
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const clean = (v) => {\n    if (v === null || v === undefined) return \"\";\n    return String(v)\n      .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n      .trim();\n  };\n\n  const taskId = input.taskId;\n\n  const fields = [\n    {\n      field_id: \"e5e1f027-cdcd-4542-850f-494d2d2918f0\", // OPIS GRAFIKI\n      value: clean(input.OpisGrafiki)\n    },\n    {\n      field_id: \"1c50c888-79d1-4bf1-bc19-32b8fa7b12f6\", // OPIS VIDEO\n      value: clean(input.OpisVideo)\n    }\n  ];\n\n  return fields\n    .filter(f => f.value) // 🔥 usuwa puste wartości\n    .map(f => ({\n      json: {\n        task_id: taskId,\n        field_id: f.field_id,\n        value: f.value\n      }\n    }));\n}).flat();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        2576
      ],
      "id": "42b6a60d-ad5a-4220-9499-5996f4d24e49",
      "name": "Opis grafiki i video1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const clean = (v) => {\n    if (v === null || v === undefined) return \"\";\n    return String(v)\n      .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n      .trim();\n  };\n\n  const taskId = input.taskId;\n\n  \n\n  const fields = [\n    {\n      field_id: \"a2dcc87f-b93f-4175-a8a2-db3d7529544f\", // CTA\n      value: clean(input.cta)\n    },\n    {\n      field_id: \"5da4add7-0b96-48ec-bdfb-07d7a866895c\", // HASZTAGI\n      value: clean(input.hasztagi)\n    },\n    {\n      field_id: \"22bb4c6b-4abe-4c96-b176-540727c32889\", // FEEDBACK\n      value: clean(input.feedback)\n    }\n  ];\n\n  return fields.map(f => ({\n    json: {\n      task_id: taskId,\n      field_id: f.field_id,\n      value: f.value\n    }\n  }));\n}).flat();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        2704
      ],
      "id": "d0335dba-3871-4087-a022-f21c7494e36d",
      "name": "Hasztagi, cta, notatki1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const clean = (v) => {\n    if (!v) return \"\";\n    return String(v)\n      .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n      .trim();\n  };\n\n  return {\n    json: {\n      task_id: input.taskId,\n      field_id: \"d977d8a5-be0b-441c-b05b-126d6baddf6e\",\n      value: clean($input.first().json.linkGrafiki)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        2832
      ],
      "id": "75f9d516-dad0-412c-9314-15310ba90928",
      "name": "Link grafiki1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const input = item.json;\n\n  const status = ({\n    'DO ZROBIENIA': 'DO ZROBIENIA',\n    'W REALIZACJI': 'W REALIZACJI',\n    'WYSLANE DO KLIENTA': 'WYSLANE DO KLIENTA',\n    'ZATWIERDZONE PRZEZ KLIENTA': 'ZATWIERDZONE PRZEZ KLIENTA',\n    'POPRAWKI': 'POPRAWKI',\n    'ZAKONCZONE': 'ZAKONCZONE'\n  })[(input.statusRaw || '').toUpperCase().trim()] || 'DO ZROBIENIA';\n\n  return {\n    json: {\n      task_id: input.taskId,\n      status: status\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        2976
      ],
      "id": "295295c5-2de6-4031-bb98-bff547cb2cf8",
      "name": "Statusy1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/list/{{ $('⚙️ Przygotuj Klienta').item.json.clickupListaId }}/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=pk_284536279_ARCLCZPXOG0PMONQ5IBNKY5UJDI4HJRE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  name: $json.typPosta + ': ' + ($json.tytul || $json.opis?.slice(0, 60) || 'Brak tytułu'),\n\n  description: `**Klient:** ${$json.klientNazwa}\n**Data:** ${$json.postDateLabel}\n**Typ:** ${$json.typPosta} | ${$json.typGrafiki}\n\n---\n\n### Opis\n${$json.opis}\n\n### CTA\n${$json.cta}\n\n### Hasztagi\n${$json.hasztagi}\n\n### Grafika\n${$json.linkGrafiki}\n\n### Notatki\n${$json.notatki}\n\n### Feedback\n${$json.feedback}`,\n\n  due_date: $json.dueTimestamp || null,\n\n  status: ({\n    'DO ZROBIENIA': 'DO ZROBIENIA',\n    'W REALIZACJI': 'W REALIZACJI',\n    'WYSLANE DO KLIENTA': 'WYSLANE DO KLIENTA',\n    'ZATWIERDZONE PRZEZ KLIENTA': 'ZATWIERDZONE PRZEZ KLIENTA',\n    'POPRAWKI': 'POPRAWKI',\n    'ZAKONCZONE': 'ZAKONCZONE'\n  })[$json.statusRaw] || 'DO ZROBIENIA'\n}) }}",
        "options": {}
      },
      "id": "0e296557-8f5f-4824-b341-f5fda7c993d7",
      "name": "Utworzenie Taska1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        3120
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('⚙️ Przygotuj Klienta').item.json.spreadsheetId }}/values/{{ encodeURIComponent($json.writeRange) }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"{{ $json.writeRange }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [[\"{{ $json.newTaskId }}\"]]\n}",
        "options": {}
      },
      "id": "98187595-5499-41fb-9916-280f5d29b99c",
      "name": "ID doGoogle sheets1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4224,
        3120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gJeIt92xAAewPaaC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.log(`⏭️ Następny klient po: ${d.klientNazwa || d.tytul || 'nieznany'}`);\nreturn [{ json: d }];"
      },
      "id": "3e2ca9c4-e226-403b-9795-415d2bf866c0",
      "name": "➡️ Następny Klient",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        3104
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\n\nconst FIELDS = {\n  OpisGrafiki: \"e5e1f027-cdcd-4542-850f-494d2d2918f0\",\n  OpisVideo: \"1c50c888-79d1-4bf1-bc19-32b8fa7b12f6\",\n};\n\nconst USERS = {\n  grafika: \"100799249\",\n  video: \"100799248\",\n};\n\nconst clean = (v) => {\n  if (v === null || v === undefined) return null;\n  const s = String(v).trim();\n  return s.length ? s : null;\n};\n\nconst grouped = {};\n\nfor (const item of input) {\n  const i = item.json;\n\n  const taskId = i.taskId;\n  if (!taskId) continue;\n\n  if (!grouped[taskId]) {\n    grouped[taskId] = {\n      task_id: taskId,\n      fields: [],\n      assignees: []\n    };\n  }\n\n  const grafika = clean(i.OpisGrafiki);\n  if (grafika) {\n    grouped[taskId].fields.push({\n      field_id: FIELDS.OpisGrafiki,\n      value: grafika\n    });\n\n    grouped[taskId].assignees.push(USERS.grafika);\n  }\n\n  const video = clean(i.OpisVideo);\n  if (video) {\n    grouped[taskId].fields.push({\n      field_id: FIELDS.OpisVideo,\n      value: video\n    });\n\n    grouped[taskId].assignees.push(USERS.video);\n  }\n}\n\n// 🔥 FINAL CLEAN (tylko liczby + unique)\nreturn Object.values(grouped)\n  .filter(t => t.fields.length > 0)\n  .map(t => ({\n    json: {\n      task_id: t.task_id,\n      fields: t.fields,\n\n      // 🔥 TYLKO CYFRY, BEZ SET, BEZ OBJECT WRAPPERÓW\n      assignees: [...new Set(t.assignees)].map(id => String(id))\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        2432
      ],
      "id": "748e660f-4158-4b3a-bb95-d39da0f87e0d",
      "name": "Nadanie zadania2"
    }
  ],
  "connections": {
    "🔍 Debug Klient1": {
      "main": [
        [
          {
            "node": "📊 Get Sheet Data4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cron 7:2": {
      "main": [
        [
          {
            "node": "📋 Get Master Sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Get Master Sheet4": {
      "main": [
        [
          {
            "node": "🔄 SplitInBatches4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 SplitInBatches4": {
      "main": [
        [],
        [
          {
            "node": "⚙️ Przygotuj Klienta4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Przygotuj Klienta4": {
      "main": [
        [
          {
            "node": "❓ Czy Aktywny4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Czy Aktywny4": {
      "main": [
        [
          {
            "node": "🔍 Debug Klient1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔄 SplitInBatches4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Get Sheet Data4": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🆔 Wyciągnij Task ID1": {
      "main": [
        [
          {
            "node": "ID doGoogle sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "❓ IF task_id exists4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ IF task_id exists4": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Statusy",
            "type": "main",
            "index": 0
          },
          {
            "node": "Nadanie zadania",
            "type": "main",
            "index": 0
          },
          {
            "node": "Opis grafiki i video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hasztagi, cta, notatki",
            "type": "main",
            "index": 0
          },
          {
            "node": "Link grafiki",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Utworzenie Taska",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Update ClickUp5": {
      "main": [
        [
          {
            "node": "➡️ Następny Klient1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Update ClickUp7": {
      "main": [
        [
          {
            "node": "➡️ Następny Klient1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Update ClickUp6": {
      "main": [
        []
      ]
    },
    "Nadanie zadania": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opis grafiki i video": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hasztagi, cta, notatki": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link grafiki": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Statusy": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Utworzenie Taska": {
      "main": [
        [
          {
            "node": "🆔 Wyciągnij Task ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID doGoogle sheets": {
      "main": [
        [
          {
            "node": "➡️ Następny Klient1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "➡️ Następny Klient1": {
      "main": [
        [
          {
            "node": "🔄 SplitInBatches4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Debug Klient": {
      "main": [
        [
          {
            "node": "📊 Get Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Cron 7:": {
      "main": [
        [
          {
            "node": "📋 Get Master Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Get Master Sheet": {
      "main": [
        [
          {
            "node": "🔄 SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 SplitInBatches": {
      "main": [
        [],
        [
          {
            "node": "⚙️ Przygotuj Klienta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Przygotuj Klienta": {
      "main": [
        [
          {
            "node": "❓ Czy Aktywny",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Czy Aktywny": {
      "main": [
        [
          {
            "node": "🔍 Debug Klient",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔄 SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Get Sheet Data": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🆔 Wyciągnij Task ID": {
      "main": [
        [
          {
            "node": "ID doGoogle sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "❓ IF task_id exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ IF task_id exists": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Statusy1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Opis grafiki i video1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hasztagi, cta, notatki1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Link grafiki1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Nadanie zadania2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Utworzenie Taska1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Update ClickUp9": {
      "main": [
        [
          {
            "node": "➡️ Następny Klient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Update ClickUp10": {
      "main": [
        [
          {
            "node": "➡️ Następny Klient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opis grafiki i video1": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hasztagi, cta, notatki1": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link grafiki1": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Statusy1": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Utworzenie Taska1": {
      "main": [
        [
          {
            "node": "🆔 Wyciągnij Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID doGoogle sheets1": {
      "main": [
        [
          {
            "node": "➡️ Następny Klient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "➡️ Następny Klient": {
      "main": [
        [
          {
            "node": "🔄 SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nadanie zadania2": {
      "main": [
        [
          {
            "node": "🔄 Update ClickUp18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:⏰ Cron 7:2": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "281a857e-b0b0-4143-8974-9e43f74e4bc5",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-16T19:45:22.609Z",
      "createdAt": "2026-04-16T19:45:22.609Z",
      "role": "workflow:owner",
      "workflowId": "D7UrG9EwWBNgiwmZ",
      "projectId": "MQ48RGzyImrotRcN"
    }
  ],
  "activeVersion": null,
  "tags": []
}